<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>产品信息</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__ROOT__/public/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__ROOT__/public/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__ROOT__/public/css/amazeui.min.css" />
    <link rel="stylesheet" href="__ROOT__/public/css/admin.css">
    <link rel="stylesheet" href="__ROOT__/public/css/app.css">
    <link rel="stylesheet" href="__ROOT__/public/css/goods.css">
</head>

<body data-type="generalComponents">
    <div class="tpl-content-page-title">
        Amaze UI 表单
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">产品信息</a></li>
        <li class="am-active">名片</li>
    </ol>

    <div class="am-g">
        <div class="am-u-sm-2">
            <div class="goods-title">商品</div>
        </div>
        <div class="am-u-sm-2">
            <div class="goods-title">规格</div>
        </div>
        <div class="am-u-sm-2">
            <div class="goods-title">尺寸</div>
        </div>
        <div class="am-u-sm-2">
            <div class="goods-title">印面</div>
        </div>
        <div class="am-u-sm-2">
            <div class="goods-title">数量</div>
        </div>
        <div class="am-u-sm-2">
            <div class="goods-title">工艺</div>
        </div>
    </div>

    <div class="am-g">
        <div class="goods-selection">
            <div class="am-u-sm-2">
                <div class="goods-name">
                    <ul class="goods-name-detail">
                        <li class="select-box select-box-selected"><a href="javascript:;">合版名片</a></li>
                        <li class="select-box"><a href="javascript:;">烫金名片</a></li>
                        <li class="select-box"><a href="javascript:;">烫金名片</a></li>
                    </ul>
                </div>
            </div>
            <div class="am-u-sm-2">
                <div class="goods-name">
                    <ul class="goods-name-detail">
                        <li class="select-box"><a href="javascript:;">铜版名片</a></li>
                        <li class="select-box"><a href="javascript:;">铜版名片</a></li>
                        <li class="select-box"><a href="javascript:;">铜版名片</a></li>
                    </ul>
                </div>
            </div>
            <div class="am-u-sm-2">
                <div class="goods-name">
                    <ul class="goods-name-detail">
                        <li class="select-box"><a href="javascript:;">92*52mm</a></li>
                        <li class="select-box"><a href="javascript:;">92*52mm</a></li>
                        <li class="select-box"><a href="javascript:;">92*52mm</a></li>
                    </ul>
                </div>
            </div>
            <div class="am-u-sm-2">
                <div class="goods-name">
                    <ul class="goods-name-detail">
                        <li class="select-box"><a href="javascript:;">双面</a></li>
                        <li class="select-box"><a href="javascript:;">双面</a></li>
                        <li class="select-box"><a href="javascript:;">双面</a></li>
                    </ul>
                </div>
            </div>
            <div class="am-u-sm-2">
                <div class="goods-name">
                    <ul class="goods-name-detail">
                        <li class="select-box"><a href="javascript:;">2盒</a></li>
                        <li class="select-box"><a href="javascript:;">2盒</a></li>
                        <li class="select-box"><a href="javascript:;">2盒</a></li>
                    </ul>
                </div>
            </div>
            <div class="am-u-sm-2">
                <div class="goods-name">
                    <ul class="goods-name-detail">
                        <li class="select-box"><a href="javascript:;">打孔</a></li>
                        <li class="select-box"><a href="javascript:;">打孔</a></li>
                        <li class="select-box"><a href="javascript:;">打孔</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>

    <script src="__ROOT__/public/js/jquery.min.js"></script>
    <script src="__ROOT__/public/js/amazeui.min.js"></script>
    <script src="__ROOT__/public/js/app.js"></script>
</body>

</html>