<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/css/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
  <link rel="stylesheet" href="__PUBLIC__/css/app.css" />
</head>
<body class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover xg-left-nav-3" nav="goodsHeader">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <div class="layui-tab layui-tab-card">
                <div class="layui-tab-content" style="height: 100px;">
                    <!-- 服务类型管理 -->
                        <button type="button" class="layui-btn layui-btn-warm" style="margin-top: 10px;margin-left: 5px;" onClick='addProductType()'>添加规格类型</button>
                        
                        <select id="product" name="product" lay-verify="required" lay-search="" lay-filter="changeProduct">
                                            <option value="">直接选择或搜索选择</option>
                                            <foreach name="productInfo" item="v">
                                                <if condition="$search['product'] == $v['id']">
                                                    <option value="{$v[id]}" selected="selected">{$v['type_name']}</option>
                                                <else/>
                                                    <option value="{$v['id']}" >{$v['type_name']}</option>
                                                </if>
                                            </foreach>
                                        </select>

                        <table class="layui-table" >
                          
                            <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th>规格名称</th>
                                    <th>规格名称拼音</th>
                                    <th>操作</th>
                                </tr> 
                            </thead>
                            <tbody>
                            <foreach name="productParameterInfo" item="v">
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>{$v['name']}</td>
                                    <td>{$v['name_pinyin']}</td>
                                    <td>
                                        <button type="button" onClick='updateProductParameter({$v['id']})'>编辑</button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" onClick='deleteProductParameter({$v['id']})'>删除</button>
                                    </td>
                                </tr>
                            </foreach>
                            
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
          
<script src="__PUBLIC__/css/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>
<script src="__PUBLIC__/js/plus.js"></script>
<script type="text/javascript">
    function addProductType(){
        layui.use('layer', function(){
          var layer = layui.layer;
          
          layer.open({
                type: 2,
                offset: '80px',
                title: '添加商品规格类型',
                area: ['700px', '400px'],
                // fixed: false, //不固定
                maxmin: true,
                content: '__APP__/Goods/addProductParameter',
            });
        }); 
    }

    function updateProductParameter(parameter_id){
        layui.use('layer', function(){
          var layer = layui.layer;
          
          layer.open({
                type: 2,
                offset: '80px',
                title: '修改商品规格类型',
                area: ['700px', '400px'],
                // fixed: false, //不固定
                maxmin: true,
                content: '__APP__/Goods/updateProductParameter/parameter_id/'+parameter_id,
            });
        });    
    }

    function deleteProductParameter(parameter_id){
        layui.use('layer', function(){
          var layer = layui.layer;

            layer.confirm('您确定要删除该条信息？', {
                icon: 3,
                anim:5,
                offset: '200px',
                title:'提示',
                btn: ['确定','取消'] //按钮
            }, function(){
                if(parameter_id){
                    $.ajax({
                        url:'__APP__/Goods/deleteProductParameter',
                        data:'parameter_id='+parameter_id,
                        type:'post',
                        dataType:'json',
                        success:function(res){
                            layer.confirm(res, {
                                icon: 1,
                                anim:5,
                                offset: '200px',
                                title:'提示',
                                btn: ['确定'] //按钮
                            }, function(){
                                window.location.reload();       
                            });
                        }
                    });

                }else{
                    layer.alert('删除失败！', {icon: 1,offset: '200px',title:'提示'});
                }          
            }, function(){
                layer.msg('删除已取消！', {
                time: 2000, //20s后自动关闭
                offset: '200px',
                // title:'提示'
                });
            });

        });    
    }
</script>



</body>
</html>