<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>产品详细规格信息管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/css/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
  <link rel="stylesheet" href="__PUBLIC__/css/app.css" />
  <style>
      .am-selected button { font-size: 14px; width: 130px; }
  </style>
</head>
<body class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover xg-left-nav-3" nav="goodsSpec">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            
            <ol class="am-breadcrumb" style="margin: 5px">
                <li><a href="__APP__/Index" class="am-icon-home">首页</a></li>
                <li class="am-active">产品详细规格管理</li>
            </ol>
            <div class="tpl-portlet-components" >
                <div class="portlet-title">
                    <div class="caption font-green bold">产品详细规格管理</div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-2 am-u-lg-2">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" onClick="addProductSpec()" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 添加产品规格信息</button>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition">
                            <div class="am-form-group"> 
                                <span style="font-size: 14px;vertical-align: middle;">服务类型</span>
                                <select id="product_type" name="product_type" onchange="changeProductTypeInfo()" data-am-selected="{maxHeight: 370,searchBox: 1}" >
                                    <option value="0" checked="checked">全部服务</option>
                                    <foreach name="productTypeInfo" item="v">
                                    <if condition="$search['product_type'] == $v['id']">
                                       <option value="{$v[id]}" selected="selected">{$v['type_name']}</option>
                                    <else/>
                                       <option value="{$v['id']}" >{$v['type_name']}</option>
                                    </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition">
                            <div class="am-form-group" > 
                                <span style="font-size: 14px;vertical-align: middle;">产品名称</span>
                                <select id="product" name="product" data-am-selected="{maxHeight: 370,searchBox: 1}" onchange="changeProduct()">
                                    <option value="0">全部产品</option>
                                    <foreach name="productInfo" item="v">
                                        <if condition="$search['product'] == $v['id']">
                                            <option value="{$v[id]}" selected="selected">{$v['type_name']}</option>
                                        <else/>
                                            <option value="{$v['id']}" >{$v['type_name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition">
                            <div class="am-form-group" > 
                                <span style="font-size: 14px;vertical-align: middle;">产品型号</span>
                                <select id="product_model" name="product_model" data-am-selected="{maxHeight: 370,searchBox: 1}" onchange="changeProductModel()">
                                    <option value="0">全部型号</option>
                                    <foreach name="productModelInfo" item="v">
                                        <if condition="$search['product_model'] == $v['id']">
                                            <option value="{$v[id]}" selected="selected">{$v['name']}</option>
                                        <else/>
                                            <option value="{$v['id']}" >{$v['name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition am-u-end">
                            <div class="am-form-group" > 
                                <span style="font-size: 14px;vertical-align: middle;">规格名称</span>
                                <select id="product_parameter" name="product_parameter" data-am-selected="{maxHeight: 370,searchBox: 1}" onchange="changeProductParameter()">
                                    <option value="0">全部规格</option>
                                    <foreach name="productParameterInfo" item="v">
                                        <if condition="$search['product_parameter'] == $v['id']">
                                            <option value="{$v[id]}" selected="selected">{$v['name']}</option>
                                        <else/>
                                            <option value="{$v['id']}" >{$v['name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="am-g ">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main ">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>规格</th>
                                            <th>规格名称</th>
                                            <th>产品型号</th>
                                            <th>产品名称</th>
                                            <th>服务类型</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="productSpecInfo" item="v" key="k">
                                            <tr class="xg-table-tr">
                                                <td>{$k+1}</td>
                                                <td>{$v['spec_value']}</td>
                                                <td>{$v['product_parameter']['name']}</td>
                                                <td>{$v['product_model']['name']}</td>
                                                <td>{$v['product']['type_name']}</td>
                                                <td>{$v['product_type']['type_name']}</td>
                                                <td>
                                                    <div class="am-btn-toolbar">
                                                        <div class="am-btn-group am-btn-group-xs">
                                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onClick="updateProductSpec({$v['id']})"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                            <button type="button" id="btn-del" class="am-btn am-btn-default am-btn-xs am-text-danger" onClick="deleteProductSpec({$v['id']})"><span class="am-icon-trash-o"></span> 删除</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                <div class="am-fr">{$pageStr}</div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
          

<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>
<script src="__PUBLIC__/js/plus.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>

<script type="text/javascript">
    function addProductSpec(){
        var powerName = 'addProductSpec';
        $.post("__APP__/Base/isPower",{"powerName":powerName},function(res){
            if(res == 0){
                layer.alert("您暂时没有该操作的权限！",{icon:4,title:"提示"});
                return false;
            }else{
                layer.open({
                    type: 2,
                    title: '添加产品规格',
                    area: ['900px', '550px'],
                    content: '__APP__/Goods/addProductSpec',
                });
            }
        });
    }

    function updateProductSpec(spec_id){
        var powerName = 'updateProductSpec';
        $.post("__APP__/Base/isPower",{"powerName":powerName},function(res){
            if(res == 0){
                layer.alert("您暂时没有该操作的权限！",{icon:4,title:"提示"});
                return false;
            }else{
                layer.open({
                    type: 2,
                    title: '修改产品规格',
                    area: ['900px', '550px'],
                    content: '__APP__/Goods/updateProductSpec/spec_id/'+spec_id,
                });
            }
        });
        
    }

    function deleteProductSpec(spec_id){
        var powerName = 'deleteProductSpec';
        $.post("__APP__/Base/isPower",{"powerName":powerName},function(res){
            if(res == 0){
                layer.alert("您暂时没有该操作的权限！",{icon:4,title:"提示"});
                return false;
            }else{
                layer.confirm('您确定要删除该条规格信息？', {
                    icon: 3,
                    anim:5,
                    title:'提示',
                    btn: ['确定','取消'] //按钮
                }, function(){
                    if(spec_id){
                        $.ajax({
                            url:'__APP__/Goods/deleteProductSpec',
                            data:'spec_id='+spec_id,
                            type:'post',
                            dataType:'json',
                            success:function(res){
                                layer.msg(res, {icon: 1,anim:5,});
                                window.location.reload();
                            }
                        });
                    }else{
                        layer.alert('删除失败！', {icon: 1,title:'提示'});
                    }          
                }, function(){
                    layer.msg('删除已取消！', {time: 1000,});
                });
            }
        });
        
    }

    function changeProductTypeInfo(){
        var type_id = $("#product_type").val();
        location.href='__APP__/Goods/productSpec/product_type/'+type_id;
    }

    function changeProduct(){
        var id = $("#product").val();
        var type_id = $("#product_type").val();
        location.href='__APP__/Goods/productSpec/product/'+id+'/product_type/'+type_id;
    }

    function changeProductModel(){
        var id = $("#product").val();
        var type_id = $("#product_type").val();
        var model_id = $('#product_model').val();
        location.href='__APP__/Goods/productSpec/product/'+id+'/product_type/'+type_id+'/product_model/'+model_id;
    }

    function changeProductParameter(){
        var id = $("#product").val();
        var type_id = $("#product_type").val();
        var model_id = $('#product_model').val();
        var parameter_id = $('#product_parameter').val();
        location.href='__APP__/Goods/productSpec/product/'+id+'/product_type/'+type_id+'/product_model/'+model_id+'/product_parameter/'+parameter_id;
    }
</script>

</body>
</html>