<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/css/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
  <link rel="stylesheet" href="__PUBLIC__/css/app.css" />
  <style>
      .am-selected button { font-size: 14px; width: 130px; }
  </style>
</head>
<body class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover xg-left-nav-3" nav="goodsSpec">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <!-- <div class="layui-tab layui-tab-card">
                <div class="layui-tab-content" style="height: 100px;">
                    <div class="layui-row">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <div class="layui-inline" style="margin-right:-30px;">
                                    <div class="layui-input-inline">
                                        <button type="button" class="layui-btn layui-btn-warm" style="margin-top: 10px;margin-left: 5px;" onClick='addProductSpec()'>添加商品规格</button> 
                                    </div>
                                </div>
                                <div class="layui-inline" style="margin-top:15px;">
                                    <label class="layui-form-label" style="width:100px;">所属分类</label> 
                                    <div class="layui-input-inline" style="width:110px;">
                                    <select id="product_type" name="product_type" lay-filter="changeProductTypeInfo" >
                                        <option value="" checked="checked">全部分类</option>
                                        <foreach name="productTypeInfo" item="v">
                                        <if condition="$search['product_type'] == $v['id']">
                                           <option value="{$v[id]}" selected="selected">{$v['type_name']}</option>
                                        <else/>
                                           <option value="{$v['id']}" >{$v['type_name']}</option>
                                        </if>
                                        </foreach>
                                    </select>
                                    </div>
                                </div>
                                <div class="layui-inline"  style="margin-top:15px;">
                                    <label class="layui-form-label" style="width:100px;">所属商品</label>
                                    <div class="layui-input-inline" style="width:110px;">
                                        <select id="product" name="product" lay-verify="required" lay-search="" lay-filter="changeProduct">
                                            <option value="">直接选择或搜索选择</option>
                                            <foreach name="productInfo" item="v">
                                                <if condition="$search['product'] == $v['id']">
                                                    <option value="{$v[id]}" selected="selected">{$v['type_name']}</option>
                                                <else/>
                                                    <option value="{$v['id']}" >{$v['type_name']}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline"  style="margin-top:15px;">
                                    <label class="layui-form-label" style="width:70px;">型号</label>
                                    <div class="layui-input-inline" style="width:110px;">
                                        <select id="product_model" name="product_model" lay-verify="required" lay-search="" lay-filter="changeProductModel">
                                            <option value="">直接选择或搜索选择</option>
                                            <foreach name="productModelInfo" item="v">
                                                <if condition="$search['product_model'] == $v['id']">
                                                    <option value="{$v[id]}" selected="selected">{$v['name']}</option>
                                                <else/>
                                                    <option value="{$v['id']}" >{$v['name']}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-inline" style="margin-top:15px;">
                                    <label class="layui-form-label" style="width:70px;">规格</label> 
                                    <div class="layui-input-inline" style="width:110px;">
                                        <select id="product_parameter" name="product_parameter" lay-filter="changeProductParameter" >
                                            <option value="" checked="checked">全部规格</option>
                                            <foreach name="productParameterInfo" item="v">
                                            <if condition="$search['product_parameter'] == $v['id']">
                                               <option value="{$v[id]}" selected="selected">{$v['name']}</option>
                                            <else/>
                                               <option value="{$v['id']}" >{$v['name']}</option>
                                            </if>
                                            </foreach>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="layui-table" >
                        <thead>
                            <tr>
                                <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                <th>商品规格</th>
                                <th>商品规格名</th>
                                <th>商品型号</th>
                                <th>所属商品</th>
                                <th>所属类型</th>
                                <th>操作</th>
                            </tr> 
                        </thead>
                        <tbody>
                        <foreach name="productSpecInfo" item="v">
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{$v['spec_value']}</td>
                                <td>{$v['product_parameter']['name']}</td>
                                <td>{$v['product_model']['name']}</td>
                                <td>{$v['product']['type_name']}</td>
                                <td>{$v['product_type']['type_name']}</td>
                                <td>
                                    <button type="button" onClick='updateProductSpec({$v['id']})'>编辑</button>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" onClick='deleteProductSpec({$v['id']})'>删除</button>
                                </td>
                            </tr>
                        </foreach>
                        
                        </tbody>
                    </table>
                    <div class="am-fr">
                        {$pageStr}  
                    </div>
                </div>
            </div> -->
            <ol class="am-breadcrumb" style="margin: 5px">
                <li><a href="__APP__/Index" class="am-icon-home">首页</a></li>
                <li class="am-active">产品详细规格管理</li>
            </ol>
            <div class="tpl-portlet-components" >
                <div class="portlet-title">
                    <div class="caption font-green bold">产品详细规格管理</div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-2 am-u-lg-2">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" onClick="addProductSpec()" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 添加产品规格信息</button>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition">
                            <div class="am-form-group"> 
                                <span style="font-size: 14px;vertical-align: middle;">服务类型</span>
                                <select id="product_type" name="product_type" onchange="changeProductTypeInfo()" data-am-selected="{maxHeight: 370}" >
                                    <option value="" checked="checked">全部服务</option>
                                    <foreach name="productTypeInfo" item="v">
                                    <if condition="$search['product_type'] == $v['id']">
                                       <option value="{$v[id]}" selected="selected">{$v['type_name']}</option>
                                    <else/>
                                       <option value="{$v['id']}" >{$v['type_name']}</option>
                                    </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition">
                            <div class="am-form-group" > 
                                <span style="font-size: 14px;vertical-align: middle;">产品名称</span>
                                <select id="product" name="product" data-am-selected="{maxHeight: 370,searchBox: 1}" onchange="changeProduct()">
                                    <option value="">全部产品</option>
                                    <foreach name="productInfo" item="v">
                                        <if condition="$search['product'] == $v['id']">
                                            <option value="{$v[id]}" selected="selected">{$v['type_name']}</option>
                                        <else/>
                                            <option value="{$v['id']}" >{$v['type_name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition">
                            <div class="am-form-group" > 
                                <span style="font-size: 14px;vertical-align: middle;">产品型号</span>
                                <select id="product" name="product" data-am-selected="{maxHeight: 370,searchBox: 1}" onchange="changeProductModel()">
                                    <option value="">全部型号</option>
                                    <foreach name="productModelInfo" item="v">
                                        <if condition="$search['product_model'] == $v['id']">
                                            <option value="{$v[id]}" selected="selected">{$v['name']}</option>
                                        <else/>
                                            <option value="{$v['id']}" >{$v['name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition am-u-end">
                            <div class="am-form-group" > 
                                <span style="font-size: 14px;vertical-align: middle;">规格名称</span>
                                <select id="product" name="product" data-am-selected="{maxHeight: 370,searchBox: 1}" onchange="changeProductParameter()">
                                    <option value="">全部规格</option>
                                    <foreach name="productParameterInfo" item="v">
                                        <if condition="$search['product_parameter'] == $v['id']">
                                            <option value="{$v[id]}" selected="selected">{$v['name']}</option>
                                        <else/>
                                            <option value="{$v['id']}" >{$v['name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="am-g ">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main ">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>规格</th>
                                            <th>规格名称</th>
                                            <th>产品型号</th>
                                            <th>产品名称</th>
                                            <th>服务类型</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="productSpecInfo" item="v" key="k">
                                            <tr class="xg-table-tr">
                                                <td>{$k+1}</td>
                                                <td>{$v['spec_value']}</td>
                                                <td>{$v['product_parameter']['name']}</td>
                                                <td>{$v['product_model']['name']}</td>
                                                <td>{$v['product']['type_name']}</td>
                                                <td>{$v['product_type']['type_name']}</td>
                                                <td>
                                                    <div class="am-btn-toolbar">
                                                        <div class="am-btn-group am-btn-group-xs">
                                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onClick="updateProductSpec({$v['id']})"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                            <button type="button" id="btn-del" class="am-btn am-btn-default am-btn-xs am-text-danger" onClick="deleteProductSpec({$v['id']})"><span class="am-icon-trash-o"></span> 删除</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                <div class="am-fr">{$pageStr}</div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            
          

<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>
<script src="__PUBLIC__/js/plus.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>

<script type="text/javascript">
    function addProductSpec(){
        layer.open({
            type: 2,
            title: '添加产品规格',
            area: ['900px', '550px'],
            content: '__APP__/Goods/addProductSpec',
        });
    }

    function updateProductSpec(spec_id){
        layer.open({
            type: 2,
            title: '修改产品规格',
            area: ['900px', '550px'],
            content: '__APP__/Goods/updateProductSpec/spec_id/'+spec_id,
        });
    }

    function deleteProductSpec(spec_id){
        layer.confirm('您确定要删除该条规格信息？', {
            icon: 3,
            anim:5,
            title:'提示',
            btn: ['确定','取消'] //按钮
        }, function(){
            if(spec_id){
                $.ajax({
                    url:'__APP__/Goods/deleteProductSpec',
                    data:'spec_id='+spec_id,
                    type:'post',
                    dataType:'json',
                    success:function(res){
                        layer.msg(res, {icon: 1,anim:5,});
                        window.location.reload();
                    }
                });
            }else{
                layer.alert('删除失败！', {icon: 1,title:'提示'});
            }          
        }, function(){
            layer.msg('删除已取消！', {time: 1000,});
        });
    }
</script>

<script>
layui.use(['form', 'layedit', 'laydate'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,layedit = layui.layedit
    ,laydate = layui.laydate;
  
    //产品分类搜索
    form.on('select(changeProductTypeInfo)', function(data){
        var type_id = $("#product_type").val();
        location.href='__APP__/Goods/productSpec/product_type/'+type_id;
    });

    //产品名称搜索
    form.on('select(changeProduct)', function(data){
        var id = $("#product").val();
        var type_id = $("#product_type").val();
        if(id){
            location.href='__APP__/Goods/productSpec/product/'+id+'/product_type/'+type_id;
        }else{
            location.href='__APP__/Goods/productSpec/product_type/'+type_id;
        }
    });

    // 产品型号搜索
    form.on('select(changeProductModel)', function(data){
        var id = $("#product").val();
        var type_id = $("#product_type").val();
        var model_id = $('#product_model').val();
        if(type_id){
            if(id){
                location.href='__APP__/Goods/productSpec/product/'+id+'/product_type/'+type_id+'/product_model/'+model_id;
            }else{
                location.href='__APP__/Goods/productSpec/product_model/'+model_id+'/product_type/'+type_id;
            }
        }else{
            if(id){
                location.href='__APP__/Goods/productSpec/product/'+id+'/product_model/'+model_id;
            }else{
                location.href='__APP__/Goods/productSpec/product_model/'+model_id;
            }
        }
    });

    // 规格条件搜素
    form.on('select(changeProductParameter)', function(data){
        var id = $("#product").val();
        var type_id = $("#product_type").val();
        var model_id = $('#product_model').val();
        var parameter_id = $('#product_parameter').val();

        if(model_id){
            if(type_id){
                if(id){
                    location.href='__APP__/Goods/productSpec/product/'+id+'/product_type/'+type_id+'/product_model/'+model_id+'/product_parameter/'+parameter_id;
                }else{
                    location.href='__APP__/Goods/productSpec/product_model/'+model_id+'/product_type/'+type_id+'/product_parameter/'+parameter_id;
                }
            }else{
                if(id){
                    location.href='__APP__/Goods/productSpec/product/'+id+'/product_model/'+model_id+'/product_parameter/'+parameter_id;
                }else{
                    location.href='__APP__/Goods/productSpec/product_model/'+model_id+'/product_parameter/'+parameter_id;
                }
            }
        }else{
            if(type_id){
                if(id){
                    location.href='__APP__/Goods/productSpec/product/'+id+'/product_type/'+type_id+'/product_parameter/'+parameter_id;
                }else{
                    location.href='__APP__/Goods/productSpec/product_type/'+type_id+'/product_parameter/'+parameter_id;
                }
            }else{
                if(id){
                    location.href='__APP__/Goods/productSpec/product/'+id+'/product_parameter/'+parameter_id;
                }else{
                    location.href='__APP__/Goods/productSpec/product_parameter/'+parameter_id;
                }
            }
        }
        
    });

});
</script>


</body>
</html>