<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/css/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
  <link rel="stylesheet" href="__PUBLIC__/css/app.css" />
</head>
<body class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover xg-left-nav-3" nav="goodsName">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb" style="margin: 5px">
                <li><a href="__APP__/Index" class="am-icon-home">首页</a></li>
                <li class="am-active">产品名称管理</li>
            </ol>
            <div class="tpl-portlet-components" >
                <div class="portlet-title">
                    <div class="caption font-green bold">产品名称管理</div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-3 am-u-lg-2">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" onClick='addProductType()' class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 添加产品名称信息</button>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-3 am-u-lg-3 am-u-end">
                            <div class="am-form-group" > 
                                <span style="font-size: 16px;vertical-align: middle;">按服务类型搜索：</span>
                                <select id="product_type" name="product_type" data-am-selected="{maxHeight: 370}" onchange="changeProductTypeInfo();">
                                    <option value="0" checked="checked">全部服务</option>
                                    <foreach name="productType" item="v">
                                        <if condition="$product_type_id == $v['id']">
                                           <option value="{$v[id]}" selected="selected">{$v['type_name']}</option>
                                        <else/>
                                           <option value="{$v['id']}" >{$v['type_name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="am-g ">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main ">
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>产品名称</th>
                                            <th>产品规格名称</th>
                                            <th>产品特殊工艺</th>
                                            <th>产品单位</th>
                                            <th>服务类型</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="productInfo" item="v" key="k">
                                            <tr class="xg-table-tr">
                                                <td>{$k+1}</td>
                                                <td>{$v['type_name']}</td>
                                                <td>{$v['parameter']}</td>
                                                <td>{$v['specialTecInfo']}</td>
                                                <td>{$v['product_unit']}</td>
                                                <td>{$v['type']}</td>
                                                <td>
                                                    <div class="am-btn-toolbar">
                                                        <div class="am-btn-group am-btn-group-xs">
                                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onClick="updateProductName({$v['id']})"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                            <button type="button" id="btn-del" class="am-btn am-btn-default am-btn-xs am-text-danger" onClick="deleteProductName({$v['id']})"><span class="am-icon-trash-o"></span> 删除</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <div class="am-fr">{$pageStr}</div>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>
<script src="__PUBLIC__/js/plus.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>
<script type="text/javascript">
    function addProductType(){
        var powerName = 'addProductName';
        $.post("__APP__/Base/isPower",{"powerName":powerName},function(res){
            if(res == 0){
                layer.alert("您暂时没有该操作的权限！",{icon:4,title:"提示"});
                return false;
            }else{
                layer.open({
                    type: 2,
                    title: '添加产品名称',
                    area: ['60%', '50%'],
                    content: '__APP__/Goods/addProductName',
                });
            }
        });
    }

    function updateProductName(name_id){
        var powerName = 'updateProductName';
        $.post("__APP__/Base/isPower",{"powerName":powerName},function(res){
            if(res == 0){
                layer.alert("您暂时没有该操作的权限！",{icon:4,title:"提示"});
                return false;
            }else{
                layer.open({
                    type: 2,
                    title: '修改产品名称',
                    area: ['60%', '50%'],
                    content: '__APP__/Goods/updateProductName/name_id/'+name_id,
                });
            }
        });
    }

    function deleteProductName(name_id){
        var powerName = 'deleteProductName';
        $.post("__APP__/Base/isPower",{"powerName":powerName},function(res){
            if(res == 0){
                layer.alert("您暂时没有该操作的权限！",{icon:4,title:"提示"});
                return false;
            }else{
                layer.confirm('删除该条产品信息将同时删除其产品型号等全部信息，确定要删除吗？', {
                    icon: 3,
                    anim:5,
                    title:'提示',
                    btn: ['确定','取消'] //按钮
                }, function(){
                    if(name_id){
                        $.ajax({
                            url:'__APP__/Goods/deleteProductName',
                            data:'name_id='+name_id,
                            type:'post',
                            dataType:'json',
                            success:function(res){
                                layer.msg(res, {icon: 1,anim:5,});
                                window.location.reload();
                            }
                        });
                    }else{
                        layer.alert('删除失败，请刷新后重试！', {icon: 1,offset: '200px',title:'提示'});
                    }          
                });
            }
        });
        
    }
</script>

<script type="text/javascript">
    function changeProductTypeInfo(){
        var id = $("#product_type").val();
        // alert(id);
        location.href='__APP__/Goods/productName/product_type/'+id;
    }
</script>


</body>
</html>