<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改产品型号 - 细格订单管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
        .xg-form-group label { max-width: 200px!important;min-width: 150px!important; font-size: 14px!important;margin-right: 15px; }
    </style>
</head>
<body data-type="generalComponents">   
    <div class="tpl-portlet-components" style="min-height: 400px!important;min-width: 700px">
        <div class="portlet-title">
            <div class="caption font-green bold">修改产品型号</div>
        </div>
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal">
                        <div class="contact">
                            <div class="am-form-group xg-form-group">
                                <label class="am-u-sm-4 am-form-label" style="font-size:18px;">服务类型</label>
                                <div class="am-u-sm-8 am-u-end"> 
                                    <foreach name="productType" item="v">
                                        <if condition="$productTypeId['0']['pid'] == $v['id']">
                                            <span>{$v['type_name']}</span>
                                        </if>
                                    </foreach>
                                </div>
                            </div>
                            <div class="am-form-group xg-form-group">
                                <label class="am-u-sm-4 am-form-label" style="font-size:18px;">产品名称</label>
                                <div class="am-u-sm-8 am-u-end">
                                    <foreach name="productNameInfo" item="v">
                                        <if condition="$productModelInfo['0']['pid'] == $v['id']">
                                            <span>{$v['type_name']}</span>
                                        </if>
                                    </foreach>
                                </div>
                            </div> 
                            <div class="am-form-group xg-form-group">
                                <label class="am-u-sm-4 am-form-label" style="font-size:18px;">产品型号
                                    <span id="sname_notice" style="color:#FF0000"> *</span>
                                </label>
                                <div class="am-u-sm-8 am-u-end">
                                    <input type="text" id="product_model" name="product_model" value="{$productModelInfo['0']['name']}">
                                </div>
                            </div>
                            
                            <input type="hidden" id="id" name="id" value="{$productModelInfo['0']['id']}" >

                        </div>
                        <hr/>

                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button id="submit" type="button" class="am-btn am-btn-primary">确认修改</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="cancel" type="reset" class="am-btn am-btn-primary">取消</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>


<script type="text/javascript">
    $(document).ready(function(){
        $("#submit").click(function(){
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            
            var id = $("#id").val();

            //选择商品类型验证
            var product_type = $("#product_type").val();
            if(product_type == ''){
                parent.layer.msg('请选择产品类别！');
                $("#product_type").focus();
                return false;
            }
            //选择商品名称验证
            var product = $("#product").val();
            if(product == ''){
                parent.layer.msg('请选择产品名称！');
                $("#product").focus();
                return false;
            }
            //添加商品型号验证
            var product_model = $("#product_model").val();
            if(product_model == ''){
                parent.layer.msg('产品型号不能为空！');
                $("#product_model").focus();
                return false;
            }

            $.ajax({
                url:'__APP__/Goods/updateProductModel',
                type:'post',
                data:'model_name='+product_model+'&id='+id,
                dataType:'json',
                success:function(res){
                    if(res > 0 ){
                        parent.layer.msg('修改成功！', {icon: 1,});
                        parent.location.href='__APP__/Goods/productModel';
                        parent.layer.close(index);

                    }else{
                        parent.layer.alert('修改失败！', {icon: 5,});
                        return false;
                    }
                }
            });
        });
        $('#cancel').click(function(){
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        });
    });
</script>

</body>

</html>