<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>添加部门信息</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components xg-layer-size">
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12">
                    <form class="am-form am-form-horizontal">
                        <div class="portlet-title">
                            <div class="caption font-green bold">添加部门</div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">部门名称：</label>
                            <div class="am-u-sm-5 am-u-end">
                                <input type="text" value="" name="department_name">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="button" class="am-btn am-btn-primary" onclick="add_new_depart()">确认添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>

<script type="text/javascript">
	function add_new_depart(){
		var depart_name = $("input[name=department_name]").val();
        if(depart_name == ""){
            layer.msg("请填写部门名称！",{icon:7,time:1500});
            $("input[name=department_name]").focus();
            return false;
        }
        $.ajax({
            "url":"__APP__/PersonalCenter/checkDepartName",
            "type":"post",
            "data":"depart_name="+depart_name,
            success:function(response){
                // alert(response);return false;
                if(response==0){
                    layer.alert("部门名称已存在！",{icon:7,title:'提示'});
                    return false;
                }else{
                    $.ajax({
                        "url":"__APP__/PersonalCenter/saveNewAddDepartment",
                        "type":"post",
                        "data":"depart_name="+depart_name,
                        success:function(res){
                            if(res == 1){
                                layer.msg("添加部门成功！",{icon:1});
                                closeLayer(); 
                            }else{
                                layer.alert("添加部门失败！",{icon:7,title:'提示',btn:['确定']});
                            }
                        }
                    })
                }
            }
        });
		
	} 
	function closeLayer(){
		var index=parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
		window.parent.location.reload(); //刷新父页面

	}
</script>


</body>

</html>