<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    
</head>
<body class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover" nav="customerRank">
            <include file="personal_menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb">
                <li><a href="__APP__/Index" class="am-icon-home">首页</a></li>
                <li><a href="__APP__/PersonalCenter">个人中心</a></li>
                <li class="am-active">客户等级管理</li>
            </ol>
            <!-- 部门信息 -->
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">客户等级</div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-2">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" onclick="addCustomerRank()" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增客户等级</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="">客户等级名称</th>
                                            <th class="">客户等级系数</th>
                                            <th class="">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="levelArr" item="item">
                                        <tr class="xg-table-tr">
                                            <td>{$item.name}</td>
                                            <td>{$item.level}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="updateCustomerRank({$item.id})"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button type="button" id="btn-del" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="deleteCustomerRank({$item.id})"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <div class="am-fr">
                                            {$pageStr}
                                    </div>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/echarts.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript">
    // 添加部门页面
    function addCustomerRank(){
        layer.open({
            type: 2,
            title: '添加部门',
            shade: 0.8,
            area: ['40%', '50%'],
            btn: ['关闭'],
            content: '__APP__/PersonalCenter/addCustomerRank' //iframe的url
        });
    }
    // 修改部门页面
    function updateCustomerRank(id){
        layer.open({
            type: 2,
            title: '修改部门名称',
            shadeClose: true,
            shade: 0.8,
            area: ['40%', '50%'],
            btn: ['关闭'],
            content: '__APP__/PersonalCenter/updateCustomerRank/id/'+id //iframe的url
        });
    }
    // 删除信息提示
    function deleteCustomerRank(id){
        layer.confirm('您确定要删除该条客户等级的信息吗？', {
            icon: 3,
            anim:5,
            title:'提示',
            btn: ['确定','取消'] //按钮
        }, function(){
            if(id){
                $.ajax({
                    url:'__APP__/PersonalCenter/deleteCustomerRank',
                    data:'id='+id,
                    type:'post',
                    dataType:'json',
                    success:function(res){
                    	if(res == 1){
                    		var tihsiContent = "删除该条客户等级的信息成功！";
                            layer.msg("删除该条客户等级的信息成功！", {icon: 1,anim:5,});
                            window.location.reload();
                    	}else{
                            layer.confirm("删除该条客户等级的信息失败！", {
                                icon: 5,
                                anim:5,
                                title:'提示',
                                btn: ['确定'] //按钮
                            });
                    	}
                    }
                });
            }else{
                layer.alert('删除失败！请稍后重试', {icon: 5,title:'提示'});
            }          
        });
    }
</script>
</body>

</html>