<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登录日志 - 细格订单管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    
</head>
<body class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover" nav="loginLog">
            <include file="personal_menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb" style="margin: 5px">
                <li><a href="__APP__/Index" class="am-icon-home">首页</a></li>
                <li><a href="__APP__/PersonalCenter/index">个人中心</a></li>
                <li class="am-active">登录日志</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">登录日志</div>
                </div>
                <div class="tpl-block">
                <if condition="$userInfo['department_id'] == 0">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label xg-loginlog-label">指定成员：</label>
                                <div class="am-u-sm-3 am-u-end">
                                    <select data-am-selected="{btnSize: 'sm'}" onchange="getDifList()" id="chengyau_select">
                                        <option value="all">全部成员</option>
                                        <if condition="count($mangerArr) != 0">
                                        <foreach name="mangerArr" item="manager">
                                        	<option value="{$manager.id}">{$manager.truename}</option>
                                        </foreach>
                                        </if>
                                        <!-- <option value="option3">李四</option>
                                        <option value="option3">万物</option> -->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    </if>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form" id="list_com_form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="">登录时间</th>
                                            <th class="">姓名</th>
                                            <th class="">使用设备</th>
                                            <th class="">操作系统</th>
                                            <th class="">登录IP</th>
                                            <th class="">IP归属度</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list_content">
                                        <if condition="$loginLogArr">
                                        <foreach name="loginLogArr" item="loginLog">
	                                        <tr>
	                                            <td>{$loginLog.addtime}</td>
	                                            <td>{$loginLog.truename}</td>
	                                            <td>{$loginLog.operate_tool}</td>
	                                            <td>{$loginLog.operate_system}</td>
	                                            <td>{$loginLog.ip}</td>
	                                            <td></td>
	                                        </tr>
                                        </foreach>
                                        </if>
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                                        <!-- {$pageStr} -->
                                        <!-- <ul class="am-pagination am-pagination-right"> -->
                                            {$pageStr}
                                        <!-- </ul> -->
                                        <!-- <ul class="am-pagination tpl-pagination">
                                            <li class="am-disabled"><a href="#">«</a></li>
                                            <li class="am-active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#">»</a></li>
                                        </ul> -->
                                    </div>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/echarts.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript">
        
    </script>
</body>
<script>
	function getDifList(){
		var id = $("#chengyau_select").val();
		$.post("__APP__/PersonalCenter/getDifLoginlogs",{"id":id},function(res){
			$("#list_com_form").html('');
			$("#list_com_form").html(res);
		})
	}
</script>
</html>