<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    

</head>
<style type="text/css">
    .tpl-left-nav-list{
        width:200px;
        overflow: auto;
        overflow-x: hidden;
    }
    .tpl-left-nav-list-son{
        width:217px;
        overflow-y: auto;
        overflow-x: hidden;
        height:600px;
    }
    .tpl-left-nav-menu{
        width:200px;
        overflow: hidden;
    }
</style>
<body>
    <!-- <div id="menu_scroll"></div> -->
    <div class="tpl-left-nav-title">个人中心</div>
    <div class="tpl-left-nav-list">
         <div class="tpl-left-nav-list-son">
            <ul class="tpl-left-nav-menu">
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list active" nav="personal">
                    <i class="am-icon-home"></i>
                    <span>个人资料</span>
                </a>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list" nav="loginLog">
                    <i class="am-icon-bar-chart"></i>
                    <span>登录日志</span>
                </a>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list" nav="permission">
                    <i class="am-icon-bar-chart"></i>
                    <span>权限管理</span>
                </a>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                    <i class="am-icon-table"></i>
                    <span>商品信息管理</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="javascript:;" class="tpl-left-nav-link-list-first">
                            <i class="am-icon-angle-right"></i>
                            <span>服务类型</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                        <a href="javascript:;" class="tpl-left-nav-link-list-first">
                            <i class="am-icon-angle-right"></i>
                            <span>商品参数</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                        
                    </li>
                </ul>
            </li>
            <li class="tpl-left-nav-item">
                <a href="javascript:;" class="nav-link tpl-left-nav-link-list" nav="department">
                    <i class="am-icon-table"></i>
                    <span>部门与员工</span>
                    <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                </a>
                <ul class="tpl-left-nav-sub-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="am-icon-angle-right"></i>
                            <span>部门管理</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="am-icon-angle-right"></i>
                            <span>用户管理</span>
                            <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                        </a>
                    </li>
                </ul>
            </li>
            </ul>
    </div>
    </div>
</body>
</html>