<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    

</head>
<style type="text/css">
    .tpl-left-nav-list{
        width:200px;
        overflow: auto;
        overflow-x: hidden;
    }
    .tpl-left-nav-list-son{
        width:217px;
        overflow-y: auto;
        overflow-x: hidden;
        height:600px;
    }
    .tpl-left-nav-menu{
        width:200px;
        overflow: hidden;
    }
</style>
<body>
    <!-- <div id="menu_scroll"></div> -->
    <div class="tpl-left-nav-title">个人中心</div>
    <div class="tpl-left-nav-list">
         <div class="tpl-left-nav-list-son">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="__APP__/PersonalCenter/index" class="nav-link tpl-left-nav-link-list" nav="personal">
                        <i class="am-icon-user"></i>
                        <span>个人资料</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="__APP__/PersonalCenter/updateUserPwd" class="nav-link tpl-left-nav-link-list" nav="updatePwd">
                        <i class="am-icon-lock"></i>
                        <span>修改密码</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="__APP__/PersonalCenter/loginLog" class="nav-link tpl-left-nav-link-list" nav="loginLog">
                        <i class="am-icon-map-marker"></i>
                        <span>登录日志</span>
                    </a>
                </li>
                <if condition="$_SESSION['userInfo']['highest'] eq 1">
                    <li class="tpl-left-nav-item">
                        <a href="__APP__/PersonalCenter/customerRank" class="nav-link tpl-left-nav-link-list" nav="customerRank">
                            <i class="am-icon-signal"></i>
                            <span>客户等级管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bell-o"></i>
                            <span>公共信息管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li class="xg-second-level-nav">
                                <a href="__APP__/PersonalCenter/notice" class="xg-second-level-nav-a" nav="notice">
                                    <i class="am-icon-bullhorn"></i>
                                    <span>公告管理</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            </li>
                            <li class="xg-second-level-nav">
                                <a href="__APP__/PersonalCenter/publicMemo" class="xg-second-level-nav-a" nav="publicMemo">
                                    <i class="am-icon-send-o"></i>
                                    <span>公共备忘录管理</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-sitemap"></i>
                            <span>部门与员工</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li class="xg-second-level-nav">
                                <a href="__APP__/PersonalCenter/department" class="xg-second-level-nav-a" nav="department">
                                    <i class="am-icon-users"></i>
                                    <span>部门管理</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            </li>
                            <li class="xg-second-level-nav">
                                <a href="__APP__/PersonalCenter/staff" class="xg-second-level-nav-a" nav="staff">
                                    <i class="am-icon-user"></i>
                                    <span>员工管理</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="__APP__/Rbac/index" class="nav-link tpl-left-nav-link-list" nav="permission">
                            <i class="am-icon-shield"></i>
                            <span>职位与权限管理</span>
                        </a>
                    </li>
                <else/>

                </if>
            </ul>
    </div>
    </div>
</body>
</html>