<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    
</head>
<body class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover xg-left-nav" nav="publicMemo">
            <include file="PersonalCenter/personal_menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb">
                <li><a href="__APP__/Index" class="am-icon-home">首页</a></li>
                <li><a href="__APP__/PersonalCenter">个人中心</a></li>
                <li class="am-active">公共备忘录管理</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">公共备忘录信息</div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th class="">事件时间</th>
                                            <th class="">发布人</th>
                                            <th class="">发布内容</th>
                                            <th class="">发布时间</th>
                                            <th class="">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="publicMemoInfo" item="v" key="k">
                                            <tr class="xg-table-tr">
                                                <td>{$v['memo_time_value']}</td>
                                                <td>{$v['manager_name']}</td>
                                                <td>{$v['memo_event']}</td>
                                                <td>{$v['edit_time_value']}</td>
                                                <td>
                                                    <div class="am-btn-toolbar">
                                                        <div class="am-btn-group am-btn-group-xs">
                                                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="updatePublicMemo({$v['id']})"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                            <button type="button" id="btn-del" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="deletePublicMemo({$v['id']})"><span class="am-icon-trash-o"></span> 删除</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </foreach>

                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <div class="am-fr">
                                        {$pageStr}
                                    </div>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/echarts.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script type="text/javascript">
        // 修改职位页面
        function updatePublicMemo(id){
            layer.open({
                type: 2,
                // offset: '50px',
                title: '修改公共备忘录信息',
                shadeClose: true,
                shade: 0.8,
                area: ['50%', '70%'],
                btn: ['关闭'],
                content: '__APP__/PersonalCenter/updatePublicMemo/id/'+id //iframe的url
            });
        }
        // 删除职位信息提示
        function deletePublicMemo(id){
            layer.confirm('您确定要删除这条公共备忘录信息吗？', {
                icon: 3,
                anim:5,
                title:'提示',
                btn: ['确定','取消'] //按钮
            }, function(){
                if(id){
                    $.ajax({
                        url:'__APP__/PersonalCenter/deletePublicMemoInfo',
                        data:'id='+id,
                        type:'post',
                        dataType:'json',
                        success:function(res){
                            layer.confirm(res, {
                                icon: 1,
                                anim:5,
                                title:'提示',
                                btn: ['确定'] //按钮
                            }, function(){
                                window.location.reload();       
                            });
                        }
                    });

                }else{
                    layer.alert('删除失败！', {icon: 1,title:'提示'});
                }          
            }, function(){
                
            });
        }
    </script>
</body>

</html>