<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改公告信息 - 细格订单管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components" style="min-height: 200px!important;min-width: 1050px">
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12">
                    <form class="am-form am-form-horizontal">
                        <div class="portlet-title">
                            <div class="caption font-green bold">修改公告信息</div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">公告信息：</label>
                            <div class="am-u-sm-8 am-u-end">
                                <input type="text" value="<?php echo $noticeInfo[0]['notice_info'] ?>" name="notice_info" id="notice_info">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">特别提示：</label>
                            <div class="am-u-sm-8 am-u-end">
                                <textarea style="width: 40rem; height: 10rem; resize:none;" name="note_info" id="note_info"><?php echo $noticeInfo[0]['note_info'] ?></textarea>
                            </div>
                        </div>
                        <input type="hidden" id="nid" name="id" value="<?php echo $noticeInfo[0]['id'] ?>">
                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="button" class="am-btn am-btn-primary">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <div class="tpl-alert"></div>
    </div>


    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>

<script type="text/javascript">
    $(".am-btn-primary").click(function(){
        var id = $("#nid").val();
        var notice_info = $.trim($("#notice_info").val());
        var notice_info_length = $.trim($("#notice_info").val()).length;
        var note_info = $.trim($("#note_info").val());
        var note_info_length = $.trim($("#note_info").val()).length;
        if(notice_info_length > 50){
            parent.layer.alert("公告内容的长度不得超过50个字！",{icon: 7,title:'提示',});
            return false;
        }
        if(note_info_length > 100){
            parent.layer.alert("提示内容的长度不得超过100个字！",{icon: 7,title:'提示',});
                return false;
        }
        $.post("__APP__/PersonalCenter/updateNoticeHandle",{"id":id,"notice_info":notice_info,"note_info":note_info},function(result){
            if(result > 0){
                parent.layer.msg("修改成功！",{icon: 1});
                parent.location.href = "__APP__/PersonalCenter/notice";
                var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                parent.layer.close(index);
            }else if(result == 0){
                parent.layer.alert("请修改公告信息后再进行提交！",{icon: 7,title:'提示',});
                return false;
            }else{
               parent.layer.alert("修改失败！请稍后重试！",{icon: 5,title:'提示',});
                return false; 
            }
        });
    });
</script>


</body>

</html>