<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    
</head>
<body data-type="generalComponents" class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover" nav="updatePwd">
            <include file="personal_menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb">
                <li><a href="__APP__/Index/index" class="am-icon-home">首页</a></li>
                <li><a href="#">个人中心</a></li>
                <li class="am-active">修改密码</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">
                        <div class="am-u-sm-12">
                            <form class="am-form am-form-horizontal">
                                <div class="portlet-title">
                                    <div class="caption font-green bold">修改密码</div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">用户名：</label>
                                    <div class="am-u-sm-3 am-u-end">
                                        <input type="text" value="{$userInfo['username']}" name="user_name" readonly="readonly">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">旧密码：</label>
                                    <div class="am-u-sm-4 am-u-end">
                                        <input type="password" value="" name="old_pwd" placeholder="请输入旧密码">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">新密码：</label>
                                    <div class="am-u-sm-4 am-u-end">
                                        <input type="password" value="" name="new_pwd" placeholder="请输入新密码">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">确认密码：</label>
                                    <div class="am-u-sm-4 am-u-end">
                                        <input type="password" value="" name="quren_new_pwd" placeholder="请再次输入新密码">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-4 am-u-sm-push-2">
                                        <button type="button" class="am-btn am-btn-primary" onclick="updateUserInfo({$userInfo['id']})">确认修改密码</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
<script type="text/javascript">
    // 修改用户信息页面
    function updateUserInfo(id){
        var old_pwd = $("input[name=old_pwd]").val();
        var new_pwd = $("input[name=new_pwd]").val();
        var quren_new_pwd = $("input[name=quren_new_pwd]").val();
        if(old_pwd == ''){
        	alert("请输入原始密码！");return false;
        }
        if(new_pwd == ''){
        	alert("请输入新密码！");return false;
        }
        if(quren_new_pwd == ''){
        	alert("请输入确认密码！");return false;
        }
        if(new_pwd != quren_new_pwd){
        	alert("两次密码输入不一致！");return false;
        }
        $.post("__APP__/PersonalCenter/saveUserPwdNew",{"id":id,"old_pwd":old_pwd,"new_pwd":new_pwd},function(res){
        	if(res == 0){
        		alert("修改密码成功！您需要重新登录！");
        		window.location = "__APP__/Login/index";
        	}else if(res == 1){
        		alert("修改密码失败！");
        	}else if(res == 2){
        		alert("原始密码输入不正确！");
        	}
        })
    }
</script>
</body>

</html>