<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改员工信息</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components xg-layer-size ">
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12">
                    <form class="am-form am-form-horizontal">
                        <div class="portlet-title">
                            <div class="caption font-green bold">修改员工信息</div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">所属部门：</label>
                            <div class="am-u-sm-4 am-u-end">
                                <if condition="$managerInfo['highest'] eq 1">
                                    超级管理员不属于任何部门
                                <else/>
                                    <select class="depart_option" data-am-selected="{btnWidth:'260px',maxHeight: 200,searchBox: 1}" onchange="changeDutyOption();">
                                        <option value="0" >选择部门</option>
                                        <foreach name="departArr" item="item">
                                        <if condition="$item['id'] == $departInfo['id']">
                                            <option value="{$item.id}" selected ="selected">{$item.depart_name}</option>
                                        <else/>
                                        	 <option value="{$item.id}" >{$item.depart_name}</option>
                                        </if>
                                        </foreach>
                                    </select>
                                </if>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">职位名称：</label>
                            <div class="am-u-sm-4 am-u-end">
                                <select class="duty_option" data-am-selected="{btnWidth:'260px',maxHeight: 200,searchBox: 1}">
                                    <!-- <option value="{$dutyInfo.id}"  is_manager="{$dutyInfo.is_manager}">{$dutyInfo.duty_name}</option> -->
                                    <foreach name="dutyInfo" item="item">
                                        <if condition="$item['id'] == $managerInfo['duty_id']">
                                            <option value="{$item.id}" is_manager="{$item.is_manager}" selected ="selected">{$item.duty_name}</option>
                                        <else/>
                                             <option value="{$item.id}" is_manager="{$item.is_manager}">{$item.duty_name}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">用户名：</label>
                            <div class="am-u-sm-5 am-u-end">
                                <input type="text" value="{$managerInfo.username}" name="username" id="username">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">姓名：</label>
                            <div class="am-u-sm-5 am-u-end">
                                <input type="text" value="{$managerInfo.truename}" name="truename" id="truename">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">手机号：</label>
                            <div class="am-u-sm-5 am-u-end">
                                <input type="text" value="{$managerInfo.tel}" name="tel" id="tel">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">邮箱：</label>
                            <div class="am-u-sm-5 am-u-end">
                                <input type="text" value="{$managerInfo.email}" name="email" id="email"> 
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="button" class="am-btn am-btn-primary" onclick="updateManager({$managerInfo.id})">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
	
	<input type="hidden" value="{$departInfo.id}" id="old_depart_id">
	<input type="hidden" value="{$dutyInfo.id}" id="old_duty_id">
	<input type="hidden" value="{$managerInfo.username}" id="old_username">
	<input type="hidden" value="{$managerInfo.truename}" id="old_truename">
	<input type="hidden" value="{$managerInfo.tel}" id="old_tel">
	<input type="hidden" value="{$managerInfo.email}" id="old_email">
	<input type="hidden" value="{$dutyInfo.is_manager}" id="old_is_manager">

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>

<script type="text/javascript">
	function changeDutyOption(){
	   var depart_id = $(".depart_option").val();
	   $.post("__APP__/PersonalCenter/GetDifDutyByDepartId",{"depart_id":depart_id},function(res){
		   $(".duty_option").html('');
		   $(".duty_option").html(res);
	   })
	}
	function updateManager(id){
		var old_depart_id = $("#old_depart_id").val();
		var old_duty_id = $("#old_duty_id").val();
		var old_username = $("#old_username").val();
		var old_truename = $("#old_truename").val();
		var old_tel = $("#old_tel").val();
		var old_email = $("#old_email").val();
		var depart_id = $(".depart_option").val();
	    var duty_id = $(".duty_option").val();
	    var username = $("#username").val();
	    var truename = $("#truename").val();
	    var tel = $("#tel").val();
	    var email = $("#email").val();
	    var is_manager = $(".duty_option").find("option:selected").attr("is_manager");
	    var old_is_manager = $("#old_is_manager").val();
	  	
        //所属部门验证
        if(depart_id == 0){
           parent.layer.msg('请选择所属部门！');
           $(".depart_option").focus();
           return false;
        }
        //职位名称验证
        if(duty_id == 0){
           parent.layer.msg('请选择职位名称！');
           $(".duty_option").focus();
           return false;
        }
        //用户名验证
       	if(username == ''){
           	parent.layer.msg('用户名不能为空！');
           	$("#username").focus();
           	return false;
       	}
	     //用户名验证
	       if(truename == ''){
	           parent.layer.msg('真实姓名不能为空！');
	           $("#truename").focus();
	           return false;
	       }
	       //联系人电话验证
	       if(tel == ''){
	           parent.layer.msg('联系人电话不能为空！');
	           $("#tel").focus();
	           return false;
	       }
	       //验证邮箱
	       if(email == ''){
	           parent.layer.msg('联系人电话不能为空！');
	           $("#email").focus();
	           return false;
	       }
	       if(old_depart_id == depart_id && old_duty_id == duty_id && old_username == username && old_truename == truename && old_tel == tel && old_email == email){
	    	   alert("请修改内容之后在提交！");
	    	   return false;
	       }
	       if((old_duty_id != duty_id) && is_manager == 1 ){
	    	   $.post("__APP__/PersonalCenter/checkIsManager",{"depart_id":depart_id},function(res){
	    		   if(res == 0 || res == ''){
	    			   submitEditContent(id,depart_id,duty_id,username,truename,tel,email,is_manager,old_is_manager,old_duty_id,old_depart_id);
	    		   }else{
	    			   if(confirm("该部门已经由"+res+"负责，您确定要替换为"+truename+"吗？")){
	    				   submitEditContent(id,depart_id,duty_id,username,truename,tel,email,is_manager,old_is_manager,old_duty_id,old_depart_id);
	    			   }
	    		   }
	    	   })
	       }else{
	    	   submitEditContent(id,depart_id,duty_id,username,truename,tel,email,is_manager,old_is_manager,old_duty_id,old_depart_id);
	       }
	       
	}
	function submitEditContent(id,depart_id,duty_id,username,truename,tel,email,is_manager,old_is_manager,old_duty_id,old_depart_id){
		$.post("__APP__/PersonalCenter/saveEditManager",{"id":id,"depart_id":depart_id,"duty_id":duty_id,"username":username,"truename":truename,"tel":tel,"email":email,"is_manager":is_manager,"old_is_manager":old_is_manager,"old_duty_id":old_duty_id,"old_depart_id":old_depart_id},function(res){
	    	   // alert(res);
               // return false;
	    	   if(res == 1){
	    		   alert("修改员工信息成功！");
	    		   closeLayer();
	    	   }else{
	    		   alert("修改员工信息失败！");
	    	   }
	       })
	}
	function closeLayer(){
		var index=parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
		window.parent.location.reload(); //刷新父页面

	}
</script>


</body>

</html>