<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改客户等级信息 - 细格订单管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components" style="min-height: 200px!important;min-width: 550px">
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12">
                    <form class="am-form am-form-horizontal">
                        <div class="portlet-title">
                            <div class="caption font-green bold">修改客户等级信息</div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">客户等级名称：</label>
                            <div class="am-u-sm-5 am-u-end">
                                <input type="text" value="{$levelInfo.name}" name="department_name" id="level_name">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-form-label">客户等级系数：</label>
                            <div class="am-u-sm-5 am-u-end">
                                <input type="text" value="{$levelInfo.level_price}" name="department_name" id="level_level">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="button" class="am-btn am-btn-primary" onclick="saveEditLevel({$levelInfo.id})">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="{$levelInfo.name}" id="old_level_name"/>
    <input type="hidden" value="{$levelInfo.level}" id="old_level_level"/>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>

<script type="text/javascript">
    function saveEditLevel(id){
    	var old_level_name = $("#old_level_name").val();
    	var old_level_level = $("#old_level_level").val();
    	var level_name = $("#level_name").val();
    	var level_level = $("#level_level").val();
    	if(old_level_name == level_name && old_level_level == level_level){
    		alert("请先修改内容之后在进行提交！");
    		return false;
    	}
    	if(old_level_name == level_name ){
    		level_name = "";
    	}
    	if(old_level_level == level_level ){
    		level_level = "";
    	}
    	$.post("__APP__/PersonalCenter/saveEditLevel",{"id":id,"level_name":level_name,"level_level":level_level},function(res){
    		if(res == 1){
    			alert("修改客户登记信息成功！");
    			closeLayer();
    		}else{
    			alert("修改客户等级失败！");
    		}
    	})
    }
   function closeLayer(){
    	window.parent.location.reload();
    	var index = parent.layer.getFrameIndex(window.name);
    	parent.layer.close(index);
    }
</script>


</body>

</html>