<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改公共备忘录 - 细格订单管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components" style="min-height: 200px!important;min-width: 600px">
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12">
                    <form class="am-form am-form-horizontal">
                        
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">日期：</label>
                            <div class="am-u-sm-4 am-u-end">
                                <input type="text" id="memo_date" class="am-form-field" value="{$publicMemoInfo['memo_time_value']}" placeholder="" data-am-datepicker readonly required />
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">重要程度：</label>
                            <div class="am-u-sm-9 am-u-end" >
                                <if condition="$publicMemoInfo['memo_level'] == 0">
                                    <input type="radio" name="memo_level" value="0" checked> 普通 &nbsp;
                                    <input type="radio" name="memo_level" value="1"> 重要
                                <else/>
                                    <input type="radio" name="memo_level" value="0"> 普通 &nbsp;
                                    <input type="radio" name="memo_level" value="1" checked> 重要
                                </if>
                                  
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">备忘录内容</label>
                            <div class="am-u-sm-8 am-u-end">
                                <textarea id="memo_info" style="width: 40rem; height: 10rem; resize:none;">{$publicMemoInfo['memo_event']}</textarea>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="button" class="am-btn am-btn-primary" onclick="updatePublicMemo({$publicMemoInfo['id']})">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

        <div class="tpl-alert"></div>
    </div>


    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>

<script type="text/javascript">
    function updatePublicMemo(id){
        // alert(id);
        // var memo_time = $("#trade_time").val();
        // var memo_event = $("#memo_event").val();
        // alert(memo_time);
        // alert(memo_time);
        var memo_date = $("#memo_date").val();
        if(memo_date == ''){
            parent.layer.msg('请填写时间！');
            $("#memo_date").focus();
            return false;
        }
        //备忘录内容验证
        var memo_info = $("#memo_info").val();
        if(memo_info == ''){
            parent.layer.msg('备忘录内容不能为空！');
            $("#memo_info").focus();
            return false;
        }else if(memo_info.length > 100){
            parent.layer.msg('字数不能超过100字！');
            $("#memo_info").focus();
            return false;
        }
        var memo_level = $("input:radio[name='memo_level']:checked").val();

        //提交修改信息
        $.post("__APP__/PersonalCenter/updatePublicMemo",{"id":id,"memo_time":memo_date,"memo_event":memo_info,"memo_level":memo_level},function(res){
                if(res > 0 ){
                    layer.alert('修改成功！', {
                                                        icon: 1,
                                                        title:'提示',
                                                    });
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent. location.reload();
                    parent.layer.close(index);

                }else{
                    layer.alert('修改失败！', {
                                                        icon: 5,
                                                        title:'提示',
                                                    });
                    return false;
                }
        });


    }
</script>


</body>

</html>