<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents">
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-home">首页</a></li>
        <li><a href="#">供应商管理</a></li>
        <li class="am-active">新增供应商</li>
    </ol>
    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">新增供应商<span id="notice" style="color:#FF0000;font-size: 14px;"> (带 “*” 为必填项) </span></div>
                <div class="tpl-portlet-input tpl-fz-ml">
                <div class="am-btn-group am-btn-group-xs">
                    <button type="button" onclick="javascript:history.back(-1);" class="am-btn am-btn-default am-btn-primary"><span class="am-icon-angle-left"></span> 返回</button>
                    </div>
                </div>
        </div>
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-9">
                    <form class="am-form am-form-horizontal" action="__APP__/Supplier/addSupplier" method="post" enctype="multipart/form-data">
                        <!-- 公司信息 -->
                        <h4>公司信息</h4>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">供应商名称<span id="important" style="color:#FF0000">*</span></label>
                            <div class="am-u-sm-4">
                                <input type="text" id="supplier_name" name="supplier_name" >
                            </div>
                            <label class="am-u-sm-2 am-form-label">公司电话<span id="important" style="color:#FF0000">*</span></label>
                            <div class="am-u-sm-4">
                                <input type="text" id="supplier_tel" name="supplier_tel">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">供应商地址<span id="important" style="color:#FF0000">*</span></label>
                            <div class="am-u-sm-3"> 
                                <select id="supplier_pro" name="supplier_pro" onchange="getCityInfo();">
                                    <option value="0" >请选择省</option>
                                    <foreach name="province" item="v">
                                    <option value="{$v['code']}" >{$v['name']}</option>
                                    </foreach>
                                </select>
                            </div>
                            <div class="am-u-sm-3">
                                <select id="supplier_city" name="supplier_city" onchange="getAreaInfo();">
                                    <option value="0" checked="checked">请选择市</option>
                                    <foreach name="city" item="v">
                                    <option value="{$v['code']}" >{$v['name']}</option>
                                    </foreach>
                                </select> 
                            </div>
                            <div class="am-u-sm-3"> 
                                <select id="supplier_area" name="supplier_area" >
                                    <option value="0" checked="checked">请选择区</option>
                                    <foreach name="area" item="v">
                                    <option value="{$v['code']}" >{$v['name']}</option>
                                    </foreach>
                                </select> 
                            </div>
                            <label class="am-u-sm-3 am-form-label"></label>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">街道<span id="important" style="color:#FF0000">*</span></label>
                            <div class="am-u-sm-10">
                                <input type="text" id="supplier_street" name="supplier_street" >
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">备用地址</label>
                            <div class="am-u-sm-10">
                                <input type="text" id="spare_address" name="spare_address" placeholder="如有备用地址，请填全省市区街道全部信息" >
                            </div>
                        </div>
                        
                        <hr/>

                        <!-- 可做产品 -->
                        <h4>可做产品</h4>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">印刷产品</label>
                            <div class="am-u-sm-10">
                                <input type="checkbox" name="checkbox[]" value="复选一"> 名片 &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="checkbox[]" value="复选二"> 宣传册 &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="checkbox[]" value="复选三"> 手提袋 &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="checkbox[]" value="复选四"> 复选四 &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="checkbox[]" value="复选五"> 复选五 &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">制作产品</label>
                            <div class="am-u-sm-10">
                                <input type="checkbox" name="checkbox2[]" value="复选一"> 展架 &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="checkbox2[]" value="复选二"> 易拉宝 &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="checkbox2[]" value="复选三"> 复选三 &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="checkbox2[]" value="复选四"> 复选四 &nbsp;&nbsp;&nbsp;
                                <input type="checkbox" name="checkbox2[]" value="复选五"> 复选五 &nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        

                        <hr/>
                        <!-- 联系人信息 -->
                        <h4>联系人</h4>
                        <div class="contact">
                            <div class="am-form-group">
                                <label class="am-u-sm-2 am-form-label">联系人姓名
                                        <span id="sname_notice" style="color:#FF0000"> *</span>
                                </label>
                                <div class="am-u-sm-4">
                                    <input type="tel" id="link_name0" name="link_name0" >
                                </div>
                                <label class="am-u-sm-2 am-form-label">联系电话
                                        <span id="sname_notice" style="color:#FF0000"> *</span>
                                </label>
                                <div class="am-u-sm-4">
                                    <input type="tel" id="link_phone0" name="link_phone0" >
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="0" name="select_num_hide">
                        <input type="button" value="添加联系人" id="add_supplier_contact">
                        <hr/>

                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="submit" class="am-btn am-btn-primary">确认添加</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#sname").blur(function(){
            var sname = $("#sname").val();
            if(sname == ''){
                $("#sname_notice").html("* 供应商名称不能为空！");
            }else{
                $.ajax({
                    "url":"__APP__/Supplier/checkSname", //发送ajax请求的地址
                    "type":"post",     //以post形式发送数据
                    "data":"sname="+sname,
                    // "data":{
                    //      "username":$("#username").val(),
                    //      "password":$("#password").val()
                    // },         //data是ajax发送请求的数据 
                    //"data":"username=tom&password=123",      
                    "success":function(response){
                         if(response==1){
                             // alert(111);
                             $("#sname_notice").html("* 该供应商的数据已存在！");
                         }else if(response==2){
                             // alert(22222);
                             $("#sname_notice").html("* 没有该供应商的数据！");
                         }
                    }
                });
            }
        });
    });
</script>

<!-- 公司所在地址详细信息联动查询 -->
    <script type="text/javascript">

    //已有的地址信息修改
    function getCityInfo(){
      
      //获取省份名称的value值
      var province = $("#supplier_pro").val();

      if(province == '0'){
        var proid = 0;
      }else{
        var proid = province;
      }
      
      $.ajax({
        url:'__APP__/Supplier/getCitys',
        data:'procode='+proid,
        dataType:'json',
        success:function(re){
          var cityid = '';
          var cname = '';
          $("#supplier_city").empty();
          
          $("#supplier_city").append("<option value='0'>请选择市</option>");
          //省份改变之后地区也随之改变
          var citys = $("#supplier_city").val();
          
          if(re && citys == '0'){
            $.ajax({
                url:'__APP__/Supplier/getAreas',
                data:'citycode='+citys,
                dataType:'json',
                success:function(res){
                    var areaid = '';
                    var areaname = '';
                    $("#supplier_area").empty();
                    $("#supplier_area").append("<option value='0'>请选择区</option>"); 
                    for (var k in res){
                        areaid = res[k].code;
                        areaname = res[k].name;
                        $("#supplier_area").append("<option value='"+areaid+"'>"+areaname+"</option>");  
                    }
                }
            });
          }else{
            $("#supplier_area").empty();
            $("#supplier_area").append("<option value='0'>请选择区</option>"); 
          }
          //循环显示市区城市
          for (var k in re){
            cityid = re[k].code;
            cname = re[k].name;
            $("#supplier_city").append("<option value='"+cityid+"'>"+cname+"</option>");  
          }
        }
      });
    }

    function getAreaInfo(){
      var cityid = $("#supplier_city").val();

      if(cityid == '0'){
        var cityid = 0;
      }else{
        var cityid = cityid;
      }
      
      $.ajax({
        url:'__APP__/Supplier/getAreas',
        data:'citycode='+cityid,
        dataType:'json',
        success:function(re){
          var areaid = '';
          var areaname = '';
          $("#supplier_area").empty();
          $("#supplier_area").append("<option value='0'>请选择区</option>"); 
          for (var k in re){
            areaid = re[k].code;
            areaname = re[k].name;
            $("#supplier_area").append("<option value='"+areaid+"'>"+areaname+"</option>");  
          }
        }
      })

    }

</script>

</body>

</html>