<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">

    

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components">
        
        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                            <tr>
                                <th class="table-name">联系人姓名</th>
                                <th class="table-phone">电话</th>
                                <th class="table-set">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <foreach name="linkmanInfo" item="v">
                            <tr class="xg-table-tr">
                                <td>{$v['linkman_name']}</td>
                                <td>{$v['linkman_phone']}</td>
                                <td>
                                    <div class="am-form-group">
                                        <div class="am-btn-group am-btn-group-xs" >
                                            <button type="button" id="btn-del" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="deletes({$v['id']})"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </td>   
                            </tr>
                            </foreach>
                            
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

<script>
    function deletes(id){
        layer.confirm('您确定要删除该联系人信息吗？', {
            icon: 3,
            anim:5,
            offset: '80px',
            title:'提示',
            btn: ['确定','取消'] //按钮
        }, function(){
            if(id){
                $.ajax({
                    url:'__APP__/Supplier/deletesLinkman',
                    data:'linkman_id='+id,
                    dataType:'json',
                    success:function(res){
                        layer.confirm(res, {
                            icon: 1,
                            anim:5,
                            offset: '80px',
                            title:'提示',
                            btn: ['确定'] //按钮
                        }, function(){
                            window.location.reload();       
                        });
                    }
                });

            }else{
                layer.alert('删除失败！', {icon: 1,offset: '80px',title:'提示'});
            }          
        }, function(){
            layer.msg('已取消！', {
            time: 2000, //20s后自动关闭
            offset: '100px',
            });
        });
    }
</script>

</body>

</html>