<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>供应商详情页</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents" class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover" nav="supplier">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">供应商管理</a></li>
                <li class="am-active">供应商详情</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                        <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" onclick="javascript:history.back(-1);" class="am-btn am-btn-default am-btn-primary"><span class="am-icon-angle-left"></span> 返回</button>
                            </div>
                        </div>
                </div>
                <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">
                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal">
                                <!-- 公司信息 -->
                                <h4>公司详细信息</h4>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">供应商名称</label>
                                    <div class="am-u-sm-4">
                                        {$supplierInfo['supplier_name']}
                                    </div>
                                    <label class="am-u-sm-2 am-form-label">公司电话</label>
                                    <div class="am-u-sm-4">
                                        {$supplierInfo['supplier_tel']}
                                    </div>
                                    
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">所在区域</label>
                                    <div class="am-u-sm-10">
                                        {$supplierInfo['local_name']}
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">公司详细地址</label>
                                    <div class="am-u-sm-10">
                                        {$supplierInfo['address']}
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">备用地址</label>
                                    <div class="am-u-sm-10">
                                        {$supplierInfo['spare_adress']}
                                    </div>
                                </div>
                                <hr/>

                                <h4>可做产品</h4>
                                    
                                <div class="am-panel-group" id="accordion">
                                <foreach name="supplierProductInfo" key="key" item="spi">
                                    <div class="am-panel am-panel-default">
                                        <div class="am-panel-hd">
                                          <h4 class="am-panel-title" data-am-collapse="{parent: '#accordion', target: '#do-not-say-<?php echo $spi['productType']['type_name'] ?>'}">
                                            {$spi['productType']['type_name']}
                                          </h4>
                                        </div>
                                        <div id="do-not-say-<?php echo $spi['productType']['type_name'] ?>" class="am-panel-collapse am-collapse am-in">
                                        <div class="am-panel-bd">
                                            <foreach name="supplierProductInfo[$key][productType][product]" key="k" item="p">
                                                <span>
                                                    <button type="button" class="am-btn am-btn-primary am-round">{$p['type_name']}</button>
                                                </span>
                                            </foreach>
                                        </div>
                                        </div>
                                    </div>
                                </foreach>
                                </div>
                                <hr/>
                                
                                <h4>联系人信息</h4>
                                <foreach name="supplierLinkmanInfo" item="v" key="k">
                                    <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">联系人</label>
                                        <div class="am-u-sm-4">
                                            {$v['linkman_name']}
                                        </div>
                                        <label class="am-u-sm-2 am-form-label">联系电话
                                        </label>
                                        <div class="am-u-sm-3">
                                            {$v['linkman_phone']}
                                        </div>
                                    </div>
                                    <hr/>
                                </foreach>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>

</body>

</html>