<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>供应商管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    
</head>
<body class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover" nav="supplier">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb" style="margin: 5px">
                <li><a href="__APP__/Index" class="am-icon-home">首页</a></li>
                <li class="am-active">供应商管理</li>
            </ol>
            <div class="tpl-portlet-components" >
                <div class="portlet-title">
                    <div class="caption font-green bold">供应商管理</div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-1 am-u-lg-1" style="min-width: 110px;">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" onclick="window.location='__APP__/Supplier/addSupplier'" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增供应商</button>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-2 xg-search-condition">
                            <div class="am-form-group"> 
                                省份信息： 
                                <select data-am-selected="{maxHeight: 370,searchBox: 1,btnSize:'sm'}" id="province" onchange="searchSubmit('province');">
                                    <option value="0">全部省份</option>
                                    <foreach name="province" item="v" key="k">
                                        <if condition="$get['province'] == $v['code']">
                                            <option value="{$v['code']}" selected="selected">{$v['name']}</option>
                                        <else/>
                                            <option value="{$v['code']}" >{$v['name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div> 
                        <div class="am-u-sm-3 am-u-lg-3 xg-search-condition">
                            <div class="am-form-group"> 
                                城市信息： 
                                <select data-am-selected="{maxHeight: 370,searchBox: 1,btnSize:'sm'}" id="city" onchange="searchSubmit('city');">
                                    <option value="0">全部城市</option>
                                    <foreach name="city" item="v" key="k">
                                        <if condition="$get['city'] == $v['code']">
                                            <option value="{$v['code']}" selected="selected">{$v['name']}</option>
                                        <else/>
                                            <option id="city_info" value="{$v['code']}" >{$v['name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-2 am-u-lg-3 xg-search-condition" style="text-align: right;">
                            <div class="am-form-group">
                                搜索类型：
                                <select data-am-selected="{btnSize: 'sm'}" id="input_type_value">
                                    <if condition="$get['input_type_value'] == phone ">
                                        <option value="0" >全部信息</option>
                                        <option value="supplier">供应商名称</option> 
                                        <option value="linkman">联系人</option>
                                        <option value="phone" selected="selected">联系人电话</option>
                                    <elseif condition="$get['input_type_value'] == linkman " />
                                        <option value="0" >全部信息</option>
                                        <option value="supplier">供应商名称</option> 
                                        <option value="linkman" selected="selected">联系人</option>
                                        <option value="phone">联系人电话</option>
                                    <elseif condition="$get['input_type_value'] == supplier " />
                                        <option value="0" >全部信息</option>
                                        <option value="supplier" selected="selected">供应商名称</option> 
                                        <option value="linkman">联系人</option>
                                        <option value="phone" >联系人电话</option>
                                    <else/>
                                        <option value="0" selected="selected">全部信息</option>
                                        <option value="supplier">供应商名称</option> 
                                        <option value="linkman">联系人</option>
                                        <option value="phone">联系人电话</option>
                                    </if>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-3 am-u-lg-3 am-u-end">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field" placeholder="请先选择搜索类型" value="{$get['search_value']}" id="search_value">
                                <span class="am-input-group-btn">
                                    <button class="am-btn am-btn-success tpl-am-btn-success am-icon-search" type="button"  onclick="searchSubmit('input');"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="am-g ">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main ">
                                    <thead>
                                        <tr>
                                            <th >序号</th>
                                            <th class="xg-table-center table-name">供应商名称</th>
                                            <th class="xg-table-center table-region">所在地区</th>
                                            <th class="xg-table-center table-product">可做产品</th>
                                            <th class="xg-table-center table-tel xg-hide">公司电话</th>
                                            <th class="xg-table-center table-contact">联系人</th>
                                            <th class="xg-table-center table-phone">联系电话</th>
                                            <th class="xg-table-center table-set xg-hide">录入人</th>
                                            <th class="xg-table-center table-set ">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="supplierInfo" key="k" item="v">
                                        <tr class="xg-table-tr">
                                            <td class="xg-table-center">{$k+1}</td> 
                                            <td><a href="__APP__/Supplier/detail/supplier_id/{$v['supplier_id']}">{$v['supplier_name']}</a></td>
                                            <td class="xg-table-center">{$v['local_name']}</td>
                                            <td>
                                                <if condition="count($supplierInfo[$k]['type_name_arr']) gt 3">
                                                    <foreach name="supplierInfo[$k]['type_name_arr']" key="key" item="tn">
                                                        <if condition="$key lt 3">
                                                            {$tn['type_name']}&nbsp;
                                                        <else/>
                                                            <?php break; ?>
                                                        </if>
                                                    </foreach>
                                                    等<?php echo count($supplierInfo[$k]['type_name_arr']); ?>种产品
                                                <else/>
                                                    <foreach name="supplierInfo[$k]['type_name_arr']" key="key" item="tn">
                                                        {$tn['type_name']}&nbsp;
                                                    </foreach>
                                                </if>
                                            </td>
                                            <td class="xg-table-center xg-hide">{$v['supplier_tel']}</td>
                                            <td>{$v['linkman_name']} [<a href="#" onClick="linkMan({$v['supplier_id']})">更多</a>] [<a href="#" onClick="addLinkMan({$v['supplier_id']})">添加</a>]</td>
                                            <td  class="xg-table-center">{$v['linkman_phone']}</td>
                                            <td class="xg-hide">{$v['create_manager_name']}</td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="window.location='__APP__/Supplier/update/supplier_id/{$v['supplier_id']}'"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                        <button type="button" id="btn-del" class="am-btn am-btn-default am-btn-xs am-text-danger" onclick="deletes({$v['supplier_id']})"><span class="am-icon-trash-o"></span> 删除</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                <div class="am-cf">
                                    <div class="am-fr">{$pageStr}</div>
                                </div>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/echarts.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>

    <script type="text/javascript">
        function searchSubmit(name){
            // alert(name);
            if(name == 'province'){
                var province = $("#province").val();
                var city = 0;
                // var area = 0;
            }else{
                var province = $("#province").val();
                var city = $("#city").val();
            }
            var input_type_value = $("#input_type_value").val();
            var search_value = $.trim($("#search_value").val());
            if(name == 'input'){
                if(input_type_value == 0){
                    search_value = 0;
                }else{
                    if(search_value == ''){
                        layer.alert("搜索内容不能为空！", {icon: 5,offset: '200px',});
                        $("#search_value").focus();
                        return false;
                    }
                }
            }else{
                if(search_value == ''){
                    search_value = 0;
                }
            }
            location.href='__APP__/Supplier/index/province/'+province+'/city/'+city+'/input_type_value/'+input_type_value+'/search_value/'+search_value;
        }

        function deletes(supplier_id){
            // alert(supplier_id);
            layer.confirm('您确定要删除该条供应商信息以及其对应的联系人吗？', {
                icon: 3,
                anim:5,
                offset: '200px',
                title:'提示',
                btn: ['确定','取消'] //按钮
            }, function(){
                if(supplier_id){
                    $.ajax({
                        url:'__APP__/Supplier/deletes',
                        data:'supplier_id='+supplier_id,
                        dataType:'json',
                        success:function(res){
                            layer.msg(res, {
                                icon: 1,
                                anim:5,
                                time:500,
                            }, function(){
                                window.location.reload();       
                            });
                        }
                    });

                }else{
                    layer.alert('删除失败！', {icon: 1,offset: '200px',title:'提示'});
                }          
            }, function(){
                layer.msg('删除已取消！', {
                time: 2000, //20s后自动关闭
                offset: '200px',
                });
            });
        }

        // 查看更多的联系人信息
        function linkMan(id){
            layer.open({
                type: 2,
                title: '联系人详细信息',
                shadeClose: false,
                shade: 0.8,
                area: ['50%', '40%'],
                btn: ['关闭'],
                content: '__APP__/Supplier/detailsLinkman/supplier_id/'+id //iframe的url
            });
        }

        // 添加供应商联系人信息
        function addLinkMan(id){
            layer.open({
                type: 2,
                title: '添加联系人信息',
                area: ['60%', '60%'],
                content: '__APP__/Supplier/addSupplierLinkman/supplier_id/'+id,
            });
        }
    </script>
</body>

</html>