<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8">
    

</head>
<body>
<div class="b-box">
            <div class="tpl-left-nav-title">菜单列表</div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="__APP__/Index/main" target="main" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="__APP__/Order/index" target="main" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>订单管理</span>
                        </a>
                    </li>
  
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>商品管理</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <foreach name="productType" key="k" item="pt">
                                <a href="javascript:;" class="tpl-left-nav-link-list-first">
                                    <i class="am-icon-angle-right"></i>
                                    <span>{$pt.type_name}</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                                <ul class="tpl-left-nav-sub-menu-first">
                                    <li>
                                    <foreach name="productType[$k]['productMenu']" key="key" item="item">
                                        <a href="__APP__/Goods/index/type_id/{$item.id}" target="main">
                                            <i class="am-icon-credit-card"></i>
                                            <span>{$item.type_name}</span>
                                        </a>
                                    </foreach>
                                    </li>
                                </ul>
                                </foreach>
                                
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="__APP__/Customer/index" target="main" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-users"></i>
                            <span>客户管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="__APP__/Supplier/index" target="main" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-truck"></i>
                            <span>供应商管理</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-line-chart"></i>
                            <span>数据统计</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="__APP__/Statistics/index" target="main">
                                    <i class="am-icon-angle-right"></i>
                                    <span>基本信息统计</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                                <a href="table-images-list.html"  target="main">
                                    <i class="am-icon-angle-right"></i>
                                    <span>产品统计</span>
                                </a>
                                <a href="form-news.html" target="main">
                                    <i class="am-icon-angle-right"></i>
                                    <span>客户统计</span>
                                </a>
                                <a href="form-news.html" target="main">
                                    <i class="am-icon-angle-right"></i>
                                    <span>供应商统计</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="javascript:;" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-table"></i>
                            <span>用户与权限</span>
                            <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                        </a>
                        <ul class="tpl-left-nav-sub-menu">
                            <li>
                                <a href="table-font-list.html" target="main">
                                    <i class="am-icon-angle-right"></i>
                                    <span>部门管理</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                                <a href="table-font-list.html" target="main">
                                    <i class="am-icon-angle-right"></i>
                                    <span>用户管理</span>
                                    <i class="am-icon-star tpl-left-nav-content-ico am-fr am-margin-right"></i>
                                </a>
                                <a href="table-images-list.html"  target="main">
                                    <i class="am-icon-angle-right"></i>
                                    <span>权限设定</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="login.html" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>备忘录</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="__APP__/Login/index" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-key"></i>
                            <span>登录</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</body>
</html>