<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页 - 细格订单管理系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">

    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    
    

</head>
<body  class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!--左侧菜单栏-->
        <div class="tpl-left-nav tpl-left-nav-hover" nav="index">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb" style="margin: 5px">
                <li><a href="#" class="am-icon-home am-active">首页</a></li>
            </ol>
            <div class="tpl-content-scope">
                <div class="note note-info">
                    <h3>系统消息：
                        <span class="close" data-close="note">
                            <if condition="$noticeInfo[0]['notice_info'] == ''">
                                暂无公告
                            <else/>
                                <?php echo $noticeInfo[0]["notice_info"]; ?>
                             </if>   
                        </span>
                    </h3>
                    <p></p>
                    <p>
                        <span class="label label-danger">提示：</span>
                        <if condition="$noticeInfo[0]['note_info'] == ''">
                            暂无提示信息
                        <else/>
                            <?php echo $noticeInfo[0]["note_info"]; ?>
                        </if>
                    </p>
                </div>
            </div>
            <div class="row"  data-type="index" id="eeeee">
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <span>公共备忘录</span>
                            </div>
                            <div class="am-btn-group am-btn-group-xs xg-index-button">
                                <button type="button" onclick="addPublicMemo()" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增公共备忘录</button>
                            </div>
                        </div>
                        <div id="wrapper" class="wrapper">
                            <div id="scroller" class="scroller">
                                <ul class="tpl-task-list">
                                    <foreach name="publicMemo" item="public" key="key">
                                        <li>
                                            <div class="task-title">
                                                <if condition="$public['memo_level'] == 1">
                                                    <span class="cosIco label-danger"><i class="am-icon-bullhorn"></i></span>
                                                <elseif condition="$public['memo_level'] == 0"/>
                                                    <span class="cosIco"><i class="am-icon-bell-o"></i></span>
                                                </if>
                                                
                                                <b class="task-title-b"> {$public['memo_time']|date="Y-m-d",###} </b>
                                                <span class="task-title-sp"> {$public['memo_event']} </span>
                                                <span class="label label-sm label-success">{$public['manager_name']}</span>
                                            </div>
                                            <if condition="$public['manager_name'] == $_SESSION['userInfo']['truename']">
                                                <div class="task-config">
                                                    <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                        <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                            <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                        </a>
                                                        <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                            <li><a onclick="updatePublicMemo({$public['id']})" href="javascript:;"><i class="am-icon-pencil"></i> 编辑 </a></li>
                                                            <li><a onclick="deletePublicMemo({$public['id']})" href="javascript:;"><i class="am-icon-trash-o"></i> 删除 </a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            <else/>
                                            </if>
                                        </li>
                                    </foreach>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-md-6 am-u-sm-12 row-mb">
                    <div class="tpl-portlet">
                        <div class="tpl-portlet-title">
                            <div class="tpl-caption font-green ">
                                <span>个人备忘录</span>
                            </div>
                            <div class="am-btn-group am-btn-group-xs xg-index-button">
                                <button type="button" onclick="addPersonalMemo()" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增个人备忘录</button>
                            </div>
                        </div>

                        <div class="am-tabs tpl-index-tabs" data-am-tabs>
                            <ul class="am-tabs-nav am-nav am-nav-tabs">
                                <li class="am-active"><a href="#tab1">进行中</a></li>
                                <li><a href="#tab2">已结束</a></li>
                            </ul>

                            <div class="am-tabs-bd">
                                <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                    <div id="wrapperA" class="wrapper">
                                        <div id="scroller" class="scroller">
                                            <ul class="tpl-task-list tpl-task-remind">
                                                <foreach name="personalFutureMemo" item="pf" key="ke">
                                                    <li>
                                                        <div class="cosA">
                                                            <if condition="$pf['memo_level'] == 0">
                                                                <span class="cosIco"><i class="am-icon-bell-o"></i></span>
                                                            <elseif condition="$pf['memo_level'] == 1"/>
                                                                <span class="cosIco label-danger"><i class="am-icon-bolt"></i></span>
                                                            </if>
                                                            <b class="task-title-b"> {$pf['memo_time']|date="Y-m-d",###} </b>
                                                            <span> {$pf['memo_event']} </span>
                                                        </div>
                                                        <div class="task-config">
                                                            <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                                <a href="###" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                                    <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                                                </a>
                                                                <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                                    <li><a onclick="updatePersonalMemo({$pf['id']})" href="javascript:;"><i class="am-icon-pencil"></i> 编辑 </a></li>
                                                                    <li><a onclick="deletePersonalMemo({$pf['id']})" href="javascript:;"><i class="am-icon-trash-o"></i> 删除 </a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </foreach>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-tab-panel am-fade" id="tab2">
                                    <div id="wrapperB" class="wrapper">
                                        <div id="scroller" class="scroller">
                                            <ul class="tpl-task-list tpl-task-remind">
                                                <foreach name="personalPastMemo" item="pp" key="keyy">
                                                    <li>
                                                        <div class="cosA">
                                                            <if condition="$pp['memo_level'] == 0">
                                                                <span class="cosIco"><i class="am-icon-bell-o"></i></span>
                                                            <elseif condition="$pp['memo_level'] == 1"/>
                                                                <span class="cosIco label-danger"><i class="am-icon-bolt"></i></span>
                                                            </if>
                                                            <b class="task-title-b"> {$pp['memo_time']|date="Y-m-d",###} </b>
                                                            <span> {$pp['memo_event']} </span>
                                                        </div>
                                                        <div class="task-config">
                                                            <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                            <a onclick="deletePersonalMemo({$pp['id']})" href="javascript:;" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                                <i class="am-icon-trash-o"></i> <span class="">删除</span>
                                                            </a>
                                                        </div>
                                                        </div>
                                                    </li>
                                                </foreach>
                                                <li>
                                                    <div class="cosA">
                                                        <span class="cosIco">
                                                            <i class="am-icon-bell-o"></i>
                                                        </span>

                                                        <span> 注意：Chrome 和 Firefox 下， display: inline-block; 或 display: block; 的元素才会应用旋转动画。</span>
                                                    </div>
                                                    <div class="task-config">
                                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown>
                                                            <a onclick="deletePersonalMemo()" href="javascript:;" class="am-dropdown-toggle tpl-task-list-hover " data-am-dropdown-toggle>
                                                                <i class="am-icon-trash-o"></i> <span class="">删除</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/echarts.min.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/iscroll.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script type="text/javascript">
        // 新增公共备忘录
        function addPublicMemo(){
            var index = layer.open({
                type: 2,
                offset: '100px',
                title: '新增公共备忘录',
                shadeClose: true,
                shade: 0.8,
                area: ['50%', '60%'],
                btn: ['关闭'],
                content: '__APP__/Index/addPublicMemo', //iframe的url
            });
        }
        // 修改公共备忘录
        function updatePublicMemo(id){
            layer.open({
                type: 2,
                offset: '100px',
                title: '修改公共备忘录',
                shadeClose: true,
                shade: 0.8,
                area: ['50%', '60%'],
                btn: ['关闭'],
                content: '__APP__/Index/updatePublicMemo/id/'+id //iframe的url
            });
        }
        // 删除公共备忘录
        function deletePublicMemo(id){
            layer.confirm('您确定要删除该条公共备忘录吗？', {
                icon: 3,
                anim:5,
                offset: '200px',
                title:'提示',
                btn: ['确定','取消'] //按钮
            }, function(){
                if(id){
                    $.ajax({
                        url:'__APP__/Index/deletePublicMemo',
                        type:'post',
                        data:'id='+id,
                        success:function(res){
                            if(res == 1){
                                layer.msg("删除成功！", {icon: 1,time:5000});
                                parent. location.reload();
                            }else{
                               layer.msg('删除失败！请稍后重试', {icon: 2,time: 1000,offset: '200px'}); 
                            }
                        }
                    });
                }else{
                    layer.msg('删除失败！', {icon: 2,time: 1000,offset: '200px'});
                }          
            }, function(){
                layer.msg('删除已取消！', {
                time: 1000, //2s后自动关闭
                offset: '200px',
                });
            });
        }


        // 新增个人备忘录
        function addPersonalMemo(){
            layer.open({
                type: 2,
                offset: '100px',
                title: '新增个人备忘录',
                shadeClose: true,
                shade: 0.8,
                area: ['50%', '60%'],
                btn: ['关闭'],
                content: '__APP__/Index/addPersonalMemo' //iframe的url
            });
        }
        // 修改个人备忘录
        function updatePersonalMemo(id){
            layer.open({
                type: 2,
                offset: '100px',
                title: '修改个人备忘录',
                shadeClose: true,
                shade: 0.8,
                area: ['50%', '60%'],
                btn: ['关闭'],
                content: '__APP__/Index/updatePersonalMemo/id/'+id //iframe的url
            });
        }
        // 删除个人备忘录
        function deletePersonalMemo(id){
            layer.confirm('您确定要删除该条个人备忘录吗？', {
                icon: 3,
                anim:5,
                offset: '200px',
                title:'提示',
                btn: ['确定','取消'] //按钮
            }, function(){
                if(id){
                    $.ajax({
                        url:'__APP__/Index/deletePersonalMemo',
                        type:'post',
                        data:'id='+id,
                        success:function(res){
                            if(res == 1){
                                layer.msg("删除成功！", {icon: 1,time:5000});
                                parent. location.reload();
                            }else{
                               layer.msg('删除失败！请稍后重试', {icon: 2,time: 1000,offset: '200px'}); 
                            }
                        }
                    });
                }else{
                    layer.msg('删除失败！', {icon: 2,time: 1000,offset: '200px'});
                }          
            }, function(){
                layer.msg('删除已取消！', {
                time: 1000, //2s后自动关闭
                offset: '200px',
                });
            });
        }
    </script>
</body>

</html>



