<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>成本利润销售额统计</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">

    <link rel="stylesheet" href="__PUBLIC__/css/boot.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/daterangepicker.css">
    
</head>

<body data-type="chart">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover" nav="supplier">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <!-- <div class="tpl-content-page-title">
                新增客户统计
            </div> -->
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">数据统计</a></li>
                <li class="am-active">成本利润销售额统计</li>
            </ol>
            <div class="tpl-portlet-components">
                

                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 ">
                            <!-- <div class="am-btn-toolbar"> -->
                                <div class="am-btn-group am-btn-group-xs">
                                    
                                    <if condition="$get['type'] == months ">
                                        
                                        <button type="button" id="years" class="am-btn am-btn-default " onClick="customerCountType('years')">按月统计</button>
                                        <button type="button" id="months" class="am-btn am-btn-default am-btn-danger " onClick="customerCountType('months')">按日统计</button>
                                    <else/>
                                        <button type="button" id="years" class="am-btn am-btn-default am-btn-danger " onClick="customerCountType('years')">按月统计</button>
                                        <button type="button" id="months" class="am-btn am-btn-default " onClick="customerCountType('months')">按日统计</button>
                                    </if>
                                    
                                </div>

                                <!-- <input type="hidden" value="{$get['type']}" id="hide_search_date_type" /> -->
                                <if condition="$get['type'] == '' ">
                                    <input type="hidden" value="years" id="hide_search_date_type" />    
                                <else/>
                                    <input type="hidden" value="{$get['type']}" id="hide_search_date_type" />    
                                </if>

                            <!-- </div> -->
                        </div>
                    </div>
                </div>

                <div class="tpl-block">
                    <!-- <div class="am-g"> -->
                        <div class="am-u-sm-2">
                            <div class="am-btn-group am-btn-group-xs"> 
                                    产品分类：
                                </div>
                            <select id="product_type" onchange="submitSearch('product_type');" data-am-selected="{maxHeight: 500}">
                                <option value="0">全部分类</option>
                                <foreach name="productTypeInfo" item="v" key="k">
                                    <if condition="$get['product_type'] == $v['id']">
                                        <option value="{$v['id']}" selected="selected">{$v['type_name']}</option>
                                    <else/>
                                        <option value="{$v['id']}" >{$v['type_name']}</option>
                                    </if>
                                </foreach>
                            </select>
                        </div>
                        <div class="am-u-sm-3">
                            <div class="am-form-group">
                                <div class="am-btn-group am-btn-group-xs"> 
                                    产品名称：
                                </div>
                                <select id="product_name" onchange="submitSearch('product_name');" data-am-selected="{maxHeight: 500,searchBox: 1,btnWidth:200}">
                                    <option value="0">全部产品</option>
                                    <foreach name="productNameInfo" item="v" key="k">
                                        <if condition="$get['product_name'] == $v['id']">
                                            <option value="{$v['id']}" selected="selected">{$v['type_name']}</option>
                                        <else/>
                                            <option value="{$v['id']}" >{$v['type_name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                                  <span class="am-form-caret"></span>
                                </div>
                        </div>

                        <div class="am-u-sm-7 ">
                            <!-- <div class="am-btn-toolbar"> -->
                                <div class="am-btn-group am-btn-group-xs"> 
                                    选择日期：
                                </div>
                                <if condition="$get['type'] == months ">
                                    <div class="am-btn-group am-btn-group-xs"> 
                                        <input type="text" id="search_date" class="am-form-field" value="{$get['search_date']}" data-am-datepicker="{format: 'yyyy-mm', viewMode: 'months', minViewMode: 'months'}" placeholder="年份日历" data-am-datepicker readonly/>
                                    </div>
                                <else/>
                                    <div class="am-btn-group am-btn-group-xs">
                                        <input type="text" id="search_date" class="am-form-field" value="{$get['search_date']}" data-am-datepicker="{format: 'yyyy ', viewMode: 'years', minViewMode: 'years'}" placeholder="年份日历" data-am-datepicker readonly/>
                                    </div>
                                </if>
                                <button type="button" class="am-btn am-btn-primary " onClick="submitSearch()">确定</button>
                            <!-- </div> -->
                        </div>
                        <div class="am-u-sm-12 " style="margin-top:20px;">
                                <div id="main" style="height:600px;"></div> 
                        </div>
                </div>


            </div>
        </div>
    </div>



    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/echarts.min.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>

    <script type="text/javascript"> 
        function customerCountType(type){
            // alert(type);
            $("#"+type).addClass("am-btn-danger").siblings('button').removeClass("am-btn-danger");

            location.href='__APP__/Count/costCount/type/'+type;
        }

        function submitSearch(value){
            var type = $("#hide_search_date_type").val();
            // alert(type);
            var search_date = $("#search_date").val();
            if(search_date == ''){
                layer.alert("请选择日期！", {icon: 5,offset: '200px',});
                return false;
            }

            if(value == 'product_type'){
                var product_type = $("#product_type").val();
                var product_name = 0;
            }else{
                var product_type = $("#product_type").val();
                var product_name = $("#product_name").val();
            }
            // alert(customer_level);

            location.href='__APP__/Count/costCount/type/'+type+'/search_date/'+search_date+'/product_type/'+product_type+'/product_name/'+product_name;
            

        }
    </script>


    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据 

        var option = {
                title : {
                    text: '成本利润销售额统计',
                    subtext: ''
                },
                tooltip: {
                    trigger: 'axis',
                    // axisPointer: {
                    //     type: 'cross',
                    //     crossStyle: {
                    //         color: '#999'
                    //     }
                    // }
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
                toolbox: {
                    feature: {
                        // dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                legend: {
                    data:['成本','销售额','利润']
                },
                xAxis: [
                    {
                        type: 'category',
                        data:[<?php
                                foreach ($data['x_date'] as $v)
                                {
                                  echo  "'$v',";
                                }
                            ?>],
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis : [
                    {
                        type: 'value',
                        name: '金额',
                        min: 0,
                        // max: [<?php echo $data['yMax']  ?>],
                        // interval: 30000,
                        axisLabel: {
                            formatter: '{value} 元'
                        }
                    }
                ],
                series: [
                    {
                        name:'成本',
                        type:'bar',
                        data:[<?php
                                foreach ($data['costMoney'] as $v)
                                {
                                  echo  "'$v',";
                                }
                            ?>]
                    },
                    {
                        name:'销售额',
                        type:'bar',
                        data:[<?php
                                foreach ($data['money'] as $v)
                                {
                                  echo  "'$v',";
                                }
                            ?>]
                    },
                    {
                        name:'利润',
                        type:'bar',
                        data:[<?php
                                foreach ($data['getMoney'] as $v)
                                {
                                  echo  "'$v',";
                                }
                            ?>]
                    }

                ],
                label: {
                    normal: {
                        show: true,
                        position: 'top',
                        textStyle: {
                            color: 'black'
                        }
                    }
                }
            };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>

    <script type="text/javascript">
    //     // 路径配置
    //     require.config({
    //         paths: {
    //             echarts: 'http://echarts.baidu.com/build/dist'
    //         }
    //     });
    //     var option = {
    //             title : {
    //                 text: '',
    //                 subtext: ''
    //             },
    //             tooltip : {
    //                 trigger: 'axis'
    //             },
    //             legend: {
    //                 data:['参与测试人数','完成测试人数']
    //             },
    //             toolbox: {
    //                 show : true,
    //                 feature : {
    //                     mark : {show: true},
    //                     dataView : {show: true, readOnly: false},
    //                     magicType : {show: true, type: ['line', 'bar']},
    //                     restore : {show: true},
    //                     saveAsImage : {show: true}
    //                 }
    //             },
    //             calculable : true,
    //             xAxis : [
    //                 {
    //                     type : 'category',
    //                     boundaryGap : false,
    //                     data : [<?php
    //                     foreach ($data['days'] as $v)
    //                     {
    //                       echo  "'$v',";
    //                     }
    //                     ?>]
    //                 }
    //             ],
    //             yAxis : [
    //                 {
    //                     type : 'value',
    //                     axisLabel : {
    //                         formatter: '{value}人'
    //                     }
    //                 }
    //             ],
    //             series : [
    //                 {
    //                     name:'参与测试人数',
    //                     type:'line',
    //                     data:[<?php
    //                     foreach ($data['dataByTime'] as $v)
    //                     {
    //                       echo  $v['allNum'].',';
    //                     }
    //                     ?>],
    //                     markPoint : {
    //                         data : [
    //                             {type : 'max', name: '最大值'},
    //                             {type : 'min', name: '最小值'}
    //                         ]
    //                     },
    //                     markLine : {
    //                         data : [
    //                             {type : 'average', name: '平均值'}
    //                         ]
    //                     }
    //                 },
    //                 {
    //                     name:'完成测试人数',
    //                     type:'line',
    //                     data:[<?php
    //                     foreach ($data['dataByTime'] as $v)
    //                     {
    //                       echo  $v['is_finished'].',';
    //                     }
    //                     ?>],
    //                     markPoint : {
    //                         data : [
    //                             {name : '周最低', value : 0, xAxis: 1, yAxis: -1.5}
    //                         ]
    //                     },
    //                     markLine : {
    //                         data : [
    //                             {type : 'average', name : '平均值'}
    //                         ]
    //                     }
    //                 }
    //             ]
    //         };
                                
    //     // 使用
    //     require(
    //         [
    //             'echarts',
    //             'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
    //         ],
    //         function (ec) {
    //             // 基于准备好的dom，初始化echarts图表
    //             var myChart = ec.init(document.getElementById('main'));
    //             // 为echarts对象加载数据
    //             myChart.setOption(option);
    //         }
    //     );
    </script>


</body>

</html>