<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>基本信息统计</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <script src="__PUBLIC__/js/echarts.min.js"></script>

    <style type="text/css">
        .outer{width:500px;height:500px;border:solid red ;overflow-x:auto;overflow-y:hidden;} 
    </style>
</head>

<body data-type="chart">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover xg-left-nav" nav="indexCount">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <!-- <div class="tpl-content-page-title">
                Amaze UI 表单
            </div> -->
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">数据统计</a></li>
                <li class="am-active">基本信息统计</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="row">
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat blue">
                            <div class="visual">
                                <i class="am-icon-user-plus"></i>
                            </div>
                            <div class="details">
                                <div class="number"> {$customerNum} </div>
                                <div class="desc"> 本月新增客户数 </div>
                            </div>
                            <a class="more" href="__APP__/Count/customerCount"> 查看更多客户数信息
                                <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat red">
                            <div class="visual">
                                <i class="am-icon-cny"></i>
                            </div>
                            <div class="details">
                                <div class="number"> ￥{$debtMoney} </div>
                                <div class="desc"> 截止目前客户欠款金额 </div>
                            </div>
                            <a class="more" href="__APP__/Count/orderCustomerMoneyCount"> 查看更多客户欠款情况
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat green">
                            <div class="visual">
                                <i class="am-icon-star"></i>
                            </div>
                            <div class="details">
                                <div class="number"> ￥{$money} </div>
                                <div class="desc"> 本月销售额 </div>
                            </div>
                            <a class="more" href="__APP__/Count/costCount"> 查看更多销售额信息
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                        </div>
                    </div>
                    <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                        <div class="dashboard-stat purple">
                            <div class="visual">
                                <i class="am-icon-android"></i>
                            </div>
                            <div class="details">
                                <div class="number"> 786 </div>
                                <div class="desc"> 安卓设备 </div>
                            </div>
                            <a class="more" href="#"> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
</body>

</html>