<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增向供应商付款-细格订单管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components" style="min-height:300px;">
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-3 am-form-label">付款日期：</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="add_money_time" class="am-form-field" placeholder="默认为当前日期" data-am-datepicker readonly required />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-3 am-form-label">本次付款：</label>
                            <div class="am-u-sm-9" id="">
                                <input type="text" name="money" id="money" value="">
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-3 am-form-label">备注：</label>
                            <div class="am-u-sm-9" id="">
                                <textarea class="remark" rows="3" id="remark"></textarea> 
                            </div>
                        </div>
                    </form>
                </div>

            </div>

             <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                         <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="button"  onclick="addSupplierMoney({$get['order_id']},{$get['order_product_id']})" class="am-btn am-btn-primary">新增付款</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="tpl-alert"></div>
    </div>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
    
    <script type="text/javascript">
        function addSupplierMoney(order_id,order_product_id){
            // alert(order_id);
            var add_money_time = $("#add_money_time").val();
            var money = $.trim($("#money").val());
            if(money == ''){
                parent.layer.alert("回款金额不能为空！", {icon: 5,});
                return false;
            }

            var remark = $.trim($("#remark").val());

            //添加订单信息
            $.post("__APP__/Order/addSupplierMoneyInfo",{"order_id":order_id,"add_money_time":add_money_time,"order_product_id":order_product_id,"money":money,"remark":remark},function(res){
                    if(res > 0 ){
                        parent.layer.alert('添加成功！', {
                                                            icon: 1,
                                                            title:'提示',
                                                        });
                        //刷新订单页面
                        parent. location.reload();
                        
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);

                    }else{
                        parent.layer.alert('添加失败！', {
                                                            icon: 5,
                                                            title:'提示',
                                                        });
                        return false;
                    }
            });

        }
    </script>
</body>

</html>

