<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新建订单-细格订单管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
        .am-form-group { margin-bottom: 1rem; }
    </style>
</head>
<body data-type="generalComponents">
    <div class="tpl-portlet-components">
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-11">
                    <form class="am-form am-form-horizontal">
                        
                        <!-- <h5>商品信息</h5> -->
                        <div class="am-form-group">
                            <label for="contact-name" class="am-u-sm-2 am-form-label">服务类型：</label>
                            <div class="am-u-sm-4">
                                <!-- <select id="doc-select-1" class="product_type">
                                    <option value="">请选择服务类型</option>
	                                <if condition="$productTypeFirst != ''">
		                                <foreach name="productTypeFirst" item="item" key="key">
		                                    <option value="{$item.id}" onclick="getProductName({$item.id},{$item.have_price})">{$item.type_name}</option>
		                                </foreach>
	                                </if>
                                </select> -->
                                <select id="product_type" name="product_type" class="product_type" onchange="getProductName()" data-am-selected="{btnWidth:'100%',maxHeight: 370,searchBox: 1}" >
                                    <option value="0" checked="checked">全部服务</option>
                                    <if condition="$productTypeFirst != ''">
                                        <foreach name="productTypeFirst" item="v">
                                            <option value="{$v['id']}" >{$v['type_name']}</option>
                                        </foreach>
                                    </if>
                                </select>

                                <!-- 在循环一次产品服务，把下拉框中需要的值放在隐藏域中 -->
                                <input type="hidden" value="0" id="hide_item_have_price_0" />
                                <if condition="$productTypeFirst != ''">
                                    <foreach name="productTypeFirst" item="v">
                                        <input type="hidden" value="{$v.have_price}" id="hide_item_have_price_{$v.id}" />
                                    </foreach>
                                </if>


                                <input type="hidden" value="" id="hide_have_price_value_2" /> 
                            </div>
                            <label for="contact-name" class="am-u-sm-2 am-form-label">产品名称：</label>
                            <div class="am-u-sm-4">
                                <!-- <select id="doc-select-1" class="product_name">
                                    <option value="">请选择产品名称</option>
                                    <if condition="$productNameFirst != ''">
                                        <foreach name="productNameFirst" item="item" key="key">
                                            <option value="{$item.id}" onclick="getProductModel('{$item.id}','{$item.type_name}')">{$item.type_name}</option>
                                        </foreach>
                                    </if>
                                </select> -->
                                <select id="product_name" class="product_name" data-am-selected="{btnWidth:'100%',maxHeight: 370,searchBox: 1}" onchange="getProductModel()">
                                    <option value="0" checked="checked">请选择产品名称</option>
                                    <if condition="$productNameFirst != ''">
                                        <foreach name="productNameFirst" item="item" key="key">
                                            <option value="{$item.id}">{$item.type_name}</option>
                                        </foreach>
                                    </if>
                                </select>
                            </div>
                            <input type="hidden" value="{$productNameFirst['0'][pid]}" id="hide_product_type_value" />
                            <input type="hidden" value=" " id="hide_product_name_value" />
                        </div>
                        <div class="am-form-group">
                            <label for="contact-wechat" class="am-u-sm-2 am-form-label">产品型号：</label>
                            <div class="am-u-sm-10 am-u-end">
                                <ul class="product_model">
                                    <span style="color: #f00;font-size: 16px">请先选择产品！</span> 
                                </ul>
                            </div>
                            <input type="hidden" value="" id="hide_product_model_value" />
                        </div>
                        <div class="product_paramerter">
                            
                            <div class="am-form-group">
                                <label for="contact-department" class="am-u-sm-2 am-form-label">产品规格：</label>
                                <div class="am-u-sm-10">
                                    <ul>
                                        <li class="" value="1">
                                            <span style="color: #f00;font-size: 16px">请先选择产品型号！</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
                            <input type="hidden" value="{$parameterStr}" id="post_parameter_spec_value" />

                        </div>
                        <div class="am-form-group" id="product_special_technology_div">

                        </div> 
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">供应商：</label>
                            <div class="am-u-sm-2">
                                [<a href="javascript:;" style="font-size: 14px;" id="selectSupplier" onclick="selectSupplier()">选择供应商</a>]
                            </div>
                            <div class="am-u-sm-8"  id="product_supplier_select" >
                                <input type='hidden' value='' id='select_supplier_id' />
                                <input type='hidden' value='' id='select_supplier_name' /> 
                                <input type='hidden' value='' id='product_cost_price' /> 
                            </div>
                            <input type="hidden" value="{$productNameFirst['0'][id]}" id="hide_product_name_id" />
                        </div>
                        <div class="am-form-group" id="select_supplier_group">
                        </div>
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">素材地址：</label>
                            <div class="am-u-sm-10 am-u-end" id="product_material_link_div">
                                <input type="text" id="product_material_link" value="">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">数量：</label>
                            <div class="am-u-sm-2 am-u-end" id="product_num_div">
                                <input type="text" name="product_num" class="product_num" onclick="inputProductNum()" value="1">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">成本总价：</label>
                            <div class="am-u-sm-4 am-u-end" id="product_cost_money_div">
                                <span style="color: #f00;font-size: 16px">请先选择产品信息和数量！</span>
                            </div>
                        </div>
                        <div class="am-form-group" id="order_refer_info_button">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">参考记录：</label>
                            <div class="am-u-sm-10">
                                <button type="button"  onclick="getOrderReferInfo()" class="am-btn am-btn-default">查看</button>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">参考总价：</label>
                            <div class="am-u-sm-2">
                                <button type="button"  onclick="getOrderReferInfoMoney()" class="am-btn am-btn-default">查看</button>
                            </div>
                            <div class="am-u-sm-8" id="order_refer_info_money_button">
                                <input type="hidden" value="" id="hide_product_discount_money" />
                            </div>
                        </div>
                        <div class="am-form-group" id="end_price_div">
                            
                            <label for="contact-department" class="am-u-sm-2 am-form-label">成交单价：</label>
                            <div class="am-u-sm-2 am-u-end" id="end_product_price_div">
                                <input type="text" name="end_product_price" id="end_product_price" class="end_product_price" value=''   >
                            </div>

                        </div>
                        <div class="am-form-group" id="end_price_div">
                            
                            <label for="contact-department" class="am-u-sm-2 am-form-label">成交总价：</label>
                            <div class="am-u-sm-2 am-u-end" id="end_price_div">
                                <input type="text" name="end_price" id="end_price" class="end_price" value=''   >
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">备注：</label>
                            <div class="am-u-sm-10 am-u-end">
                                <input type="text" name="product_remark" id="product_remark" value=''   >
                            </div>
                        </div>
                        <input type="hidden" value="{$get['customer_id']}" id="customer_id" />
                        <input type="hidden" value="{$get['add_tr_id']}" id="add_tr_id" /> 

                        <hr/>
                        <div class="am-form-group">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="button"  onclick="addOrder()" class="am-btn am-btn-primary">添加产品</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
    <script type="text/javascript">

        function addOrder(){ 

            product_type();
            product_name();
            product_model();
            product_spec();
            product_supplier();

            var product_type_id = $(".product_type").val();
            var product_name_id = $(".product_name").val();

            var hide_product_name_value = $("#hide_product_name_value").val();
            // alert(hide_product_name_value);

            var product_model_id = $("#hide_product_model_value").val();
            var product_supplier_id = $("#select_supplier_id").val();
            var product_supplier_name = $("#select_supplier_name").val();
            var product_num = $(".product_num").val();
            var product_material_link = $("#product_material_link").val();
            var product_spec_str = '';
            var hide_index_spec_name_value = [];

            var post_parameter_value = $("#post_parameter_spec_value").val();
            var post_parameter_value_arr = post_parameter_value.split(",");
            if(post_parameter_value_arr != ''){
                for(var k in post_parameter_value_arr){
                    var post_parameter_arr = post_parameter_value_arr[k].split("-");

                    var product_spec_id = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                    var product_spec_name = $("#hide_parameter_spec_name_value_"+post_parameter_arr[0]+"").val();
                    if(product_spec_id != ''){
                        product_spec_str = product_spec_str+product_spec_id+",";
                        // hide_index_spec_name_value = hide_index_spec_name_value+product_spec_name+" ";
                        hide_index_spec_name_value.push(product_spec_name);
                    }
                }
            }

            var special_techmology_str = '';
            var special_techmology_name_str = '';
            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                var special_techmology_arr = [];
                var special_techmology_name_arr = [];
                //特殊工艺ID值处理
                $('input[name=hide_special_technology_selected]').each(function() {
                    var value = $(this).val();
                    if(value != ''){
                        special_techmology_arr.push($(this).val());
                    }
                });
                //特殊工艺名称处理
                $('input[name=hide_special_technology_selected_name]').each(function() {
                    var value_2 = $(this).val();
                    if(value_2 != ''){
                        special_techmology_name_arr.push($(this).val());
                    }
                });
                var special_techmology_str = special_techmology_arr.join(',');
                // var special_techmology_name_str = special_techmology_name_arr.join(' ');
                // alert(special_techmology_str);
                // alert(special_techmology_name_str);
                // //将商品规格和特殊工艺拼接起来
                // hide_index_spec_name_value = hide_index_spec_name_value+special_techmology_name_str;
                hide_index_spec_name_value = hide_index_spec_name_value.join('-')+"-"+special_techmology_name_arr.join('-');
            }else{
                hide_index_spec_name_value = hide_index_spec_name_value.join('-');
            }

            //返回页面的商品规格信息和特殊工艺信息显示处理
            // var hide_index_spec_name_arr_value = hide_index_spec_name_value.split(" ");
            // hide_index_spec_name_value =  hide_index_spec_name_arr_value.join('-');
            
            var product_cost_price = $.trim($("#product_cost_price").val());
            // if(product_cost_price == '' ){
            //     layer.alert("请填写成本单价！", {icon: 5,offset: '200px',});
            //     $("#product_cost_price").focus();
            //     exit;
            // }
            //若该商品没有填写报价，则该处取该商品的成本单价为0
            var hide_have_price_value_2 = $.trim($("#product_cost_price_2").val());
            if(hide_have_price_value_2 == 2){
                if(product_cost_price == '' ){
                    layer.alert("请填写成本单价！", {icon: 5,});
                    $("#product_cost_price").focus();
                    exit;
                }
            }else{
                if(product_cost_price == '' ){
                    product_cost_price = 0;
                }
            }
            
            var product_cost_money = $.trim($("#product_cost_money").val());
            if(product_cost_money == '' ){
                layer.alert("请输入成本总价！", {icon: 5,});
                $("#product_cost_money").focus();
                exit;
            }
            var product_discount_money = $("#hide_product_discount_money").val();
            var product_end_price_one = $.trim($("#end_product_price").val());
            if(product_end_price_one == '' ){
                layer.alert("请输入成交单价！", {icon: 5,}); 
                $("#end_product_price").focus();
                exit;
            }
            var product_end_price = $.trim($("#end_price").val());
            if(product_end_price == '' ){
                layer.alert("请输入成交总价！", {icon: 5,}); 
                $("#end_price").focus();
                exit;
            } 
            var product_remark = $.trim($("#product_remark").val());
            
            // //添加的商品信息行的ID值
            // var tr_id = $("#add_tr_id").val();
            // var new_tr_id = (tr_id*1)+1;

            // var delete_button = "<div class='am-btn-toolbar'> <div class='am-btn-group am-btn-group-xs'> <button type='button' id='btn-del' class='am-btn am-btn-default am-btn-xs am-text-danger' onclick='deleteProduct("+tr_id+")'><span class='am-icon-trash-o'></span> 删除</button> </div> </div>";

            // var html = "<tr id="+tr_id+" name="+tr_id+"> <th>"+hide_product_name_value+"</th> <th>"+hide_index_spec_name_value+"</th> <th>"+product_supplier_name+"</th> <th>"+product_num+"</th> <th>"+product_cost_price+"</th> <th>"+product_end_price_one+"</th> <th>"+product_end_price+"</th> <td>"+delete_button+"</td> </tr> <input type='hidden' value='1' id='order_product_id' name='order_product_id' /> ";
            
            // parent.$('#add_product_info_tr').append(html);
            // alert(new_tr_id);
            // parent.$("#add_tr_id").val(new_tr_id);
            // var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            // parent.layer.close(index);

            //添加订单商品信息
            $.post("__APP__/Order/addOrderProductInfo",{"product_type":product_type_id,"product_name":product_name_id,"product_model":product_model_id,"product_spec_id_str":product_spec_str,"special_technologyh_id_str":special_techmology_str,"supplier_id":product_supplier_id,"supplier_name":product_supplier_name,"num":product_num,"product_material_link":product_material_link,"cost_money":product_cost_money,"discount_money":product_discount_money,"end_money":product_end_price,"end_price":product_end_price_one,"cost_price":product_cost_price,"product_remark":product_remark},function(res){
                    if(res > 0 ){ 
                        //添加的商品信息行的ID值
                        var tr_id = $("#add_tr_id").val();
                        var new_tr_id = (tr_id*1)+1;

                        var delete_button = "<div class='am-btn-toolbar'> <div class='am-btn-group am-btn-group-xs'> <button type='button' id='btn-del' class='am-btn am-btn-default am-btn-xs am-text-danger' onclick='deleteProduct("+tr_id+")'><span class='am-icon-trash-o'></span> 删除</button> </div> </div>";

                        var html = "<tr class='xg-table-tr' id="+tr_id+" name="+tr_id+"> <th>"+hide_product_name_value+"</th> <th>"+hide_index_spec_name_value+"</th> <th>"+product_supplier_name+"</th> <th>"+product_num+"</th> <th>"+product_cost_price+"</th> <th>"+product_end_price_one+"</th> <th>"+product_end_price+"</th> <td>"+delete_button+"</td> <input type='hidden' value='"+res+"' id='order_product_id' name='order_product_id' /> </tr> "; 
                        
                        parent.$('#add_product_info_tr').append(html);
                        parent.$("#add_tr_id").val(new_tr_id);
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);

                    }else{
                        parent.layer.alert('产品添加失败！', {
                                                            icon: 5,
                                                            title:'提示',
                                                        });
                        return false;
                    }
            });
        }

        function getProductName(){
            // alert(id);
            // alert(have_price);
            //将商品名称的隐藏域中的值清除
            $("#hide_product_name_value").val(" ");

            var id = $("#product_type").val();
            var have_price = $("#hide_item_have_price_"+id).val();
            //重新渲染与价格有关的信息
            rand_info();
            //把判断该分类商品是否有报价的判断数据存入隐藏域中
            $("#hide_have_price_value_2").val(have_price);

        	$.post("__APP__/Order/getProductNameByProductType",{"id":id},function(res){
        		$(".product_name").html('');
        		$(".product_name").html(res);
        	})

            //根据分类ID判断该分类是否有特殊工艺
            $.post("__APP__/Order/getProductSpecialTechnology",{"id":id},function(res){
                $("#product_special_technology_div").html(' ');
                $("#product_special_technology_div").html(res);
            })
            // //移除产品型号、规格的选项框 
            // $('li[name=product_model]').removeClass("xg-product-btn-selected");
            // $('li[name=product_spec]').removeClass("xg-product-btn-selected");
            //移除产品型号
            removeProductModel();
            //移除产品规格
            removeProductSpec(); 
            //移除原来的参考信息
            removeRrferInfo();
             //重新渲染参考价格
            removeDiscountMoney();

        }

        function getProductModel(){
            var id = $("#product_name").val();
            var product_name_value = ' ';
            //获取产品名称
            $.post("__APP__/Order/getProductNameOne",{"id":id},function(res_2){
                    if(res_2 == ''){
                        product_name_value = ' ';
                    }else{
                        product_name_value = res_2;
                    }
                    //将商品名称放入隐藏域中
                    $("#hide_product_name_value").val(product_name_value);
                })

            // //将商品名称放入隐藏域中
            // $("#hide_product_name_value").val(product_name_value);
            //验证是否选择了产品分类
            product_type();
            $("#hide_product_name_id").val(id);

            var model_id = ''; 
            $("#hide_product_model_value").val(model_id);  

            //重新渲染与价格有关的信息
            rand_info();
            
            //渲染产品型号信息
            if( id != 0){
                //渲染产品型号信息
                $.post("__APP__/Order/getProductModelByProductName",{"id":id},function(res){
                    $(".product_model").html('');
                    $(".product_model").html(res);
                })
            }else{
                //移除产品型号
                removeProductModel();
            }
            
            //根据产品ID判断该产品是否有特殊工艺
            $.post("__APP__/Order/getProductSpecialTechnology",{"id":id},function(res){
                $("#product_special_technology_div").html(' ');
                $("#product_special_technology_div").html(res);
            })
            
            //移除产品规格
            removeProductSpec();

            //若该分类有价格，则重新渲染特殊工艺选项
            var hide_have_price_value = $("#hide_have_price_value").val();
            // alert(hide_have_price_value);
            if(hide_have_price_value == 2){
                $('li[name=product_special_technology]').removeClass("xg-product-btn-selected");
                //对该选项的隐藏域中的值移除
                $('input[name=hide_special_technology_selected]').val('');
            }

            //移除产品规格的选项框 
            // $('li[name=product_spec]').removeClass("xg-product-btn-selected");
            //移除原来的参考信息
            removeRrferInfo();
             //重新渲染参考价格
            removeDiscountMoney();
        }

        function getProductSpec(id){
            //验证是否选择
            product_type();
            product_name();

            $("#product_model_"+id).addClass("xg-product-btn-selected").siblings('li').removeClass("xg-product-btn-selected");

            $("#hide_product_model_value").val(id);

            //重新渲染与价格有关的信息
            rand_info();

            $.post("__APP__/Order/getProductSpecByProductModel",{"id":id},function(res){
                $(".product_paramerter").html('');
                $(".product_paramerter").html(res);
            })

            //若该分类有价格，则重新渲染特殊工艺选项
            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                $('li[name=product_special_technology]').removeClass("xg-product-btn-selected");
                //对该选项的隐藏域中的值移除
                $('input[name=hide_special_technology_selected]').val('');
            }
            //移除原来的参考信息
            removeRrferInfo();
             //重新渲染参考价格
            removeDiscountMoney();
        }
        //对显示或者选中的商品规格信息进行处理
        function selectProductSpec(spec_id,parameter_id,spec_name){
            // alert(spec_name);
            //验证是否选择了
            product_type();
            product_name();
            product_model();

            $("#product_spec_"+spec_id).addClass("xg-product-btn-selected").siblings('li').removeClass("xg-product-btn-selected");
            //将选中的值放入对应的隐藏域中
            $("#hide_parameter_spec_value_"+parameter_id).val(spec_id);
            $("#hide_parameter_spec_name_value_"+parameter_id).val(spec_name);

            //重新渲染与价格有关的信息
            
            //若该分类没有价格，则重新渲染特殊工艺选项
            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                $('li[name=product_special_technology]').removeClass("xg-product-btn-selected");
                //对该选项的隐藏域中的值移除
                $('input[name=hide_special_technology_selected]').val('');
            }

            rand_info();

            //移除原来的参考信息
            removeRrferInfo();
             //重新渲染参考价格
            removeDiscountMoney();
        }

        function clickProductSpecialTechnology(id,name){ 
            product_name();
            product_model();
            product_spec();

            var selected_value = $("#hide_special_technology_selected_"+id).val();
            if(selected_value != ''){
                $("#product_special_technology_"+id).removeClass("xg-product-btn-selected");
                $("#hide_special_technology_selected_"+id).val('');
                $("#hide_special_technology_selected_name_"+id).val('');

            }else{
                $("#product_special_technology_"+id).addClass("xg-product-btn-selected");
                $("#hide_special_technology_selected_"+id).val(id);
                $("#hide_special_technology_selected_name_"+id).val(name);
            }

            //移除原来的参考信息
            removeRrferInfo();
             //重新渲染参考价格
            removeDiscountMoney();
        }

        $('#selectSupplier').on('click', function(){
            // 对选项内容进行验证
            product_type();
            product_name();
            product_model();
            product_spec();

            var product_type_id = $(".product_type").val();
            var product_name_id = $(".product_name").val();
            var product_model_id = $("#hide_product_model_value").val();
            // var product_supplier_id = $(".product_supplier").val();
            // var product_num = $(".product_num").val();
            var product_spec_str = '';

            var post_parameter_value = $("#post_parameter_spec_value").val();
            var post_parameter_value_arr = post_parameter_value.split(",");
            if(post_parameter_value_arr != ''){
                for(var k in post_parameter_value_arr){
                    var post_parameter_arr = post_parameter_value_arr[k].split("-");

                    var product_spec_id = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                    if(product_spec_id != ''){
                        product_spec_str = product_spec_str+product_spec_id+",";
                    }
                }
            }
            // alert(product_spec_str);
            rand_info();
            var have_price_value_2 = $("#hide_have_price_value_2").val();

            $.post("__APP__/Order/getProductSupplierInfo",{"have_price":have_price_value_2,"product_type_id":product_type_id,"product_name_id":product_name_id,"product_model_id":product_model_id,"product_spec_str":product_spec_str},function(res){
                $("#select_supplier_group").html('');
                $("#select_supplier_group").html(res);

                $("#show_supplier").css("border","1px solid blue");

                var condition_type = $("#condition_type").val();
                $("#condition_"+condition_type).addClass("am-btn-danger").siblings('button').removeClass("am-btn-danger");
            })

            //移除原来的参考信息
            // removeRrferInfo();
            //重新渲染参考价格
            removeDiscountMoney();

        });

        //对供应商信息列表进行条件筛选
        function conditionSelect(type){
            var product_type_id = $("#get_product_type_id").val();
            var product_name_id = $("#get_product_name_id").val();
            var product_model_id = $("#get_product_model_id").val();
            var product_spec_str = $("#get_product_spec_str").val();
            var have_price_value = $("#get_have_price").val();

            $.post("__APP__/Order/getProductSupplierInfo",{"type":type,"have_price":have_price_value,"product_type_id":product_type_id,"product_name_id":product_name_id,"product_model_id":product_model_id,"product_spec_str":product_spec_str},function(res){
                $("#select_supplier_group").html('');
                $("#select_supplier_group").html(res);

                $("#show_supplier").css("border","medium solid #03C");

                var condition_type = $("#condition_type").val();
                $("#condition_"+condition_type).addClass("am-btn-danger").siblings('button').removeClass("am-btn-danger");
            })
            
        }

        //点击供应商信息，把供应商ID和价格填到隐藏域中，并且显示在选择供应商按钮后面
        function clickSupplierInfo(supplier_id,supplier_name,price){
            var have_price_value_2 = $("#hide_have_price_value_2").val();
            var price_value = '';
            if(have_price_value_2 == 1 ){
                if(price == 0){
                    var price_value = '';
                    var price_html = "<div class='am-u-sm-2'> <span style='font-size:16px;color:#f00;'>暂无价格</span> </div> <input type='hidden' value='"+price_value+"' id='product_cost_price' />";
                }else{
                    var price_value = price;
                    var price_html = "<div class='am-u-sm-2'> <span  style='font-size:16px;color: #f00;'> "+price+"元</span> </div>  <input type='hidden' value='"+price_value+"' id='product_cost_price' />";
                }
            }else{
                // var price_html = "<div class='am-u-sm-1'> <input type='text' value='' id='product_cost_price' /> </div>";
                var price_html = "<div class='am-u-sm-2'> <input type='text' value='' id='product_cost_price' style='width:120px;'/> </div>";
            }

            //显示选择的供应商信息
            // var supplier_html = "<span  style='font-size:18px;''> "+supplier_name+"</span> &nbsp;&nbsp;&nbsp;&nbsp;";
            var html = "<div class='am-u-sm-5'> <span  style='font-size:16px;''> "+supplier_name+"</span> </div> &nbsp;&nbsp; <label class='am-u-sm-2 am-form-label'>成本单价：</label>  "+price_html+" <input type='hidden' value='"+supplier_id+"' id='select_supplier_id' /> <input type='hidden' value='"+supplier_name+"' id='select_supplier_name' /> ";

            $('#product_supplier_select').html(' ');
            $('#product_supplier_select').html(html);

            //显示默认的产品成本总价
            var product_cost_money_html = "<input type='text' name='product_cost_money' class='product_cost_money' id='product_cost_money' value='"+price_value+"'>";

            $('#product_cost_money_div').html(' ');
            $('#product_cost_money_div').html(product_cost_money_html);

            //去除显示的供应商列表信息
            $('#select_supplier_group').html(' ');

            //移除原来的参考信息
            // removeRrferInfo();
            //重新渲染参考价格
            removeDiscountMoney(); 

        }

        function inputProductNum(){
            //对选项内容进行验证
            product_type();
            product_name();
            product_model();
            product_spec();
            product_supplier();
            var hide_have_price_value_2 = $("#hide_have_price_value_2").val();
            if(hide_have_price_value_2 == 2){
                // product_technology();
                var have_price_cost_price = $("#product_cost_price").val();
                if(have_price_cost_price == ''){
                    layer.alert("请输入产品成本单价！", {icon: 5,});
                    $("#product_cost_price").focus();
                    exit;
                }
            }

            //移除原来的参考信息
            // removeRrferInfo();
            //重新渲染参考价格
            removeDiscountMoney();
        }

        function getOrderReferInfo(){
            // alert(6666);
            product_type();
            product_name();
            product_model();
            product_spec();
            // product_supplier();
            //移除原来的参考信息 order_refer_info_button
            removeRrferInfo();
            // $("#order_refer_info_button~#end_price_div").remove();

            // var customer_id = $("#customer_id").val();
            var product_type_id = $(".product_type").val();
            var product_name_id = $(".product_name").val();
            var product_model_id = $("#hide_product_model_value").val();
            
            var product_spec_str = '';

            var post_parameter_value = $("#post_parameter_spec_value").val();
            var post_parameter_value_arr = post_parameter_value.split(",");
            if(post_parameter_value_arr != ''){
                for(var k in post_parameter_value_arr){
                    var post_parameter_arr = post_parameter_value_arr[k].split("-");

                    var product_spec_id = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                    if(product_spec_id != ''){
                        product_spec_str = product_spec_str+product_spec_id+",";
                    }
                }
            }

            var product_supplier_id = $("#select_supplier_id").val();
            // var product_num = $(".product_num").val();
            // var product_cost_price = $("#product_cost_price").val();

            // var hide_have_price_value = $("#hide_have_price_value").val();
            
            // if(product_cost_price == ''){
            //     if(hide_have_price_value == 2){
            //         layer.alert("请输入产品成本单价！", {icon: 5,offset: '200px',});
            //         $("#product_cost_price").focus();
            //         exit;
            //     }

            //     product_cost_price = 0;
            // }
            
            // alert(product_cost_price); 

            //获取参考信息
            $.post("__APP__/Order/getOrderReferInfo",{"product_type_id":product_type_id,"product_name_id":product_name_id,"product_model_id":product_model_id,"product_spec_str":product_spec_str,"product_supplier_id":product_supplier_id},function(res){
                    $("#order_refer_info_button").after(res);
                    // $("#history_order").html(res); 
            })
        }
        //商品参考报价
        function getOrderReferInfoMoney(){
            product_type();
            product_name();
            product_model();
            product_spec();
            product_supplier();

            var customer_id = $("#customer_id").val();
            var product_num = $(".product_num").val();

            //若该商品没有填写报价，则该处取该商品的成本单价为0
            var hide_have_price_value_2 = $("#hide_have_price_value_2").val();
            var product_cost_price = $.trim($("#product_cost_price").val());
            if(hide_have_price_value_2 == 2){
                if(product_cost_price == '' ){
                    layer.alert("请填写成本单价！", {icon: 5,});
                    $("#product_cost_price").focus();
                    exit;
                }
            }else{
                if(product_cost_price == '' ){
                    product_cost_price = 0;
                }
            }

            //获取参考报价信息
            $.post("__APP__/Order/getOrderReferInfoMoney",{"customer_id":customer_id,"product_num":product_num,"product_cost_price":product_cost_price},function(res){
                    $('#order_refer_info_money_button').html(' ');
                    $('#order_refer_info_money_button').html(res);
                    // $("#order_refer_info_money_button").after(res);
                    // $("#history_order").html(res); 
            })

        }

        //移除原来的参考信息
        function removeRrferInfo(){
            $('div[name=refer_history_order_div]').remove();
            $('div[name=refer_history_quote_div]').remove();
            $('div[name=refer_product_discount_money_div]').remove();
        }

        function product_cost_money_yz(){
            var product_cost_money_value = $("#product_cost_money").val();
            if(product_cost_money_value == ''){
                layer.alert("请输入产品成本总价！", {icon: 5,});
                $("#product_cost_money").focus();
                exit;
            }
        }

        //对选项内容进行验证
        function product_type(){
            var product_type = $("#product_type").val();
            if(product_type == 0 ){
                layer.alert("请选择服务类型！", {icon: 5,});
                $(".product_type").focus();
                // //重新对商品名称的内容进行渲染
                // var product_type_id = $("#hide_product_type_value").val();
                // $.post("__APP__/Order/getProductNameByProductType",{"id":product_type_id},function(res){
                //     $(".product_name").html('');
                //     $(".product_name").html(res);
                // })
                exit;
                // return false;
            }
        }
        function product_name(){
            var product_name = $(".product_name").val();
            if(product_name == 0  || product_name == ''){
                layer.alert("请选择产品名称！", {icon: 5,});
                $(".product_name").focus();
                exit;
            }
        }
        function product_model(){
            var product_model = $("#hide_product_model_value").val();
            if(product_model == ''){
                layer.alert("请选择产品型号！", {icon: 5,});
                $(".product_model").focus();
                exit;
            }
        }
        function product_spec(){
            var post_parameter_value = $("#post_parameter_spec_value").val();

            var post_parameter_value_arr = post_parameter_value.split(",");
            if(post_parameter_value_arr != ''){
                for(var k in post_parameter_value_arr){
                    var post_parameter_arr = post_parameter_value_arr[k].split("-");

                    var product_spec = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                    var product_paramerter_name = post_parameter_arr[1];
                    if(product_spec == ''){
                        layer.alert("请选择"+product_paramerter_name+"！", {icon: 5,});
                        
                        exit;
                    }
                }
            }else{
                layer.alert("请添加产品规格信息！", {icon: 5,});
                
                exit;
            }
        }
        
        function product_technology(){
            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                var aa = [];
                $('input[name=hide_special_technology_selected]').each(function() {
                    var value = $(this).val();
                    if(value != ''){
                        aa.push($(this).val());
                    }
                });
                if(aa.length == 0){
                    layer.alert('请选择工艺！');
                    return false;
                }
            }
        }
        function product_supplier(){
            var product_supplier = $("#select_supplier_id").val();
            if(product_supplier == ''){
                layer.alert("请选择供应商！", {icon: 5,});
                $(".product_supplier").focus();
                exit;
            }
        }
        //重新对交货日期进行渲染
        function rand_customer_info(){
            //联系电话
            $("#lxr_phone").val('');
            //联系人地址
            $("#lxr_address").val('');
        } 
                
        //重新渲染与价格有关的信息
        function rand_info(){
            //重新渲染与价格有关的信息
            //供应商及产品单价
            var supplier_price_html = "<span style='color: #f00;margin-left:20px;'>请先选择产品信息！</span> <input type='hidden' value='' id='select_supplier_id' /> </span> <input type='hidden' value='' id='select_supplier_name' /> <input type='hidden' value='' id='product_cost_price' />";
            $("#product_supplier_select").html(' ');
            $("#product_supplier_select").html(supplier_price_html);
            //供应商信息列表
            $("#select_supplier_group").html('');

            //数量
            $(".product_num").val('1');
            //成本总价
            var  supplier_cost_price_money_html = "<span style='color: #f00;'>请选选择产品信息和数量！</span>";
            $('#product_cost_money_div').html(' ');
            $('#product_cost_money_div').html(supplier_cost_price_money_html); 
            //历史订单
            var history_order_html = "<div class='am-u-sm-10'> <b style='color: #f00;'>请选择产品信息！</b> </div>";
            $('#history_order').html(' ');
            $('#history_order').html(history_order_html); 
            //历史报价记录
            var history_price_record_html = "";
            //客户参考价
            var customer_discount_money_html = "<span style='color: #f00;'>请选选择产品信息和数量！</span>";
            $('#product_discount_money_div').html(' ');
            $('#product_discount_money_div').html(customer_discount_money_html); 
            //最终输入价格
            $(".end_price").val(' '); 

            
            
        }

        function removeDiscountMoney(){
            var html = " <input type='hidden' value='' id='hide_product_discount_money' />";
            $("#order_refer_info_money_button").html(' ');
            $("#order_refer_info_money_button").html(html);

        }

        function removeProductModel(){
            var html = "<span style='color: #f00;'>请先选择产品！</span>";
            $(".product_model").html(' ');
            $(".product_model").html(html);
        }

        function removeProductSpec(){
            var html = "<div class='am-form-group'> <label for='contact-department' class='am-u-sm-2 am-form-label'>产品规格：</label> <div class='am-u-sm-10'> <ul> <li value='1'> <span style='color: #f00;'>请先选择产品型号！</span> </li> </ul> </div> </div> <input type='hidden' value='' id='post_parameter_spec_value' />";
            $(".product_paramerter").html(' ');
            $(".product_paramerter").html(html);
        }
    </script>

    <script type="text/javascript">
           
        $(function(){

            $(".product_num").blur(function(){
                var product_type_id = $(".product_type").val();
                var product_name_id = $(".product_name").val();
                var product_model_id = $("#hide_product_model_value").val();
                var product_supplier_id = $("#select_supplier_id").val();
                var product_num = $(".product_num").val();
                var product_spec_str = '';

                // alert(product_num);

                var post_parameter_value = $("#post_parameter_spec_value").val();
                var post_parameter_value_arr = post_parameter_value.split(",");
                if(post_parameter_value_arr != ''){
                    for(var k in post_parameter_value_arr){
                        var post_parameter_arr = post_parameter_value_arr[k].split("-");

                        var product_spec_id = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                        if(product_spec_id != ''){
                            product_spec_str = product_spec_str+product_spec_id+",";
                        }
                    }
                }

                var product_cost_price = $("#product_cost_price").val();
                var product_cost_money = 0;

                if(product_cost_price != ''){
                    // //得到成本总价
                    var product_cost_price = parseFloat(product_cost_price);
                    var product_num = parseInt(product_num);
                    

                    product_cost_money =  product_cost_price*product_num;
                    
                }else{
                    var product_cost_money = '';
                }
                var product_cost_money_html = "<input type='text' name='product_cost_money' class='product_cost_money' id='product_cost_money' value='"+product_cost_money+"'>";
                
                $("#product_cost_money_div").html(' ');
                $("#product_cost_money_div").html(product_cost_money_html);
                
            });

            
        })
     </script> 


</body>

</html>