<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增客户回款-细格订单管理系统</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
    </style>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">订单列表</div>
                        
                </div>
                <div class="tpl-block">
                    
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th >序号</th>
                                            <th class="table-id">订单编号</th>
                                            <th class="table-title">商品名称</th>
                                            <th class="table-cus">客户名称</th>
                                            <th class="table-type">成本总额</th>
                                            <th class="table-sum">成交总额</th>
                                            <th class="table-type">向供应商付款总额</th>
                                            <th class="table-type">客户付款总额</th>
                                            <th class="table-status">订单状态</th>
                                            <th class="table-status">客户付款状态</th>
                                            <!-- <th class="table-author am-hide-sm-only">录入人</th> -->
                                            <th class="table-date am-hide-sm-only">录入时间</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="productOrderInfo" item="v" key="k">
                                            <tr>
                                                <if condition="$v['order_status'] != 4 ">
                                                    <td>{$k+1}</td>
                                                    <td><a href="__APP__/Order/detail/id/{$v['id']}">{$v['order_id']}</a></td>
                                                    <td>{$v['product_name']}</td>
                                                    <td>{$v['customer_name']}</td>
                                                    <td>{$v['cost_money']}</td>
                                                    <td>{$v['end_money']}</td>
                                                    <td>{$v['supplier_money']}</td>
                                                    <!-- <td>{$v['customer_money']}</td> -->
                                                    <td>{$v['customer_money']} [<a href="#" onClick="addCustomerMoney({$v['id']})">回款详情</a>]</td>
                                                    <td>{$v['order_status_value']}</td>
                                                    <td>{$v['money_status_value']}</td>
                                                    <!-- <td class="am-hide-sm-only">{$v['manager_id']}</td> -->
                                                    <td class="am-hide-sm-only">{$v['insert_time']}</td>
                                                    <td>
                                                        <div class="am-btn-toolbar">
                                                            <div class="am-btn-group am-btn-group-xs">
                                                                
                                                                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="updateOrder({$v['id']})"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                                
                                                                    <button type="button" class="am-btn am-btn-xs am-text-danger am-hide-sm-only" onclick="deleteOrder({$v['id']})"><span class="am-icon-trash-o"></span> 作废</button>

                                                            </div>
                                                        </div>
                                                    </td>
                                                <else/>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$k+1}</span></td>
                                                    <td><a href="__APP__/Order/detail/id/{$v['id']}"><span style="color:#CCC;font-size: 14px;">{$v['order_id']}</span></a></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['product_name']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['customer_name']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['cost_money']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['end_money']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['supplier_money']}</span></td>
                                                    <!-- <td>{$v['customer_money']}</td> -->
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['customer_money']}</span> [<a href="#" onClick="addCustomerMoney({$v['id']})"><span style="color:#CCC;font-size: 14px;">回款详情</span></a>]</td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['order_status_value']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['money_status_value']}</span></td>
                                                    <!-- <td class="am-hide-sm-only">{$v['manager_id']}</td> -->
                                                    <td class="am-hide-sm-only"><span style="color:#CCC;font-size: 14px;">{$v['insert_time']}</span></td>
                                                    <td> </td>
                                                </if>
                                            </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                                        {$pageStr}
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
    <script type="text/javascript">

        function addQuote(){
            // alert(66666);
            var customer_name = $.trim($("#customer_name").val()); 
            if(customer_name == '' ){
                layer.alert("请填写客户名称！", {icon: 5,offset: '200px',});
                $("#customer_name").focus();
                exit;
            }

            var customer_level = $("#customer_level_discount").val();
            if(customer_level == '' ){
                layer.alert("请选择客户等级！", {icon: 5,offset: '200px',});
                $("#customer_level_discount").focus();
                exit;
            }

            var linkman_name = $.trim($("#linkman_name").val());
            if(linkman_name == '' ){
                layer.alert("请填写联系人姓名！", {icon: 5,offset: '200px',});
                $("#linkman_name").focus();
                exit;
            }

            var linkman_phone = $.trim($("#linkman_phone").val());
            if(linkman_phone == '' ){
                layer.alert("请填写联系人电话！", {icon: 5,offset: '200px',});
                $("#linkman_phone").focus();
                exit;
            }

            var remark = $.trim($("#remark").val());

            // var product_type = $()
            product_type_yz();
            product_name_yz();
            product_model_yz();
            product_spec_yz();
            product_supplier_yz();

            var product_type_id = $("#product_type").val();
            var product_name_id = $("#product_name").val();
            var product_model_id = $("#hide_product_model_value").val();
            var product_supplier_id = $("#select_supplier_id").val();
            var product_supplier_name = $("#select_supplier_name").val();
            var product_num = $(".product_num").val();
            var product_spec_str = '';

            var post_parameter_value = $("#post_parameter_spec_value").val();
            var post_parameter_value_arr = post_parameter_value.split(",");
            if(post_parameter_value_arr != ''){
                for(var k in post_parameter_value_arr){
                    var post_parameter_arr = post_parameter_value_arr[k].split("-");

                    var product_spec_id = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                    if(product_spec_id != ''){
                        product_spec_str = product_spec_str+product_spec_id+",";
                    }
                }
            }
            // alert(product_spec_str);

            var special_techmology_str = '';
            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                var special_techmology_arr = [];
                $('input[name=hide_special_technology_selected]').each(function() {
                    var value = $(this).val();
                    if(value != ''){
                        special_techmology_arr.push($(this).val());
                    }
                });
                var special_techmology_str = special_techmology_arr.join(',');
            }
            
            var product_cost_price = $.trim($("#product_cost_price").val());
            if(hide_have_price_value == 2){
                if(product_cost_price == ''){
                    layer.alert("请输入成本单价！", {icon: 5,offset: '200px',});
                    $("#product_cost_price").focus();
                    exit;
                }
            }
            
            var product_discount_money = $("#hide_product_discount_money").val();
            var product_end_price = $.trim($("#end_price").val());
            if(product_end_price == '' ){
                layer.alert("请输入最终价格！", {icon: 5,offset: '200px',});
                $("#end_price").focus();
                exit;
            }

            //添加报价记录
            $.post("__APP__/Order/addQuoteInfo",{"customer_name":customer_name,"customer_level":customer_level,"linkman_name":linkman_name,"linkman_tel":linkman_phone,"remark":remark,"product_type_id":product_type_id,"product_name_id":product_name_id,"product_model_id":product_model_id,"product_spec_id_str":product_spec_str,"special_technologyh_id_str":special_techmology_str,"supplier_id":product_supplier_id,"supplier_name":product_supplier_name,"num":product_num,"discount_money":product_discount_money,"end_money":product_end_price,"cost_price":product_cost_price},function(res){
                    if(res > 0 ){
                        parent.layer.alert('报价记录添加成功！', {
                                                            icon: 1,
                                                            offset: '200px',
                                                            title:'提示',
                                                        });
                        parent.location.href='__APP__/Order/quote';
                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);

                    }else{
                        parent.layer.alert('报价记录添加失败！', {
                                                            icon: 5,
                                                            offset: '200px',
                                                            title:'提示',
                                                        });
                        return false;
                    }
            });


        }

        function getProductName(id,have_price){
            rand_info();

            if(id != 0 ){
                //把判断该分类商品是否有报价的判断数据存入隐藏域中
                $("#hide_have_price_value").val(have_price);

                $.post("__APP__/Order/getProductNameByProductType",{"id":id},function(res){
                    $("#product_name").html('');
                    $("#product_name").html(res);
                })

            }else{
                var id = '';
                $.post("__APP__/Order/getProductNameInfoAll",{"id":id},function(res){
                    $("#product_name").html('');
                    $("#product_name").html(res);
                })
            }

            //根据分类ID判断该分类是否有特殊工艺
            $.post("__APP__/Order/getProductSpecialTechnology",{"id":id},function(res){
                $("#product_special_technology_div").html(' ');
                $("#product_special_technology_div").html(res);
            })

            //移除产品型号
            removeProductModel();
            //移除产品规格
            removeProductSpec(); 

        }

        function getProductModel(id){
            //验证是否选择了产品分类
            product_type_yz();

            //重新渲染与价格有关的信息
            rand_info();

            if( id != 0){
                //渲染产品型号信息
                $.post("__APP__/Order/getProductModelByProductName",{"id":id},function(res){
                    $("#product_model").html('');
                    $("#product_model").html(res);
                })
            }else{
                //移除产品型号
                removeProductModel();
            }
            
            //移除产品规格
            removeProductSpec();

            //若该分类有价格，则重新渲染特殊工艺选项
            var hide_have_price_value = $("#hide_have_price_value").val();
            // alert(hide_have_price_value);
            if(hide_have_price_value == 2){
                $('li[name=product_special_technology]').removeClass("xg-product-btn-selected");
                //对该选项的隐藏域中的值移除
                $('input[name=hide_special_technology_selected]').val('');
            }

            //移除原来的参考信息
            removeRrferInfo();
        }

        function getProductSpec(id){
            //验证是否选择
            product_type_yz();

            $("#product_model_"+id).addClass("xg-product-btn-selected").siblings('li').removeClass("xg-product-btn-selected");

            $("#hide_product_model_value").val(id);

            //重新渲染与价格有关的信息
            rand_info();

            $.post("__APP__/Order/getProductSpecByProductModel",{"id":id},function(res){
                $(".product_paramerter").html('');
                $(".product_paramerter").html(res);
            })

            //若该分类有价格，则重新渲染特殊工艺选项
            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                $('li[name=product_special_technology]').removeClass("xg-product-btn-selected");
                //对该选项的隐藏域中的值移除
                $('input[name=hide_special_technology_selected]').val('');
            }
            //移除原来的参考信息
            removeRrferInfo();

        }

        //对显示或者选中的商品规格信息进行处理
        function selectProductSpec(spec_id,parameter_id){
            //验证是否选择了产品分类
            product_type_yz();

            $("#product_spec_"+spec_id).addClass("xg-product-btn-selected").siblings('li').removeClass("xg-product-btn-selected");
            //将选中的值放入对应的隐藏域中
            $("#hide_parameter_spec_value_"+parameter_id).val(spec_id);

            //重新渲染与价格有关的信息
            
            //若该分类没有价格，则重新渲染特殊工艺选项
            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                $('li[name=product_special_technology]').removeClass("xg-product-btn-selected");
                //对该选项的隐藏域中的值移除
                $('input[name=hide_special_technology_selected]').val('');
            }

            rand_info();

            //移除原来的参考信息
            removeRrferInfo();
        }

        function clickProductSpecialTechnology(id){

            var selected_value = $("#hide_special_technology_selected_"+id).val();
            if(selected_value != ''){
                $("#product_special_technology_"+id).removeClass("xg-product-btn-selected");
                $("#hide_special_technology_selected_"+id).val('');

            }else{
                $("#product_special_technology_"+id).addClass("xg-product-btn-selected");
                $("#hide_special_technology_selected_"+id).val(id);
            }

            //移除原来的参考信息
            removeRrferInfo();
            
        }

        $('#selectSupplier').on('click', function(){
            //验证是否选择了产品分类
            product_type_yz();

            product_name_yz();
            product_model_yz();
            product_spec_yz();

            var product_type_id = $("#product_type").val();
            var product_name_id = $("#product_name").val();
            var product_model_id = $("#hide_product_model_value").val();
            var product_spec_str = '';

            var post_parameter_value = $("#post_parameter_spec_value").val();
            var post_parameter_value_arr = post_parameter_value.split(",");
            if(post_parameter_value_arr != ''){
                for(var k in post_parameter_value_arr){
                    var post_parameter_arr = post_parameter_value_arr[k].split("-");

                    var product_spec_id = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                    if(product_spec_id != ''){
                        product_spec_str = product_spec_str+product_spec_id+",";
                    }
                }
            }
            // alert(product_spec_str);
            rand_info();

            var have_price_value = $("#hide_have_price_value").val();

            $.post("__APP__/Order/getProductSupplierInfo",{"have_price":have_price_value,"product_type_id":product_type_id,"product_name_id":product_name_id,"product_model_id":product_model_id,"product_spec_str":product_spec_str},function(res){
                $("#select_supplier_group").html('');
                $("#select_supplier_group").html(res);

                $("#show_supplier").css("border","medium solid #03C");

                var condition_type = $("#condition_type").val();
                $("#condition_"+condition_type).addClass("am-btn-danger").siblings('button').removeClass("am-btn-danger");
            })

            //移除原来的参考信息
            removeRrferInfo();

        });

        //对供应商信息列表进行条件筛选
        function conditionSelect(type){
            var product_type_id = $("#get_product_type_id").val();
            var product_name_id = $("#get_product_name_id").val();
            var product_model_id = $("#get_product_model_id").val();
            var product_spec_str = $("#get_product_spec_str").val();
            var have_price_value = $("#get_have_price").val();

            $.post("__APP__/Order/getProductSupplierInfo",{"type":type,"have_price":have_price_value,"product_type_id":product_type_id,"product_name_id":product_name_id,"product_model_id":product_model_id,"product_spec_str":product_spec_str},function(res){
                $("#select_supplier_group").html('');
                $("#select_supplier_group").html(res);

                $("#show_supplier").css("border","medium solid #03C");

                var condition_type = $("#condition_type").val();
                $("#condition_"+condition_type).addClass("am-btn-danger").siblings('button').removeClass("am-btn-danger");
            })
            
        }

        //点击供应商信息，把供应商ID和价格填到隐藏域中，并且显示在选择供应商按钮后面
        function clickSupplierInfo(supplier_id,supplier_name,price){

            var have_price_value = $("#hide_have_price_value").val();
            var price_value = '';

            if(have_price_value == 1 ){
                if(price == undefined){
                    var price_value = '';
                    var price_html = "<span style='color: #f00;'>暂无价格</span> <input type='hidden' value='"+price_value+"' id='product_cost_price' />";
                }else{
                    var price_value = price;
                    var price_html = "<span style='color: #f00;'>￥ "+price+"元</span>  <input type='hidden' value='"+price_value+"' id='product_cost_price' />";
                }
            }else{
                var price_html = "<input type='text' value='' id='product_cost_price' />";
            }


            //显示选择的供应商信息
            // var supplier_html = "<span  style='font-size:18px;''> "+supplier_name+"</span> &nbsp;&nbsp;&nbsp;&nbsp;";
            var html = "<div class='am-u-sm-6'> <span  style='font-size:18px;''> "+supplier_name+"</span> </div> &nbsp;&nbsp;&nbsp;&nbsp; <div class='am-u-sm-2'> "+price_html+" </div> <input type='hidden' value='"+supplier_id+"' id='select_supplier_id' /> <input type='hidden' value='"+supplier_name+"' id='select_supplier_name' /> ";

            $('#product_supplier_select').html(' ');
            $('#product_supplier_select').html(html);

            //去除显示的供应商列表信息
            $('#select_supplier_group').html(' ');

            //移除原来的参考信息
            removeRrferInfo();

        }

        function inputProductNum(){
            //对选项内容进行验证
            product_type_yz();
            product_name_yz();
            product_model_yz();
            product_spec_yz();
            product_supplier_yz();

            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                // product_technology();
                var have_price_cost_price = $("#product_cost_price").val();
                if(have_price_cost_price == ''){
                    layer.alert("请输入产品成本单价！", {icon: 5,offset: '200px',});
                    $("#product_cost_price").focus();
                    exit;
                }
            }

            //移除原来的参考信息
            removeRrferInfo();

        }

        function getOrderReferInfo(){

            var customer_level_discount = $("#customer_level_discount").val();
            if(customer_level_discount == ''){
                layer.alert("请选择客户等级！", {icon: 5,offset: '200px',});
                    $("#customer_level_discount").focus();
                    exit;
            }

            product_type_yz();
            product_name_yz();
            product_model_yz();
            product_spec_yz();
            product_supplier_yz();
            //移除原来的参考信息 order_refer_info_button
            removeRrferInfo();

            var product_type_id = $("#product_type").val();
            var product_name_id = $("#product_name").val();
            var product_model_id = $("#hide_product_model_value").val();
            var product_spec_str = '';

            var post_parameter_value = $("#post_parameter_spec_value").val();
            var post_parameter_value_arr = post_parameter_value.split(",");
            if(post_parameter_value_arr != ''){
                for(var k in post_parameter_value_arr){
                    var post_parameter_arr = post_parameter_value_arr[k].split("-");

                    var product_spec_id = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                    if(product_spec_id != ''){
                        product_spec_str = product_spec_str+product_spec_id+",";
                    }
                }
            }
            // alert(product_spec_str);

            var product_supplier_id = $("#select_supplier_id").val();
            var product_num = $(".product_num").val();
            var product_cost_price = $("#product_cost_price").val();

            var hide_have_price_value = $("#hide_have_price_value").val();
            
            if(product_cost_price == ''){
                if(hide_have_price_value == 2){
                    layer.alert("请输入产品成本单价！", {icon: 5,offset: '200px',});
                    $("#product_cost_price").focus();
                    exit;
                }

                product_cost_price = 0;
            }
            
            //获取参考信息
            $.post("__APP__/Order/getOrderReferInfo",{"customer_level":customer_level_discount,"product_type_id":product_type_id,"product_name_id":product_name_id,"product_model_id":product_model_id,"product_spec_str":product_spec_str,"product_supplier_id":product_supplier_id,"product_num":product_num,"product_cost_price":product_cost_price},function(res){
                    $("#order_refer_info_button").after(res);
            })

        }


        //对选项内容进行验证
        function product_type_yz(){
            var product_type = $("#product_type").val();
            if(product_type == ''){
                layer.alert("请选择产品分类！", {icon: 5,offset: '200px',});
                $("#product_type").focus();
                //重新对商品名称的内容进行渲染
                var id = '';
                $.post("__APP__/Order/getProductNameInfoAll",{"id":id},function(res){
                    $("#product_name").html('');
                    $("#product_name").html(res);
                })
                exit;
            }
        }

        function product_name_yz(){
            var product_name = $("#product_name").val();
            if(product_name == ''){
                layer.alert("请选择产品名称！", {icon: 5,offset: '200px',});
                $("#product_name").focus();
                exit;
            }
        }
        function product_model_yz(){
            var product_model = $("#hide_product_model_value").val();
            if(product_model == ''){
                layer.alert("请选择产品型号！", {icon: 5,offset: '200px',});
                $("#product_model").focus();
                exit;
            }
        }
        function product_spec_yz(){
            var post_parameter_value = $("#post_parameter_spec_value").val();

            var post_parameter_value_arr = post_parameter_value.split(",");
            if(post_parameter_value_arr != ''){
                for(var k in post_parameter_value_arr){
                    var post_parameter_arr = post_parameter_value_arr[k].split("-");

                    var product_spec = $("#hide_parameter_spec_value_"+post_parameter_arr[0]+"").val();
                    var product_paramerter_name = post_parameter_arr[1];
                    if(product_spec == ''){
                        layer.alert("请选择"+product_paramerter_name+"！", {icon: 5,offset: '200px',});
                        exit;
                    }
                }
            }else{
                layer.alert("请添加产品规格信息！", {icon: 5,offset: '200px',});
                exit;
            }
        }
        function product_technology(){
            var hide_have_price_value = $("#hide_have_price_value").val();
            if(hide_have_price_value == 2){
                var aa = [];
                $('input[name=hide_special_technology_selected]').each(function() {
                    var value = $(this).val();
                    if(value != ''){
                        aa.push($(this).val());
                    }
                });
                if(aa.length == 0){
                    layer.alert('请选择工艺！');
                    return false;
                }
            }
        }
        function product_supplier_yz(){
            var product_supplier = $("#select_supplier_id").val();
            if(product_supplier == ''){
                layer.alert("请选择供应商！", {icon: 5,offset: '200px',});
                $(".product_supplier").focus();
                exit;
            }
        }

        function removeProductModel(){
            var html = "<span style='color: #f00;'>请先选择产品！</span>";
            $("#product_model").html(' ');
            $("#product_model").html(html);
        }
        function removeProductSpec(){
            var html = "<div class='am-form-group'> <label for='contact-department' class='am-u-sm-2 am-form-label'>产品规格：</label> <div class='am-u-sm-10'> <ul> <li value='1'> <span style='color: #f00;'>请先选择产品型号！</span> </li> </ul> </div> </div> <input type='hidden' value='' id='post_parameter_spec_value' />";
            $(".product_paramerter").html(' ');
            $(".product_paramerter").html(html);
        }
        //移除原来的参考信息
        function removeRrferInfo(){
            $('div[name=refer_history_order_div]').remove();
            $('div[name=refer_history_quote_div]').remove();
            $('div[name=refer_product_discount_money_div]').remove();
        }

        //重新渲染与价格有关的信息
        function rand_info(){
            //重新渲染与价格有关的信息
            //供应商及产品单价
            var supplier_price_html = "<span style='color: #f00;'>请先选择产品信息！</span> <input type='hidden' value='' id='select_supplier_id' /> </span> <input type='hidden' value='' id='select_supplier_name' /> <input type='hidden' value='' id='product_cost_price' />";
            $("#product_supplier_select").html(' ');
            $("#product_supplier_select").html(supplier_price_html);
            //供应商信息列表
            $("#select_supplier_group").html('');

            //数量
            $(".product_num").val('1');
            //历史订单
            var history_order_html = "<div class='am-u-sm-10'> <b style='color: #f00;'>请选择产品信息！</b> </div>";
            $('#history_order').html(' ');
            $('#history_order').html(history_order_html); 
            //历史报价记录
            var history_price_record_html = "";
            //客户参考价
            var customer_discount_money_html = "<span style='color: #f00;'>请选选择产品信息和数量！</span>";
            $('#product_discount_money_div').html(' ');
            $('#product_discount_money_div').html(customer_discount_money_html); 
            //最终输入价格
            $(".end_price").val(' '); 
        }

    </script>
</body>

</html>