<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增订单</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
        h4 { margin: .5rem 0; }
        hr { margin: 0; }
        .am-form-group .am-form-label { width: 120px }
    </style>
</head>
<body data-type="generalComponents" class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover xg-left-nav" nav="order">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb">
                <li><a href="#" class="am-icon-home">首页</a></li>
                <li><a href="#">订单管理</a></li>
                <li class="am-active">新增订单</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">新增订单<span id="notice" style="color:#FF0000;font-size: 14px;"> (带 “*” 为必填项) </span></div>
                        <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" onclick="javascript:history.back(-1);" class="am-btn am-btn-default am-btn-primary"><span class="am-icon-angle-left"></span> 返回</button>
                            </div>
                        </div>
                </div>
                <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">
                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal">
                                <!-- 公司信息 -->
                                <h4>客户信息</h4>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">客户名称：</label>
                                    <div class="am-u-sm-5">
                                        <select id="doc-select" class="customer_name" data-am-selected="{btnWidth:'100%',maxHeight: 370,searchBox: 1}"onchange="selectCustomerInfo()">
                                            <option value="0">客户名称</option>
                                            <foreach name="customerList" item="item" key="key" >
                                                <if condition="$item['cname']!=''">
                                                    <option value="{$item['id']}" class="customer_each">{$item['cname']}</option>
                                                </if>
                                            </foreach>
                                        </select>
                                    </div>
                                    <label for="user-name" class="am-u-sm-2 am-form-label">交货日期：</label>
                                    <div class="am-u-sm-3 am-u-end" id="trade_time_div">
                                        <input type="text" id="trade_time" class="am-form-field" placeholder="交货日期" data-am-datepicker readonly required />
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">联系人：</label>
                                    <div class="am-u-sm-5">

                                        <select id="doc-select-1" class="lxr_select" data-am-selected="{btnWidth:'100%',maxHeight: 370,searchBox: 1}" onchange="getLxrByCustomerId()">
                                            <option value="0">请选择联系人</option>
                                        </select>
                                    </div>
                                    <label class="am-u-sm-2 am-form-label">联系电话：</label>
                                    <div class="am-u-sm-3 am-u-end">
                                        <input type="text" value=" " name="lxr_phone" id="lxr_phone">
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">收货地址：</label>
                                    <div class="am-u-sm-10 am-u-end">
                                        <input type="text"  name="lxr_address" id="lxr_address" value="" />
                                    </div>
                                </div>
                                <hr/>
                                <!-- 商品信息 -->
                                <div class="am-form-group">
                                    <div class="am-u-sm-2" style="width: 120px">
                                         <h4>产品信息</h4>
                                    </div>
                                    <div class="am-u-sm-2 am-u-end" style="margin-top: 5px">
                                        <button type="button" class="am-btn am-btn-xs am-btn-success" onclick="addProductInfo()"><span class="am-icon-plus"></span> 添加商品</button>
                                    </div>
                                    <input type="hidden" value="1" id="add_tr_id" />
                                </div>
                                <div class="am-form-group">
                                    <div class="am-u-sm-1">
                                    </div>
                                    <div class="am-u-sm-11">
                                        <table class="am-table am-table-striped am-table-hover table-main">
                                            <thead>
                                                <tr>
                                                    <th>商品</th>
                                                    <th>规格</th>
                                                    <th>供应商</th>
                                                    <th>数量</th>
                                                    <th>成本单价</th>
                                                    <th>销售单价</th>
                                                    <th>成交总价</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody id="add_product_info_tr">
                                                
                                            </tbody>
                                        </table>
                                        </div>
                                </div>
                                <hr/>
                                <h4>订单基本信息</h4>
                                <div class="am-form-group">
                                    <label for="contact-department" class="am-u-sm-2 am-form-label">订单总价：</label>
                                    <div class="am-u-sm-1">
                                        <button type="button"  onclick="getOrderAllMoney()" class="am-btn am-btn-default">自动计算</button>
                                    </div>
                                    <div class="am-u-sm-3 am-u-end" id="order_all_money">
                                        <input type="text" name="order_money" id="order_money" value=''   >
                                    </div> 

                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">备注：</label>
                                    <div class="am-u-sm-10 am-u-end">
                                        <input type="text" name="order_remarks" id="order_remarks" value=''   >
                                    </div> 
                                </div>
                                <hr/>
                                <div class="am-form-group">
                                    <div class="am-u-sm-10 am-u-sm-push-2">
                                        <button type="button"  onclick="addOrder()" class="am-btn am-btn-primary">提交订单</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/amazeui.min.js"></script>
<script src="__PUBLIC__/js/app.js"></script>
<script src="__PUBLIC__/js/plus.js"></script>
<script src="__PUBLIC__/js/layer.js"></script>

<script type="text/javascript">

    function addOrder(){ 
        customer_name_yz();
        // trade_time_yz();
        lxr_name_yz();
        lxr_phone_yz();
        lxr_address_yz();

        var customer_id = $(".customer_name").val();
        // var customer_name = $("#customer_name_val").val();
        var trade_time = $("#trade_time").val();
        var lxr_name = $(".lxr_select").val();
        var lxr_phone = $("#lxr_phone").val();
        var lxr_address = $("#lxr_address").val();
        
        var order_product_id_arr = [];
        $('input[name=order_product_id]').each(function() {
            var value = $(this).val();
            if(value != ''){
                order_product_id_arr.push($(this).val());
            }
        });
        var order_product_id = order_product_id_arr.join(',');
        if(order_product_id == '' ){
            layer.alert("请选择产品信息！", {icon: 5,});
            exit;
        }
        // alert(order_product_id);

        var order_money = $.trim($("#order_money").val());
        if(order_money == '' ){
            layer.alert("请填写订单总价！", {icon: 5,});
            exit;
        }

        var order_remarks = $.trim($("#order_remarks").val());

        //添加订单信息
        $.post("__APP__/Order/addOrderInfo",{"customer_id":customer_id,"trade_time":trade_time,"linkman_name":lxr_name,"linkman_tel":lxr_phone,"link_address":lxr_address,"order_product_id":order_product_id,"order_money":order_money,"order_remarks":order_remarks},function(res){
                if(res > 0 ){
                    layer.alert('订单添加成功！', {
                                                        icon: 1,
                                                        title:'提示',
                                                    });
                    location.href='__APP__/Order/index';
                    // var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    // parent.layer.close(index);

                }else{
                    layer.alert('订单添加失败！', {
                                                        icon: 5,
                                                        title:'提示',
                                                    });
                    return false;
                }
        });
        
    }


    function selectCustomerInfo(){
        var customer_id = $(".customer_name").val();
        $.post("__APP__/Order/getLxrByCustomerId",{"customer_id":customer_id},function(res){
            $(".lxr_select").html();
            $(".lxr_select").html(res);
        });
        rand_customer_info();

        //移除原来的参考信息
        removeRrferInfo();
    }

    function getLxrByCustomerId(){
        var lxr_id = $(".lxr_select").val();

        $.post("__APP__/Order/getTelByLxrId",{"lxr_id":lxr_id},function(res){
            var data = eval("(" + res + ")");
            $("input[name=lxr_phone]").val(data.phone);
            $("input[name=lxr_address]").val(data.address);
        })

    }

    //添加商品信息按钮
    function addProductInfo(){
        customer_name_yz();

        var customer_id = $(".customer_name").val();
        var add_tr_id = $("#add_tr_id").val();
        layer.open({
                    type: 2,
                    shadeClose : false,
                    title: '新增商品信息',
                    shade: 0.8,
                    area: ['75%', '90%'],
                    btn: ['关闭'],
                    content: '__APP__/Order/addProductInfo/customer_id/'+customer_id+'/add_tr_id/'+add_tr_id, //iframe的url
                });
    }

    //删除添加的商品信息
    function deleteProduct(tr_id){
        alert(tr_id);
        $("tr[name="+tr_id+"]").remove();
    }

    //
    function getOrderAllMoney(){
        var order_product_id_arr = [];
        $('input[name=order_product_id]').each(function() {
            var value = $(this).val();
            if(value != ''){
                order_product_id_arr.push($(this).val());
            }
        });
        var order_product_id = order_product_id_arr.join(',');
        if(order_product_id == '' ){
            layer.alert("请选择商品信息！", {icon: 5,});
            exit;
        } 
        // alert(order_product_id);

        $.post("__APP__/Order/getOrderAllMoney",{"order_product_id":order_product_id},function(res){
            if(res >= 0){
                $("#order_money").val(res);
            }        
        });

    }

    //客户信息验证
    function customer_name_yz(){
        var customer_id_value = $(".customer_name").val();
        if(customer_id_value == 0){
            layer.alert("请选择客户名称！", {icon: 5,});
            $(".customer_name").focus();
            exit;
        }
    }
    //
    // function trade_time_yz(){
    //     var trade_time_value = $("#trade_time").val();
    //     if(trade_time_value == ''){
    //         layer.alert("请选择交货日期！", {icon: 5,offset: '200px',});
    //         exit;
    //     }
    // }
    function lxr_name_yz(){
        var lxr_name_value = $(".lxr_select").val();
        if(lxr_name_value == 0){
            layer.alert("请选择联系人！", {icon: 5,});
            $(".lxr_select").focus();
            exit;
        }
    }
    function lxr_phone_yz(){
        var lxr_phone_value = $("#lxr_phone").val();
        if(lxr_phone_value == ''){
            layer.alert("请输入联系人电话！", {icon: 5,});
            $(".lxr_phone").focus();
            exit;
        }
    }
    function lxr_address_yz(){
        var lxr_address_value = $("#lxr_address").val();
        if(lxr_address_value == ''){
            layer.alert("请输入联系人地址！", {icon: 5,});
            $(".lxr_address").focus();
            exit;
        }
    }

</script>

</body>

</html>