<if condition="$parameterSpec != null ">
    <foreach name="parameterSpec" item="item" key="key">
        <div class="am-form-group">
            <label for="contact-department" class="am-u-sm-2 am-form-label">{$item['parameter']['name']}：</label>
            <div class="am-u-sm-10">
                <ul>
                    <if condition="$item['spec'] != '' ">
                        <foreach name="parameterSpec[$key]['spec']" item="vv" key="kk">
                            <li class="xg-product-btn" name="product_spec" id="product_spec_{$vv['id']}" style="margin-right:10px;" value="{$vv['id']}" onclick="selectProductSpec({$vv['id']},{$item['parameter']['id']},'{$vv['spec_value']}')">{$vv['spec_value']}</li>
                        </foreach> 
                    <else/>
                        <li class="" style="font-size:18px;color:red;" value="">暂无，请先添加该规格信息</li>
                    </if>
                </ul>
            </div>
        </div>
        <input type="hidden" value="" id="hide_parameter_spec_value_{$item['parameter']['id']}" />
        <input type="hidden" value="" id="hide_parameter_spec_name_value_{$item['parameter']['id']}" />
    </foreach>
<else/>
    <div class="am-form-group">
        <label for="contact-department" class="am-u-sm-2 am-form-label">产品规格：</label>
        <div class="am-u-sm-10">
            <ul>
                <li  value="">
                    <span style="font-size:18px;color:red;">请先添加该产品型号的规格信息！</span>
                </li>
            </ul>
        </div>
    </div>
</if>
<input type="hidden" value="{$parameterStr}" id="post_parameter_spec_value" />


