<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单列表</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <link rel="stylesheet" href="__PUBLIC__/css/boot.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/daterangepicker.css">
    <script src="__PUBLIC__/js/jquery.min.js"></script>

</head>

<body data-type="generalComponents" class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover xg-left-nav"  nav="order">
            <include file="Public:menu"/>
        </div>
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">订单管理</a></li>
            <li class="am-active">订单列表</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">订单列表</div>
                        <div class="tpl-portlet-input tpl-fz-ml">
                                <div class="form-group">
                                    <div class="input-group">
                                        <button type="button" class="btn btn-default " id="daterange-btn">
                                        <span>
                                            <if condition="$get['search_date_value'] != '' ">
                                                {$get['search_date_value']}
                                            <else/>
                                                <i class="fa fa-calendar"></i> 日期选择
                                            </if>
                                        </span>
                                            <i class="fa fa-caret-down"></i>
                                        </button>
                                        <button type="button" onclick="searchSubmit('date')" class="am-btn pull-right am-btn-success"></span> 确定</button>
                                    </div>

                                    <input type="hidden" value="{$get['search_date_value']}" id="hide_search_date" />

                                </div>
                            
                        </div>
                </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-4">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" onclick="addOrder()" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增订单</button>
                                    <!-- <div id="div1nnn" style="display:none;"><iframe src="add.html" width=100% height=100% id=""></iframe></div> -->
                                    <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 导出数据</button>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-2">
                            <div class="am-form-group"> 
                                <!-- <label for="contact-department" class="am-u-sm-2 am-form-label">数量：</label> -->订单状态： 
                                <select data-am-selected="{btnSize: 'sm'}" id="order_status" onchange="searchSubmit();">
                                    <option value="0">全部订单</option>
                                    <foreach name="orderStatusArr" item="v" key="k">
                                        <if condition="$get['order_status'] == $v">
                                            <option value="{$v}" selected="selected">{$k}</option>
                                        <else/>
                                            <option value="{$v}" >{$k}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-2">
                            <div class="am-form-group">
                                客户付款状态：
                                <select data-am-selected="{btnSize: 'sm'}" id="money_status" onchange="searchSubmit();">
                                    <option value="0">全部</option>
                                    <foreach name="moneyStatusArr" item="v" key="k">
                                        <if condition="$get['money_status'] == $v">
                                            <option value="{$v}" selected="selected">{$k}</option>
                                        <else/>
                                            <option value="{$v}" >{$k}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-2" >
                            <div class="am-form-group" style="margin-left:30px;">
                                搜索类型：
                                <select data-am-selected="{btnSize: 'sm'}" id="input_type_value">
                                    <if condition="$get['input_type_value'] == supplier ">
                                        <option value="0" >全部信息</option>
                                        <option value="product">商品名称</option>
                                        <option value="customer">客户</option>
                                        <option value="supplier" selected="selected">供应商</option>
                                    <elseif condition="$get['input_type_value'] == customer " />
                                        <option value="0" >全部信息</option>
                                        <option value="product">商品名称</option>
                                        <option value="customer" selected="selected">客户</option>
                                        <option value="supplier">供应商</option>
                                    <elseif condition="$get['input_type_value'] == product " />
                                        <option value="0" >全部信息</option>
                                        <option value="product" selected="selected">商品名称</option>
                                        <option value="customer">客户</option>
                                        <option value="supplier">供应商</option>
                                    <else/>
                                        <option value="0" selected="selected">全部信息</option>
                                        <option value="product">商品名称</option>
                                        <option value="customer">客户</option>
                                        <option value="supplier">供应商</option>
                                    </if>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-2">
                            <div class="am-input-group am-input-group-sm">
                                <input type="text" class="am-form-field" placeholder="请先选择搜索类型" value="{$get['search_value']}" id="search_value">
                                <span class="am-input-group-btn">
                                    <button class="am-btn am-btn-success tpl-am-btn-success am-icon-search" type="button"  onclick="searchSubmit('input');"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <thead>
                                        <tr>
                                            <th >序号</th>
                                            <th class="table-id">订单编号</th>
                                            <th class="table-title">商品名称</th>
                                            <th class="table-cus">客户名称</th>
                                            <th class="table-type">成本总额</th>
                                            <th class="table-sum">成交总额</th>
                                            <th class="table-type">向供应商付款总额</th>
                                            <th class="table-type">客户付款总额</th>
                                            <th class="table-status">订单状态</th>
                                            <th class="table-status">客户付款状态</th>
                                            <!-- <th class="table-author am-hide-sm-only">录入人</th> -->
                                            <th class="table-date am-hide-sm-only">录入时间</th>
                                            <th class="table-set">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <foreach name="productOrderInfo" item="v" key="k">
                                            <tr>
                                                <if condition="$v['order_status'] != 4 ">
                                                    <td>{$k+1}</td>
                                                    <td><a href="__APP__/Order/detail/id/{$v['id']}">{$v['order_id']}</a></td>
                                                    <td>{$v['product_name']}</td>
                                                    <td>{$v['customer_name']}</td>
                                                    <td>{$v['cost_money']}</td>
                                                    <td>{$v['end_money']}</td>
                                                    <td>{$v['supplier_money']}</td>
                                                    <!-- <td>{$v['customer_money']}</td> -->
                                                    <td>{$v['customer_money']} [<a href="#" onClick="addCustomerMoney({$v['id']})">回款详情</a>]</td>
                                                    <td>{$v['order_status_value']}</td>
                                                    <td>{$v['money_status_value']}</td>
                                                    <!-- <td class="am-hide-sm-only">{$v['manager_id']}</td> -->
                                                    <td class="am-hide-sm-only">{$v['insert_time']}</td>
                                                    <td>
                                                        <div class="am-btn-toolbar">
                                                            <div class="am-btn-group am-btn-group-xs">
                                                                
                                                                    <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="updateOrder({$v['id']})"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                                
                                                                    <button type="button" class="am-btn am-btn-xs am-text-danger am-hide-sm-only" onclick="deleteOrder({$v['id']})"><span class="am-icon-trash-o"></span> 作废</button>

                                                            </div>
                                                        </div>
                                                    </td>
                                                <else/>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$k+1}</span></td>
                                                    <td><a href="__APP__/Order/detail/id/{$v['id']}"><span style="color:#CCC;font-size: 14px;">{$v['order_id']}</span></a></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['product_name']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['customer_name']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['cost_money']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['end_money']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['supplier_money']}</span></td>
                                                    <!-- <td>{$v['customer_money']}</td> -->
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['customer_money']}</span> [<a href="#" onClick="addCustomerMoney({$v['id']})"><span style="color:#CCC;font-size: 14px;">回款详情</span></a>]</td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['order_status_value']}</span></td>
                                                    <td><span style="color:#CCC;font-size: 14px;">{$v['money_status_value']}</span></td>
                                                    <!-- <td class="am-hide-sm-only">{$v['manager_id']}</td> -->
                                                    <td class="am-hide-sm-only"><span style="color:#CCC;font-size: 14px;">{$v['insert_time']}</span></td>
                                                    <td> </td>
                                                </if>
                                            </tr>
                                        </foreach>
                                    </tbody>
                                </table>
                                <div class="am-cf">

                                    <div class="am-fr">
                                        {$pageStr}
                                    </div>
                                </div>
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/moment.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/daterangepicker.js"></script>
<script type="text/javascript">
    // 日期插件
    $('#daterange-btn').daterangepicker({
            ranges: {
                '今天': [moment(), moment()],
                '本周': [moment().startOf('week'), moment().endOf('week')],
                '本月': [moment().startOf('month'), moment().endOf('month')],
                '今年': [moment().startOf('year'), moment().endOf('year')]
            },
            startDate: moment(),
            endDate: moment().endOf('month')
        },
        function(start, end) {
            $('#daterange-btn span').html(start.format('YYYY年MMMD日') + ' - ' + end.format('YYYY年MMMD日'));

            $("#hide_search_date").val(start.format('YYYY年MMMD日') + "-" + end.format('YYYY年MMMD日'));
            // alert(start.format('YYYYMMDD') + " " + end.format('YYYYMMDD'));


        }
    );
    //确定时间后搜索
    function searchSubmit(name){
        // alert(name);
        var search_date_value = $("#hide_search_date").val();
        var order_status = $("#order_status").val();
        var money_status = $("#money_status").val();
        var input_type_value = $("#input_type_value").val();
        var search_value = $.trim($("#search_value").val());
        // alert(search_date_value);
        if(name == 'date'){
            if(search_date_value == ''){
                layer.alert("请选择日期！", {icon: 5,offset: '200px',});
                return false;
            }

            if(search_value == ''){
                input_type_value = 0;
            }
        }else{
            if(search_date_value == ''){
                search_date_value = 0;
            }
        }
        
        

        if(name == 'input'){
            if(input_type_value == 0){
                search_value = 0;
            }else{
                if(search_value == ''){
                    layer.alert("搜索内容不能为空！", {icon: 5,offset: '200px',});
                    $("#search_value").focus();
                    return false;
                }
            }
            
        }else{
            if(search_value == ''){
                search_value = 0;
            }
        }
        

        

        location.href='__APP__/Order/index/order_status/'+order_status+'/money_status/'+money_status+'/input_type_value/'+input_type_value+'/search_value/'+search_value+'/search_date_value/'+search_date_value;
    }




    var layerIndexObject = {};
    // 新增订单
    function addOrder(){
        layerIndexObject['A'] = layer.open({
                                    type: 2,
                                    offset: '20px',
                                    shadeClose : false,
                                    title: '新增订单',
                                    shade: 0.8,
                                    area: ['75%', '90%'],
                                    btn: ['关闭'],
                                    content: '__APP__/Order/addOrder' //iframe的url
                                });
        
    }

    //新增客户付款数
    function addCustomerMoney(id){
        // alert(id);
        layer.open({
                    type: 2,
                    offset: '20px',
                    shadeClose : false,
                    title: '客户回款管理', 
                    shade: 0.8,
                    area: ['70%', '80%'],
                    btn: ['关闭'],
                    content: '__APP__/Order/addCustomerMoney/id/'+id, //iframe的url

                });
    }

    //修改订单信息
    function updateOrder(id){
        layer.open({
                    type: 2,
                    offset: '20px',
                    shadeClose : false,
                    title: '修改订单', 
                    shade: 0.8,
                    area: ['75%', '90%'],
                    btn: ['关闭'],
                    content: '__APP__/Order/update/id/'+id, //iframe的url

                });
    }

    //删除订单信息
    function deleteOrder(id){
        layer.confirm('您确定要删除该订单信息？', {
                icon: 3,
                anim:5,
                offset: '200px',
                title:'提示',
                btn: ['确定','取消'] //按钮
            }, function(){
                if(id){
                    $.ajax({
                        url:'__APP__/Order/deleteOrderInfo',
                        data:'id='+id,
                        type:'post',
                        dataType:'json',
                        success:function(res){
                            layer.confirm(res, {
                                icon: 1,
                                anim:5,
                                offset: '200px',
                                title:'提示',
                                btn: ['确定'] //按钮
                            }, function(){
                                window.location.reload();       
                            });
                        }
                    });

                }else{
                    layer.alert('删除失败！', {icon: 1,offset: '200px',title:'提示'});
                }          
            }, function(){
                layer.msg('删除已取消！', {
                time: 2000, //20s后自动关闭
                offset: '200px',
                // title:'提示'
                });
            });
    }

</script>
</body>

</html>