<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改报价记录</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
        h4 { margin: .5rem 0; }
        hr { margin: 0; }
        .product-info { margin-bottom: 0!important; }
        .product-info div { height: 35px; line-height: 35px;font-size: 16px }
    </style>
</head>

<body data-type="generalComponents">
    <div class="tpl-portlet-components xg-layer-size">
        <div class="tpl-block ">
            <div class="am-g tpl-amazeui-form">
                <div class="am-u-sm-12 am-u-md-12">
                    <form class="am-form am-form-horizontal">
                        <!-- 公司信息 -->
                        <h4>客户信息</h4>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">客户名称：</label>
                            <div class="am-u-sm-4">
                                <input type="text" id="customer_name" value="{$quoteInfo['customer_name']}">
                            </div>
                            <label for="user-name" class="am-u-sm-2 am-form-label">客户等级：</label>
                            <div class="am-u-sm-2 am-u-end">
                                <select id="customer_level">
                                    <option value="">请选择客户等级</option>
                                    <foreach name="customerLevelInfo" item="v" key="k">
                                        <if condition="$quoteInfo['customer_level_id'] == $v['id']">
                                            <option value="{$v['id']}" selected="selected" >{$v['name']}</option>
                                        <else/>
                                            <option value="{$v['id']}" >{$v['name']}</option>
                                        </if>
                                    </foreach>
                                </select>
                            </div>
                        </div>
                        <div class="am-form-group"> 
                            <label class="am-u-sm-2 am-form-label">联系人：</label>
                            <div class="am-u-sm-4">
                                <input type="text" id="linkman_name" value="{$quoteInfo['linkman_name']}">
                            </div>
                            <label class="am-u-sm-2 am-form-label">联系电话：</label>
                            <div class="am-u-sm-2 am-u-end">
                                <input type="text" id="linkman_phone" value="{$quoteInfo['linkman_tel']}">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-2 am-form-label">备注：</label>
                            <div class="am-u-sm-8 am-u-end">
                                <input type="text" id="remark" value="{$quoteInfo['remark']}">
                            </div>
                        </div>
                        <hr/>
                        <!-- 联系人信息 -->
                        <h4>商品信息</h4>
                        <div class="am-form-group product-info">
                            <label for="contact-name" class="am-u-sm-2 am-form-label">产品分类：</label>
                            <div class="am-u-sm-2">
                                {$quoteInfo['product_type']}
                            </div>
                            <label for="contact-name" class="am-u-sm-2 am-form-label">产品名称：</label>
                            <div class="am-u-sm-2">
                                {$quoteInfo['product_name']}
                            </div>
                            <label for="contact-name" class="am-u-sm-2 am-form-label">产品型号：</label>
                            <div class="am-u-sm-2 am-u-end">
                                {$quoteInfo['product_model']}
                            </div>
                        </div>
                        <if condition="$quoteInfo['parameter_spec_value'] != '' ">
                            <foreach name="quoteInfo['parameter_spec_value']" item="v" key="k">
                                <div class="am-form-group product-info">
                                    <label class="am-u-sm-2 am-form-label">{$v['parameter_name']}：</label>
                                    <div class="am-u-sm-10 am-u-end">
                                        {$v['spec_value']}
                                    </div>
                                </div>
                            </foreach> 
                        <else/>
                            <div class="am-form-group product-info">
                                <label class="am-u-sm-2 am-form-label">产品规格：</label>
                                <div class="am-u-sm-10 am-u-end">
                                    该报价记录中无产品规格信息！
                                </div>
                            </div>
                        </if>

                        <if condition="$quoteInfo['special_technology_value'] != null ">
                            <div class="am-form-group product-info">
                                <label class="am-u-sm-2 am-form-label">特殊工艺：</label>
                                <div class="am-u-sm-10 am-u-end">
                                    {$quoteInfo['special_technology_value']}
                                </div>
                            </div>
                        </if>
                        <div class="am-form-group product-info">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">供应商：</label>
                            <div class="am-u-sm-10">
                                {$quoteInfo['supplier_name']}
                            </div>
                        </div>
                        <div class="am-form-group product-info">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">数量  ({$quoteInfo['product_unit']})：</label>
                            <div class="am-u-sm-10">
                                {$quoteInfo['num']}
                            </div>
                        </div>
                        <div class="am-form-group product-info">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">成本单价：</label>
                            <div class="am-u-sm-2">
                                <if condition="$quoteInfo['discount_money'] eq ''">
                                    --
                                <else/>
                                    {$quoteInfo['cost_price']} 元
                                </if>
                            </div>
                            <label for="contact-department" class="am-u-sm-2 am-form-label">参考价格：</label>
                            <div class="am-u-sm-2 am-u-end">
                                <if condition="$quoteInfo['discount_money'] eq ''">
                                    --
                                <else/>
                                    {$quoteInfo['discount_money']} 元
                                </if>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="contact-department" class="am-u-sm-2 am-form-label">单价：</label>
                            <div class="am-u-sm-2">
                                <input type="text" id="end_price" value="{$quoteInfo['end_price']}" >
                            </div>
                            <label for="contact-department" class="am-u-sm-2 am-form-label">总价：</label>
                            <div class="am-u-sm-2 am-u-end">
                                <input type="text" id="end_money" value="{$quoteInfo['end_money']}" >
                            </div>
                        </div>
                        <hr/>
                        <input type="hidden" value="{$quoteInfo['id']}" id="quote_id" />
                        <hr/>
                        <div class="am-form-group" style="margin-top: 10px">
                            <div class="am-u-sm-10 am-u-sm-push-2">
                                <button type="button" class="am-btn am-btn-primary" onclick="updateSubmit()">确认修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/js/layer.js"></script>
    <script type="text/javascript">

        function updateSubmit(){
            // alert(55555);
            var customer_name = $.trim($("#customer_name").val());
            if(customer_name == ''){
                layer.alert("客户名称不能为空！", {icon: 5,});
                $("#customer_name").focus();
                return false;
            }

            var customer_level =  $("#customer_level").val();
            if(customer_level == ''){
                layer.alert("请选择客户等级！", {icon: 5,});
                $("#customer_level").focus();
                return false;
            }

            var linkman_name = $.trim($("#linkman_name").val());
            if(linkman_name == ''){
                layer.alert("联系人姓名不能为空！", {icon: 5,});
                $("#linkman_name").focus();
                return false;
            }

            var linkman_phone = $.trim($("#linkman_phone").val());
            if(linkman_phone == ''){
                layer.alert("联系人电话不能为空！", {icon: 5,});
                $("#linkman_phone").focus();
                return false;
            }

            var remark = $("#remark").val();

            var end_price = $.trim($("#end_price").val());
            if(end_price == ''){
                layer.alert("单价不能为空！",{icon:5,});
                return false;
            }

            var end_money = $.trim($("#end_money").val());
            if(end_money == ''){
                layer.alert("总价不能为空！", {icon: 5,});
                $("#end_money").focus();
                return false;
            }

            var quote_id = $("#quote_id").val();

            //修改报价记录信息
            $.post("__APP__/Order/updateQuote",{"quote_id":quote_id,"customer_name":customer_name,"customer_level":customer_level,"linkman_name":linkman_name,"linkman_phone":linkman_phone,"remark":remark,"end_price":end_price,"end_money":end_money},function(res){
                    if(res > 0 ){
                        parent.layer.msg('修改成功！', {icon: 1,});
                        parent.location.href='__APP__/Order/quote';

                        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                        parent.layer.close(index);

                    }else{
                        parent.layer.alert('修改失败！', {icon: 5,title:'提示',});
                        return false;
                    }
            });

        }

    </script>
</body>

</html>