<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增客户</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <link rel="stylesheet" href="__PUBLIC__/css/app.css">
    <style>
        h4 { margin: .5rem 0; }
        hr { margin: 0; }
    </style>
</head>
<body data-type="generalComponents" class="abc">
    <!-- 网站头部 -->
    <header class="am-topbar am-topbar-inverse admin-header">
        <include file="Public:header"/>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <!-- 左侧菜单栏 -->
        <div class="tpl-left-nav tpl-left-nav-hover" nav="customer">
            <include file="Public:menu"/>
        </div>
        <!-- 右侧主要内容 -->
        <div class="tpl-content-wrapper">
            <ol class="am-breadcrumb" style="margin: 5px">
                <li><a href="__APP__/Index" class="am-icon-home">首页</a></li>
                <li><a href="#">客户管理</a></li>
                <li class="am-active">新增客户</li>
            </ol>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">新增客户<span style="color:#FF0000;font-size: 14px;"> (带 “*” 为必填项) </span></div>
                        <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="am-btn-group am-btn-group-xs">
                            <button type="button" onclick="javascript:history.back(-1);" class="am-btn am-btn-default am-btn-primary"><span class="am-icon-angle-left"></span> 返回</button>
                            </div>
                        </div>
                </div>
                <div class="tpl-block ">
                    <div class="am-g tpl-amazeui-form">
                        <div class="am-u-sm-12 am-u-md-9">
                            <form class="am-form am-form-horizontal" action="__APP__/Customer/addCustomer" method="post" enctype="multipart/form-data">
                                <!-- 公司信息 -->
                                <h4>公司信息</h4>
                                <div class="am-form-group">
                                    <label for="customer_name" class="am-u-sm-2 am-form-label">客户名称
                                            <span style="color:#FF0000"> *</span>
                                    </label>
                                    <div class="am-u-sm-4">
                                        <input type="text" id="customer_name" name="customer_name" value="{$post['customer_name']}">
                                        <span id="name_notice" style="color:#f00;font-size: 14px"></span>
                                    </div>
                                    <label class="am-u-sm-2 am-form-label">客户类型</label>
                                    <div class="am-u-sm-4">
                                        <select id="customer_type" name="customer_type">
                                            <if condition="$post['customer_type'] == 3">
                                                <option value="1">公司</option>
                                                <option value="2">个人</option>
                                                <option value="3" selected="selected">政府机构</option>
                                            <elseif condition="$post['customer_type'] == 2" />
                                                <option value="1">公司</option>
                                                <option value="2" selected="selected">个人</option>
                                                <option value="3">政府机构</option>
                                            <else/>
                                                <option value="1" selected="selected">公司</option>
                                                <option value="2">个人</option>
                                                <option value="3">政府机构</option>
                                            </if>
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">邮编</label>
                                    <div class="am-u-sm-4">
                                        <input type="text" id="code" name="code" value="{$post['code']}">
                                    </div>
                                    <label class="am-u-sm-2 am-form-label">客户等级</label>
                                    <div class="am-u-sm-4">
                                        <select id="rank" name="rank" >
                                            <foreach name="rank" item="v">
                                                <if condition="$post['rank'] == $v['level']">
                                                    <option value="{$v[level]}" selected="selected">{$v['name']}</option>
                                                <else/>
                                                    <option value="{$v['level']}" >{$v['name']}</option>
                                                </if>
                                            </foreach>
                                        </select> 
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">所在区域<span style="color:#FF0000"> *</span></label>
                                    <div class="am-u-sm-2"> 
                                        <select id="customer_pro" name="province_name" data-am-selected="{btnWidth:'200px',maxHeight: 370,searchBox: 1}" onchange="getCityInfos2();">
                                            <option value="0" >请选择省</option>
                                            <foreach name="province" item="v">
                                            <if condition="$post['province_name'] == $v['code']">
                                                <option value="{$v[code]}" selected="selected">{$v['name']}</option>
                                            <else/>
                                                <option value="{$v['code']}" >{$v['name']}</option>
                                            </if>
                                            </foreach>
                                        </select>
                                        <span id="address_notice" style="color:#f00;font-size: 14px"></span>
                                    </div>
                                    <div class="am-u-sm-2">
                                        <select id="customer_city" name="city_name" data-am-selected="{btnWidth:'200px',maxHeight: 370,searchBox: 1}" onchange="getAreaInfos2();">
                                            <option value="0" checked="checked">请选择市</option>
                                            <foreach name="city" item="v">
                                            <if condition="$post['city_name'] == $v['code']">
                                                    <option value="{$v[code]}" selected="selected">{$v['name']}</option>
                                                <else/>
                                                    <option value="{$v['code']}" >{$v['name']}</option>
                                                </if>
                                            </foreach>
                                        </select> 
                                    </div>
                                    <div class="am-u-sm-2"> 
                                        <select id="customer_area" name="area_name" data-am-selected="{btnWidth:'200px',maxHeight: 370,searchBox: 1}" >
                                            <option value="0" checked="checked">请选择区</option>
                                            <foreach name="area" item="v">
                                            <if condition="$post['area_name'] == $v['code']">
                                                    <option value="{$v[code]}" selected="selected">{$v['name']}</option>
                                                <else/>
                                                    <option value="{$v['code']}" >{$v['name']}</option>
                                                </if>
                                            </foreach>
                                        </select> 
                                    </div>
                                    <label class="am-u-sm-2 am-form-label"></label>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">公司详细地址
                                            <span style="color:#FF0000"> *</span>
                                    </label>
                                    <div class="am-u-sm-10">
                                        <input type="text" id="local_address" name="local_address" value="{$post['local_address']}">
                                        <span id="street_notice" style="color:#FF0000;font-size: 14px"></span>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">备注</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" id="remarks" name="remarks" value="{$post['remarks']}">
                                    </div>
                                </div>
                                <hr/>
                                <h4>联系人信息</h4>
                                <!-- <div class="contact">
                                    <div class="am-form-group">
                                        <label class="am-u-sm-2 am-form-label">联系人姓名
                                                <span id="sname_notice" style="color:#FF0000"> *</span>
                                        </label>
                                        <div class="am-u-sm-4">
                                            <input type="tel" id="link_name0" name="link_name0" value="{$post['link_name0']}" >
                                        </div>
                                        <label class="am-u-sm-2 am-form-label">联系电话
                                                <span id="sname_notice" style="color:#FF0000"> *</span>
                                        </label>
                                        <div class="am-u-sm-4">
                                            <input type="tel" id="link_phone0" name="link_phone0" value="{$post['link_phone0']}" >
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label class="am-u-sm-2 am-form-label">联系人地址</label>
                                        <div class="am-u-sm-10">
                                            <input type="text" id="link_address0" name="link_address0" value="{$post['link_address0']}" >
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="0" name="select_num_hide">
                                <input type="button" value="添加联系人" id="add-contact"> -->
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">联系人姓名
                                            <span style="color:#FF0000"> *</span>
                                    </label>
                                    <div class="am-u-sm-4">
                                        <input type="tel" id="link_name" name="link_name" value="{$post['link_name']}">
                                        <span id="linkman_notice" style="color:#f00;font-size: 14px"></span>
                                    </div>
                                    <label class="am-u-sm-2 am-form-label">联系电话
                                            <span style="color:#FF0000"> *</span>
                                    </label>
                                    <div class="am-u-sm-4">
                                        <input type="tel" id="link_phone" name="link_phone" value="{$post['link_phone']}">
                                        <span id="phone_notice" style="color:#f00;font-size: 14px"></span>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">联系人地址</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" id="link_address" name="link_address" value="{$post['link_address']}">
                                    </div>
                                </div>
                                <hr/>
                                <h4>财务信息</h4>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">纳税人识别号</label>
                                    <div class="am-u-sm-4">
                                        <input type="tel" id="invoice_num" name="invoice_num" value="{$post['invoice_num']}">
                                    </div>
                                    <label class="am-u-sm-2 am-form-label">电话</label>
                                    <div class="am-u-sm-4">
                                        <input type="tel" id="invoice_tel" name="invoice_tel" value="{$post['invoice_tel']}" >
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">开户银行</label>
                                    <div class="am-u-sm-4">
                                        <input type="tel" id="bank_name" name="bank_name" value="{$post['bank_name']}" >
                                    </div>
                                    <label class="am-u-sm-2 am-form-label">银行账号</label>
                                    <div class="am-u-sm-4">
                                        <input type="text" id="bank_num" name="bank_num" value="{$post['bank_num']}" >
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-2 am-form-label">开户地址</label>
                                    <div class="am-u-sm-10">
                                        <input type="text" id="bank_address" name="bank_address" value="{$post['bank_address']}" >
                                    </div>
                                </div>
                                <hr/>
                                <div class="am-form-group">
                                    <div class="am-u-sm-10 am-u-sm-push-2">
                                        <button id="submit" type="submit" class="am-btn am-btn-primary" style="margin-top: 10px">确认添加</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/amazeui.min.js"></script>
    <script src="__PUBLIC__/js/app.js"></script>
    <script src="__PUBLIC__/js/plus.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript">
    //已有的地址信息修改
    function getCityInfos2(){
      //获取省份名称的value值
      var province = $("#customer_pro").val();

      if(province == '0'){
        var proid = 0;
      }else{
        var proid = province;
      }
      
      $.ajax({
        url:'__APP__/Customer/getCitys',
        data:'procode='+proid,
        dataType:'json',
        success:function(re){
          var cityid = '';
          var cname = '';
          $("#customer_city").empty();
          
          $("#customer_city").append("<option value='0'>请选择市</option>");
          //省份改变之后地区也随之改变
          var citys = $("#customer_city").val();
          
          if(re && citys == '0'){
            $.ajax({
                url:'__APP__/Customer/getAreas',
                data:'citycode='+citys,
                dataType:'json',
                success:function(res){
                    var areaid = '';
                    var areaname = '';
                    $("#customer_area").empty();
                    $("#customer_area").append("<option value='0'>请选择区</option>"); 
                    for (var k in res){
                        areaid = res[k].code;
                        areaname = res[k].name;
                        $("#customer_area").append("<option value='"+areaid+"'>"+areaname+"</option>");  
                    }
                }
            });
          }else{
            $("#customer_area").empty();
            $("#customer_area").append("<option value='0'>请选择区</option>"); 
          }
          //循环显示市区城市
          for (var k in re){
            cityid = re[k].code;
            cname = re[k].name;
            $("#customer_city").append("<option value='"+cityid+"'>"+cname+"</option>");  
          }
        }
      });
    }
    function getAreaInfos2(){
      var cityid = $("#customer_city").val();

      if(cityid == '0'){
        var cityid = 0;
      }else{
        var cityid = cityid;
      }
      
      $.ajax({
        url:'__APP__/Customer/getAreas',
        data:'citycode='+cityid,
        dataType:'json',
        success:function(re){

          var areaid = '';
          var areaname = '';
          $("#customer_area").empty();
          $("#customer_area").append("<option value='0'>请选择区</option>"); 
          for (var k in re){
            areaid = re[k].code;
            areaname = re[k].name;
            $("#customer_area").append("<option value='"+areaid+"'>"+areaname+"</option>");  
          }
        }
      })
    }
</script>
<script type="text/javascript">
    $(document).ready(function(){
        // 客户名称验证
        $("#customer_name").blur(function(){
            var cname = $("#customer_name").val();
            if(cname == ''){
                $("#name_notice").html("请填写客户名称！");
                $("#customer_name").focus();
            }else{
                $.ajax({
                    "url":"__APP__/Customer/checkCname", //发送ajax请求的地址
                    "type":"post",     //以post形式发送数据
                    "data":"cname="+cname,  
                    "success":function(response){
                         if(response==1){
                             $("#name_notice").html("客户名称已存在！");
                             $("#customer_name").focus();
                         }else if(response==2){
                             $("#name_notice").html("");
                         }
                    }
                });
            }
        });
        // 所在地区验证
        $("#customer_area").blur(function(){
            var pro = $("#customer_pro").val();
            var city = $("#customer_city").val();
            var area = $("#customer_area").val();
            if(pro==0 && city==0 && area==0){
                $("#address_notice").html("请选择客户所在地区！");
            }else if(pro==0 || city==0 || area==0){
                $("#address_notice").html("请填全客户所在地区！");
            }else{
                $("#address_notice").html("");
            }
        });
        // 详细地址验证
        $("#local_address").blur(function(){
            if(($("#local_address").val()) == ""){
                $("#street_notice").html("请填写客户具体街道信息！");
            }else{
                $("#street_notice").html("");
            }
        });
        // 联系人姓名
        $("#link_name").blur(function(){
            if(($("#link_name").val()) == ""){
                $("#linkman_notice").html("请填写联系人姓名！");
            }else{
                $("#linkman_notice").html("");
            }
        })
        // 联系人电话
        $("#link_phone").blur(function(){
            if(($("#link_phone").val()) == ""){
                $("#phone_notice").html("请填写联系人电话！");
            }else{
                $("#phone_notice").html("");
            }
        })
        // 提交时验证
        $("#submit").click(function(){
            //客户名称验证
            var customerName = $("#customer_name").val();
            if(customerName == ''){
                layer.msg("请输入客户名称！",{icon:7,time:2000});
                $("#name_notice").html("请填写客户名称！");
                $("#customer_name").focus();
                return false;
            }else{
                $.ajax({
                    "url":"__APP__/Customer/checkCname", //发送ajax请求的地址
                    "type":"post",     //以post形式发送数据
                    "data":"cname="+customerName,     
                    "success":function(response){
                         if(response==1){
                             $("#name_notice").html("客户名称已存在！");
                             $("#customer_name").focus();
                             return false;
                         }else if(response==2){
                             $("#name_notice").html("");
                         }
                    }
                });
            }
            // 客户所在地区
            var pro = $("#customer_pro").val();
            var city = $("#customer_city").val();
            var area = $("#customer_area").val();
            if(pro==0 && city==0 && area==0){
                $("#address_notice").html("请选择客户所在地区！");
                return false;
            }else if(pro==0 || city==0 || area==0){
                $("#address_notice").html("请填全客户所在地区！");
                return false;
            }
            //客户详细地址验证
            var local_address = $("#local_address").val();
            if(local_address == ''){
                $("#street_notice").html("请填写客户具体街道信息！");
                $("#local_address").focus();
                return false;
            }
            //联系人姓名验证
            var link_name = $("#link_name").val();
            if(link_name == ''){
                $("#linkman_notice").html("请填写联系人姓名！");
                $("#link_name").focus();
                return false;
            }
            //联系人电话验证
            var link_phone = $("#link_phone").val();
            if(link_phone == ''){
                $("#phone_notice").html("请填写联系人电话！");
                $("#link_phone").focus();
                return false;
            }
        });
    });
</script>
// <script type="text/javascript">
//     $(document).ready(function(){
//         $("#add_linkman").click(function(){
//             //客户名称验证
//             var linkman_hidden = $("#linkman_hidden").val();
//             alert(linkman_hidden);
//             // <label for="contact-name" class="am-u-sm-2 am-form-label">联系人
//             //                                 <span id="sname_notice" style="color:#FF0000"> *</span>
//             //                         </label>
//             //                         <div class="am-u-sm-4">
//             //                             <input type="tel" id="link_name" name="link_name" >
//             //                         </div>
//             $("#link_address_div").after("<label for='contact-name' class='am-u-sm-2 am-form-label'>联系人
//                                             <span id='sname_notice' style='color:#FF0000'> *</span>
//                                     </label>");

//             // if(cname == ''){
//             //     alert("客户名称不能为空！");
//             //     $("#cname").focus();
//             //     return false;
//             // }
//         });
        
//     });
// </script>

</body>

</html>